.emoji.emoji-people_and_body-hand_fingers_open-waving_hand::before {
  content: "👋";
}
.emoji.emoji-people_and_body-hand_fingers_open-raised_back_of_hand::before {
  content: "🤚";
}
.emoji.emoji-people_and_body-hand_fingers_open-hand_with_fingers_splayed::before {
  content: "🖐";
}
.emoji.emoji-people_and_body-hand_fingers_open-raised_hand::before {
  content: "✋";
}
.emoji.emoji-people_and_body-hand_fingers_open-vulcan_salute::before {
  content: "🖖";
}