.emoji.emoji-travel_and_places-transport_ground-locomotive::before {
  content: "🚂";
}
.emoji.emoji-travel_and_places-transport_ground-railway_car::before {
  content: "🚃";
}
.emoji.emoji-travel_and_places-transport_ground-high_speed_train::before {
  content: "🚄";
}
.emoji.emoji-travel_and_places-transport_ground-bullet_train::before {
  content: "🚅";
}
.emoji.emoji-travel_and_places-transport_ground-train::before {
  content: "🚆";
}
.emoji.emoji-travel_and_places-transport_ground-metro::before {
  content: "🚇";
}
.emoji.emoji-travel_and_places-transport_ground-light_rail::before {
  content: "🚈";
}
.emoji.emoji-travel_and_places-transport_ground-station::before {
  content: "🚉";
}
.emoji.emoji-travel_and_places-transport_ground-tram::before {
  content: "🚊";
}
.emoji.emoji-travel_and_places-transport_ground-monorail::before {
  content: "🚝";
}
.emoji.emoji-travel_and_places-transport_ground-mountain_railway::before {
  content: "🚞";
}
.emoji.emoji-travel_and_places-transport_ground-tram_car::before {
  content: "🚋";
}
.emoji.emoji-travel_and_places-transport_ground-bus::before {
  content: "🚌";
}
.emoji.emoji-travel_and_places-transport_ground-oncoming_bus::before {
  content: "🚍";
}
.emoji.emoji-travel_and_places-transport_ground-trolleybus::before {
  content: "🚎";
}
.emoji.emoji-travel_and_places-transport_ground-minibus::before {
  content: "🚐";
}
.emoji.emoji-travel_and_places-transport_ground-ambulance::before {
  content: "🚑";
}
.emoji.emoji-travel_and_places-transport_ground-fire_engine::before {
  content: "🚒";
}
.emoji.emoji-travel_and_places-transport_ground-police_car::before {
  content: "🚓";
}
.emoji.emoji-travel_and_places-transport_ground-oncoming_police_car::before {
  content: "🚔";
}
.emoji.emoji-travel_and_places-transport_ground-taxi::before {
  content: "🚕";
}
.emoji.emoji-travel_and_places-transport_ground-oncoming_taxi::before {
  content: "🚖";
}
.emoji.emoji-travel_and_places-transport_ground-automobile::before {
  content: "🚗";
}
.emoji.emoji-travel_and_places-transport_ground-oncoming_automobile::before {
  content: "🚘";
}
.emoji.emoji-travel_and_places-transport_ground-sport_utility_vehicle::before {
  content: "🚙";
}
.emoji.emoji-travel_and_places-transport_ground-delivery_truck::before {
  content: "🚚";
}
.emoji.emoji-travel_and_places-transport_ground-articulated_lorry::before {
  content: "🚛";
}
.emoji.emoji-travel_and_places-transport_ground-tractor::before {
  content: "🚜";
}
.emoji.emoji-travel_and_places-transport_ground-racing_car::before {
  content: "🏎";
}
.emoji.emoji-travel_and_places-transport_ground-motorcycle::before {
  content: "🏍";
}
.emoji.emoji-travel_and_places-transport_ground-motor_scooter::before {
  content: "🛵";
}
.emoji.emoji-travel_and_places-transport_ground-manual_wheelchair::before {
  content: "🦽";
}
.emoji.emoji-travel_and_places-transport_ground-motorized_wheelchair::before {
  content: "🦼";
}
.emoji.emoji-travel_and_places-transport_ground-auto_rickshaw::before {
  content: "🛺";
}
.emoji.emoji-travel_and_places-transport_ground-bicycle::before {
  content: "🚲";
}
.emoji.emoji-travel_and_places-transport_ground-kick_scooter::before {
  content: "🛴";
}
.emoji.emoji-travel_and_places-transport_ground-skateboard::before {
  content: "🛹";
}
.emoji.emoji-travel_and_places-transport_ground-bus_stop::before {
  content: "🚏";
}
.emoji.emoji-travel_and_places-transport_ground-motorway::before {
  content: "🛣";
}
.emoji.emoji-travel_and_places-transport_ground-railway_track::before {
  content: "🛤";
}
.emoji.emoji-travel_and_places-transport_ground-oil_drum::before {
  content: "🛢";
}
.emoji.emoji-travel_and_places-transport_ground-fuel_pump::before {
  content: "⛽";
}
.emoji.emoji-travel_and_places-transport_ground-police_car_light::before {
  content: "🚨";
}
.emoji.emoji-travel_and_places-transport_ground-horizontal_traffic_light::before {
  content: "🚥";
}
.emoji.emoji-travel_and_places-transport_ground-vertical_traffic_light::before {
  content: "🚦";
}
.emoji.emoji-travel_and_places-transport_ground-stop_sign::before {
  content: "🛑";
}
.emoji.emoji-travel_and_places-transport_ground-construction::before {
  content: "🚧";
}