.emoji.emoji-smileys_and_emotion-face_concerned-confused_face::before {
  content: "😕";
}
.emoji.emoji-smileys_and_emotion-face_concerned-worried_face::before {
  content: "😟";
}
.emoji.emoji-smileys_and_emotion-face_concerned-slightly_frowning_face::before {
  content: "🙁";
}
.emoji.emoji-smileys_and_emotion-face_concerned-frowning_face::before {
  content: "☹";
}
.emoji.emoji-smileys_and_emotion-face_concerned-face_with_open_mouth::before {
  content: "😮";
}
.emoji.emoji-smileys_and_emotion-face_concerned-hushed_face::before {
  content: "😯";
}
.emoji.emoji-smileys_and_emotion-face_concerned-astonished_face::before {
  content: "😲";
}
.emoji.emoji-smileys_and_emotion-face_concerned-flushed_face::before {
  content: "😳";
}
.emoji.emoji-smileys_and_emotion-face_concerned-pleading_face::before {
  content: "🥺";
}
.emoji.emoji-smileys_and_emotion-face_concerned-frowning_face_with_open_mouth::before {
  content: "😦";
}
.emoji.emoji-smileys_and_emotion-face_concerned-anguished_face::before {
  content: "😧";
}
.emoji.emoji-smileys_and_emotion-face_concerned-fearful_face::before {
  content: "😨";
}
.emoji.emoji-smileys_and_emotion-face_concerned-anxious_face_with_sweat::before {
  content: "😰";
}
.emoji.emoji-smileys_and_emotion-face_concerned-sad_but_relieved_face::before {
  content: "😥";
}
.emoji.emoji-smileys_and_emotion-face_concerned-crying_face::before {
  content: "😢";
}
.emoji.emoji-smileys_and_emotion-face_concerned-loudly_crying_face::before {
  content: "😭";
}
.emoji.emoji-smileys_and_emotion-face_concerned-face_screaming_in_fear::before {
  content: "😱";
}
.emoji.emoji-smileys_and_emotion-face_concerned-confounded_face::before {
  content: "😖";
}
.emoji.emoji-smileys_and_emotion-face_concerned-persevering_face::before {
  content: "😣";
}
.emoji.emoji-smileys_and_emotion-face_concerned-disappointed_face::before {
  content: "😞";
}
.emoji.emoji-smileys_and_emotion-face_concerned-downcast_face_with_sweat::before {
  content: "😓";
}
.emoji.emoji-smileys_and_emotion-face_concerned-weary_face::before {
  content: "😩";
}
.emoji.emoji-smileys_and_emotion-face_concerned-tired_face::before {
  content: "😫";
}
.emoji.emoji-smileys_and_emotion-face_concerned-yawning_face::before {
  content: "🥱";
}