.emoji.emoji-activities-award_medal-military_medal::before {
  content: "🎖";
}
.emoji.emoji-activities-award_medal-trophy::before {
  content: "🏆";
}
.emoji.emoji-activities-award_medal-sports_medal::before {
  content: "🏅";
}
.emoji.emoji-activities-award_medal-1st_place_medal::before {
  content: "🥇";
}
.emoji.emoji-activities-award_medal-2nd_place_medal::before {
  content: "🥈";
}
.emoji.emoji-activities-award_medal-3rd_place_medal::before {
  content: "🥉";
}