.emoji.emoji-people_and_body-person-baby::before {
  content: "👶";
}
.emoji.emoji-people_and_body-person-child::before {
  content: "🧒";
}
.emoji.emoji-people_and_body-person-boy::before {
  content: "👦";
}
.emoji.emoji-people_and_body-person-girl::before {
  content: "👧";
}
.emoji.emoji-people_and_body-person-person::before {
  content: "🧑";
}
.emoji.emoji-people_and_body-person-person_blond_hair::before {
  content: "👱";
}
.emoji.emoji-people_and_body-person-man::before {
  content: "👨";
}
.emoji.emoji-people_and_body-person-man_beard::before {
  content: "🧔";
}
.emoji.emoji-people_and_body-person-man_red_hair::before {
  content: "👨‍🦰";
}
.emoji.emoji-people_and_body-person-man_curly_hair::before {
  content: "👨‍🦱";
}
.emoji.emoji-people_and_body-person-man_white_hair::before {
  content: "👨‍🦳";
}
.emoji.emoji-people_and_body-person-man_bald::before {
  content: "👨‍🦲";
}
.emoji.emoji-people_and_body-person-woman::before {
  content: "👩";
}
.emoji.emoji-people_and_body-person-woman_red_hair::before {
  content: "👩‍🦰";
}
.emoji.emoji-people_and_body-person-_person_red_hair::before {
  content: "🧑‍🦰";
}
.emoji.emoji-people_and_body-person-woman_curly_hair::before {
  content: "👩‍🦱";
}
.emoji.emoji-people_and_body-person-_person_curly_hair::before {
  content: "🧑‍🦱";
}
.emoji.emoji-people_and_body-person-woman_white_hair::before {
  content: "👩‍🦳";
}
.emoji.emoji-people_and_body-person-_person_white_hair::before {
  content: "🧑‍🦳";
}
.emoji.emoji-people_and_body-person-woman_bald::before {
  content: "👩‍🦲";
}
.emoji.emoji-people_and_body-person-_person_bald::before {
  content: "🧑‍🦲";
}
.emoji.emoji-people_and_body-person-woman_blond_hair::before {
  content: "👱‍♀️";
}
.emoji.emoji-people_and_body-person-man_blond_hair::before {
  content: "👱‍♂️";
}
.emoji.emoji-people_and_body-person-older_person::before {
  content: "🧓";
}
.emoji.emoji-people_and_body-person-old_man::before {
  content: "👴";
}
.emoji.emoji-people_and_body-person-old_woman::before {
  content: "👵";
}