.emoji.emoji-objects-light_and_video-movie_camera::before {
  content: "🎥";
}
.emoji.emoji-objects-light_and_video-film_frames::before {
  content: "🎞";
}
.emoji.emoji-objects-light_and_video-film_projector::before {
  content: "📽";
}
.emoji.emoji-objects-light_and_video-clapper_board::before {
  content: "🎬";
}
.emoji.emoji-objects-light_and_video-television::before {
  content: "📺";
}
.emoji.emoji-objects-light_and_video-camera::before {
  content: "📷";
}
.emoji.emoji-objects-light_and_video-camera_with_flash::before {
  content: "📸";
}
.emoji.emoji-objects-light_and_video-video_camera::before {
  content: "📹";
}
.emoji.emoji-objects-light_and_video-videocassette::before {
  content: "📼";
}
.emoji.emoji-objects-light_and_video-magnifying_glass_tilted_left::before {
  content: "🔍";
}
.emoji.emoji-objects-light_and_video-magnifying_glass_tilted_right::before {
  content: "🔎";
}
.emoji.emoji-objects-light_and_video-candle::before {
  content: "🕯";
}
.emoji.emoji-objects-light_and_video-light_bulb::before {
  content: "💡";
}
.emoji.emoji-objects-light_and_video-flashlight::before {
  content: "🔦";
}
.emoji.emoji-objects-light_and_video-red_paper_lantern::before {
  content: "🏮";
}
.emoji.emoji-objects-light_and_video-diya_lamp::before {
  content: "🪔";
}