.emoji.emoji-travel_and_places-place_building-stadium::before {
  content: "🏟";
}
.emoji.emoji-travel_and_places-place_building-classical_building::before {
  content: "🏛";
}
.emoji.emoji-travel_and_places-place_building-building_construction::before {
  content: "🏗";
}
.emoji.emoji-travel_and_places-place_building-brick::before {
  content: "🧱";
}
.emoji.emoji-travel_and_places-place_building-houses::before {
  content: "🏘";
}
.emoji.emoji-travel_and_places-place_building-derelict_house::before {
  content: "🏚";
}
.emoji.emoji-travel_and_places-place_building-house::before {
  content: "🏠";
}
.emoji.emoji-travel_and_places-place_building-house_with_garden::before {
  content: "🏡";
}
.emoji.emoji-travel_and_places-place_building-office_building::before {
  content: "🏢";
}
.emoji.emoji-travel_and_places-place_building-japanese_post_office::before {
  content: "🏣";
}
.emoji.emoji-travel_and_places-place_building-post_office::before {
  content: "🏤";
}
.emoji.emoji-travel_and_places-place_building-hospital::before {
  content: "🏥";
}
.emoji.emoji-travel_and_places-place_building-bank::before {
  content: "🏦";
}
.emoji.emoji-travel_and_places-place_building-hotel::before {
  content: "🏨";
}
.emoji.emoji-travel_and_places-place_building-love_hotel::before {
  content: "🏩";
}
.emoji.emoji-travel_and_places-place_building-convenience_store::before {
  content: "🏪";
}
.emoji.emoji-travel_and_places-place_building-school::before {
  content: "🏫";
}
.emoji.emoji-travel_and_places-place_building-department_store::before {
  content: "🏬";
}
.emoji.emoji-travel_and_places-place_building-factory::before {
  content: "🏭";
}
.emoji.emoji-travel_and_places-place_building-japanese_castle::before {
  content: "🏯";
}
.emoji.emoji-travel_and_places-place_building-castle::before {
  content: "🏰";
}
.emoji.emoji-travel_and_places-place_building-wedding::before {
  content: "💒";
}
.emoji.emoji-travel_and_places-place_building-tokyo_tower::before {
  content: "🗼";
}
.emoji.emoji-travel_and_places-place_building-statue_of_liberty::before {
  content: "🗽";
}