.emoji.emoji-animals_and_nature-animal_mammal-monkey_face::before {
  content: "🐵";
}
.emoji.emoji-animals_and_nature-animal_mammal-monkey::before {
  content: "🐒";
}
.emoji.emoji-animals_and_nature-animal_mammal-gorilla::before {
  content: "🦍";
}
.emoji.emoji-animals_and_nature-animal_mammal-orangutan::before {
  content: "🦧";
}
.emoji.emoji-animals_and_nature-animal_mammal-dog_face::before {
  content: "🐶";
}
.emoji.emoji-animals_and_nature-animal_mammal-dog::before {
  content: "🐕";
}
.emoji.emoji-animals_and_nature-animal_mammal-guide_dog::before {
  content: "🦮";
}
.emoji.emoji-animals_and_nature-animal_mammal-service_dog::before {
  content: "🐕‍🦺";
}
.emoji.emoji-animals_and_nature-animal_mammal-poodle::before {
  content: "🐩";
}
.emoji.emoji-animals_and_nature-animal_mammal-wolf::before {
  content: "🐺";
}
.emoji.emoji-animals_and_nature-animal_mammal-fox::before {
  content: "🦊";
}
.emoji.emoji-animals_and_nature-animal_mammal-raccoon::before {
  content: "🦝";
}
.emoji.emoji-animals_and_nature-animal_mammal-cat_face::before {
  content: "🐱";
}
.emoji.emoji-animals_and_nature-animal_mammal-cat::before {
  content: "🐈";
}
.emoji.emoji-animals_and_nature-animal_mammal-lion::before {
  content: "🦁";
}
.emoji.emoji-animals_and_nature-animal_mammal-tiger_face::before {
  content: "🐯";
}
.emoji.emoji-animals_and_nature-animal_mammal-tiger::before {
  content: "🐅";
}
.emoji.emoji-animals_and_nature-animal_mammal-leopard::before {
  content: "🐆";
}
.emoji.emoji-animals_and_nature-animal_mammal-horse_face::before {
  content: "🐴";
}
.emoji.emoji-animals_and_nature-animal_mammal-horse::before {
  content: "🐎";
}
.emoji.emoji-animals_and_nature-animal_mammal-unicorn::before {
  content: "🦄";
}
.emoji.emoji-animals_and_nature-animal_mammal-zebra::before {
  content: "🦓";
}
.emoji.emoji-animals_and_nature-animal_mammal-deer::before {
  content: "🦌";
}
.emoji.emoji-animals_and_nature-animal_mammal-cow_face::before {
  content: "🐮";
}
.emoji.emoji-animals_and_nature-animal_mammal-ox::before {
  content: "🐂";
}
.emoji.emoji-animals_and_nature-animal_mammal-water_buffalo::before {
  content: "🐃";
}
.emoji.emoji-animals_and_nature-animal_mammal-cow::before {
  content: "🐄";
}
.emoji.emoji-animals_and_nature-animal_mammal-pig_face::before {
  content: "🐷";
}
.emoji.emoji-animals_and_nature-animal_mammal-pig::before {
  content: "🐖";
}
.emoji.emoji-animals_and_nature-animal_mammal-boar::before {
  content: "🐗";
}
.emoji.emoji-animals_and_nature-animal_mammal-pig_nose::before {
  content: "🐽";
}
.emoji.emoji-animals_and_nature-animal_mammal-ram::before {
  content: "🐏";
}
.emoji.emoji-animals_and_nature-animal_mammal-ewe::before {
  content: "🐑";
}
.emoji.emoji-animals_and_nature-animal_mammal-goat::before {
  content: "🐐";
}
.emoji.emoji-animals_and_nature-animal_mammal-camel::before {
  content: "🐪";
}
.emoji.emoji-animals_and_nature-animal_mammal-two_hump_camel::before {
  content: "🐫";
}
.emoji.emoji-animals_and_nature-animal_mammal-llama::before {
  content: "🦙";
}
.emoji.emoji-animals_and_nature-animal_mammal-giraffe::before {
  content: "🦒";
}
.emoji.emoji-animals_and_nature-animal_mammal-elephant::before {
  content: "🐘";
}
.emoji.emoji-animals_and_nature-animal_mammal-rhinoceros::before {
  content: "🦏";
}
.emoji.emoji-animals_and_nature-animal_mammal-hippopotamus::before {
  content: "🦛";
}
.emoji.emoji-animals_and_nature-animal_mammal-mouse_face::before {
  content: "🐭";
}
.emoji.emoji-animals_and_nature-animal_mammal-mouse::before {
  content: "🐁";
}
.emoji.emoji-animals_and_nature-animal_mammal-rat::before {
  content: "🐀";
}
.emoji.emoji-animals_and_nature-animal_mammal-hamster::before {
  content: "🐹";
}
.emoji.emoji-animals_and_nature-animal_mammal-rabbit_face::before {
  content: "🐰";
}
.emoji.emoji-animals_and_nature-animal_mammal-rabbit::before {
  content: "🐇";
}
.emoji.emoji-animals_and_nature-animal_mammal-chipmunk::before {
  content: "🐿";
}
.emoji.emoji-animals_and_nature-animal_mammal-hedgehog::before {
  content: "🦔";
}
.emoji.emoji-animals_and_nature-animal_mammal-bat::before {
  content: "🦇";
}
.emoji.emoji-animals_and_nature-animal_mammal-bear::before {
  content: "🐻";
}
.emoji.emoji-animals_and_nature-animal_mammal-koala::before {
  content: "🐨";
}
.emoji.emoji-animals_and_nature-animal_mammal-panda::before {
  content: "🐼";
}
.emoji.emoji-animals_and_nature-animal_mammal-sloth::before {
  content: "🦥";
}
.emoji.emoji-animals_and_nature-animal_mammal-otter::before {
  content: "🦦";
}
.emoji.emoji-animals_and_nature-animal_mammal-skunk::before {
  content: "🦨";
}
.emoji.emoji-animals_and_nature-animal_mammal-kangaroo::before {
  content: "🦘";
}
.emoji.emoji-animals_and_nature-animal_mammal-badger::before {
  content: "🦡";
}
.emoji.emoji-animals_and_nature-animal_mammal-paw_prints::before {
  content: "🐾";
}