.emoji.emoji-objects-tool-hammer::before {
  content: "🔨";
}
.emoji.emoji-objects-tool-axe::before {
  content: "🪓";
}
.emoji.emoji-objects-tool-pick::before {
  content: "⛏";
}
.emoji.emoji-objects-tool-hammer_and_pick::before {
  content: "⚒";
}
.emoji.emoji-objects-tool-hammer_and_wrench::before {
  content: "🛠";
}
.emoji.emoji-objects-tool-dagger::before {
  content: "🗡";
}
.emoji.emoji-objects-tool-crossed_swords::before {
  content: "⚔";
}
.emoji.emoji-objects-tool-pistol::before {
  content: "🔫";
}
.emoji.emoji-objects-tool-bow_and_arrow::before {
  content: "🏹";
}
.emoji.emoji-objects-tool-shield::before {
  content: "🛡";
}
.emoji.emoji-objects-tool-wrench::before {
  content: "🔧";
}
.emoji.emoji-objects-tool-nut_and_bolt::before {
  content: "🔩";
}
.emoji.emoji-objects-tool-gear::before {
  content: "⚙";
}
.emoji.emoji-objects-tool-clamp::before {
  content: "🗜";
}
.emoji.emoji-objects-tool-balance_scale::before {
  content: "⚖";
}
.emoji.emoji-objects-tool-white_cane::before {
  content: "🦯";
}
.emoji.emoji-objects-tool-link::before {
  content: "🔗";
}
.emoji.emoji-objects-tool-chains::before {
  content: "⛓";
}
.emoji.emoji-objects-tool-toolbox::before {
  content: "🧰";
}
.emoji.emoji-objects-tool-magnet::before {
  content: "🧲";
}