.emoji.emoji-smileys_and_emotion-emotion-kiss_mark::before {
  content: "💋";
}
.emoji.emoji-smileys_and_emotion-emotion-love_letter::before {
  content: "💌";
}
.emoji.emoji-smileys_and_emotion-emotion-heart_with_arrow::before {
  content: "💘";
}
.emoji.emoji-smileys_and_emotion-emotion-heart_with_ribbon::before {
  content: "💝";
}
.emoji.emoji-smileys_and_emotion-emotion-sparkling_heart::before {
  content: "💖";
}
.emoji.emoji-smileys_and_emotion-emotion-growing_heart::before {
  content: "💗";
}
.emoji.emoji-smileys_and_emotion-emotion-beating_heart::before {
  content: "💓";
}
.emoji.emoji-smileys_and_emotion-emotion-revolving_hearts::before {
  content: "💞";
}
.emoji.emoji-smileys_and_emotion-emotion-two_hearts::before {
  content: "💕";
}
.emoji.emoji-smileys_and_emotion-emotion-heart_decoration::before {
  content: "💟";
}
.emoji.emoji-smileys_and_emotion-emotion-heart_exclamation::before {
  content: "❣";
}
.emoji.emoji-smileys_and_emotion-emotion-broken_heart::before {
  content: "💔";
}
.emoji.emoji-smileys_and_emotion-emotion-red_heart::before {
  content: "❤";
}
.emoji.emoji-smileys_and_emotion-emotion-orange_heart::before {
  content: "🧡";
}
.emoji.emoji-smileys_and_emotion-emotion-yellow_heart::before {
  content: "💛";
}
.emoji.emoji-smileys_and_emotion-emotion-green_heart::before {
  content: "💚";
}
.emoji.emoji-smileys_and_emotion-emotion-blue_heart::before {
  content: "💙";
}
.emoji.emoji-smileys_and_emotion-emotion-purple_heart::before {
  content: "💜";
}
.emoji.emoji-smileys_and_emotion-emotion-brown_heart::before {
  content: "🤎";
}
.emoji.emoji-smileys_and_emotion-emotion-black_heart::before {
  content: "🖤";
}
.emoji.emoji-smileys_and_emotion-emotion-white_heart::before {
  content: "🤍";
}
.emoji.emoji-smileys_and_emotion-emotion-hundred_points::before {
  content: "💯";
}
.emoji.emoji-smileys_and_emotion-emotion-anger_symbol::before {
  content: "💢";
}
.emoji.emoji-smileys_and_emotion-emotion-collision::before {
  content: "💥";
}
.emoji.emoji-smileys_and_emotion-emotion-dizzy::before {
  content: "💫";
}
.emoji.emoji-smileys_and_emotion-emotion-sweat_droplets::before {
  content: "💦";
}
.emoji.emoji-smileys_and_emotion-emotion-dashing_away::before {
  content: "💨";
}
.emoji.emoji-smileys_and_emotion-emotion-hole::before {
  content: "🕳";
}
.emoji.emoji-smileys_and_emotion-emotion-bomb::before {
  content: "💣";
}
.emoji.emoji-smileys_and_emotion-emotion-speech_balloon::before {
  content: "💬";
}
.emoji.emoji-smileys_and_emotion-emotion-eye_in_speech_bubble::before {
  content: "👁️‍🗨️";
}
.emoji.emoji-smileys_and_emotion-emotion-left_speech_bubble::before {
  content: "🗨";
}
.emoji.emoji-smileys_and_emotion-emotion-right_anger_bubble::before {
  content: "🗯";
}
.emoji.emoji-smileys_and_emotion-emotion-thought_balloon::before {
  content: "💭";
}
.emoji.emoji-smileys_and_emotion-emotion-zzz::before {
  content: "💤";
}