.emoji.emoji-smileys_and_emotion-face_costume-pile_of_poo::before {
  content: "💩";
}
.emoji.emoji-smileys_and_emotion-face_costume-clown_face::before {
  content: "🤡";
}
.emoji.emoji-smileys_and_emotion-face_costume-ogre::before {
  content: "👹";
}
.emoji.emoji-smileys_and_emotion-face_costume-goblin::before {
  content: "👺";
}
.emoji.emoji-smileys_and_emotion-face_costume-ghost::before {
  content: "👻";
}
.emoji.emoji-smileys_and_emotion-face_costume-alien::before {
  content: "👽";
}
.emoji.emoji-smileys_and_emotion-face_costume-alien_monster::before {
  content: "👾";
}
.emoji.emoji-smileys_and_emotion-face_costume-robot::before {
  content: "🤖";
}