.emoji.emoji-food_and_drink-food_fruit-grapes::before {
  content: "🍇";
}
.emoji.emoji-food_and_drink-food_fruit-melon::before {
  content: "🍈";
}
.emoji.emoji-food_and_drink-food_fruit-watermelon::before {
  content: "🍉";
}
.emoji.emoji-food_and_drink-food_fruit-tangerine::before {
  content: "🍊";
}
.emoji.emoji-food_and_drink-food_fruit-lemon::before {
  content: "🍋";
}
.emoji.emoji-food_and_drink-food_fruit-banana::before {
  content: "🍌";
}
.emoji.emoji-food_and_drink-food_fruit-pineapple::before {
  content: "🍍";
}
.emoji.emoji-food_and_drink-food_fruit-mango::before {
  content: "🥭";
}
.emoji.emoji-food_and_drink-food_fruit-red_apple::before {
  content: "🍎";
}
.emoji.emoji-food_and_drink-food_fruit-green_apple::before {
  content: "🍏";
}
.emoji.emoji-food_and_drink-food_fruit-pear::before {
  content: "🍐";
}
.emoji.emoji-food_and_drink-food_fruit-peach::before {
  content: "🍑";
}
.emoji.emoji-food_and_drink-food_fruit-cherries::before {
  content: "🍒";
}
.emoji.emoji-food_and_drink-food_fruit-strawberry::before {
  content: "🍓";
}
.emoji.emoji-food_and_drink-food_fruit-kiwi_fruit::before {
  content: "🥝";
}
.emoji.emoji-food_and_drink-food_fruit-tomato::before {
  content: "🍅";
}
.emoji.emoji-food_and_drink-food_fruit-coconut::before {
  content: "🥥";
}