.emoji.emoji-objects-book_paper-notebook_with_decorative_cover::before {
  content: "📔";
}
.emoji.emoji-objects-book_paper-closed_book::before {
  content: "📕";
}
.emoji.emoji-objects-book_paper-open_book::before {
  content: "📖";
}
.emoji.emoji-objects-book_paper-green_book::before {
  content: "📗";
}
.emoji.emoji-objects-book_paper-blue_book::before {
  content: "📘";
}
.emoji.emoji-objects-book_paper-orange_book::before {
  content: "📙";
}
.emoji.emoji-objects-book_paper-books::before {
  content: "📚";
}
.emoji.emoji-objects-book_paper-notebook::before {
  content: "📓";
}
.emoji.emoji-objects-book_paper-ledger::before {
  content: "📒";
}
.emoji.emoji-objects-book_paper-page_with_curl::before {
  content: "📃";
}
.emoji.emoji-objects-book_paper-scroll::before {
  content: "📜";
}
.emoji.emoji-objects-book_paper-page_facing_up::before {
  content: "📄";
}
.emoji.emoji-objects-book_paper-newspaper::before {
  content: "📰";
}
.emoji.emoji-objects-book_paper-rolled_up_newspaper::before {
  content: "🗞";
}
.emoji.emoji-objects-book_paper-bookmark_tabs::before {
  content: "📑";
}
.emoji.emoji-objects-book_paper-bookmark::before {
  content: "🔖";
}
.emoji.emoji-objects-book_paper-label::before {
  content: "🏷";
}