.emoji.emoji-food_and_drink-food_vegetable-avocado::before {
  content: "🥑";
}
.emoji.emoji-food_and_drink-food_vegetable-eggplant::before {
  content: "🍆";
}
.emoji.emoji-food_and_drink-food_vegetable-potato::before {
  content: "🥔";
}
.emoji.emoji-food_and_drink-food_vegetable-carrot::before {
  content: "🥕";
}
.emoji.emoji-food_and_drink-food_vegetable-ear_of_corn::before {
  content: "🌽";
}
.emoji.emoji-food_and_drink-food_vegetable-hot_pepper::before {
  content: "🌶";
}
.emoji.emoji-food_and_drink-food_vegetable-cucumber::before {
  content: "🥒";
}
.emoji.emoji-food_and_drink-food_vegetable-leafy_green::before {
  content: "🥬";
}
.emoji.emoji-food_and_drink-food_vegetable-broccoli::before {
  content: "🥦";
}
.emoji.emoji-food_and_drink-food_vegetable-garlic::before {
  content: "🧄";
}
.emoji.emoji-food_and_drink-food_vegetable-onion::before {
  content: "🧅";
}
.emoji.emoji-food_and_drink-food_vegetable-mushroom::before {
  content: "🍄";
}
.emoji.emoji-food_and_drink-food_vegetable-peanuts::before {
  content: "🥜";
}
.emoji.emoji-food_and_drink-food_vegetable-chestnut::before {
  content: "🌰";
}