.emoji.emoji-animals_and_nature-animal_marine-spouting_whale::before {
  content: "🐳";
}
.emoji.emoji-animals_and_nature-animal_marine-whale::before {
  content: "🐋";
}
.emoji.emoji-animals_and_nature-animal_marine-dolphin::before {
  content: "🐬";
}
.emoji.emoji-animals_and_nature-animal_marine-fish::before {
  content: "🐟";
}
.emoji.emoji-animals_and_nature-animal_marine-tropical_fish::before {
  content: "🐠";
}
.emoji.emoji-animals_and_nature-animal_marine-blowfish::before {
  content: "🐡";
}
.emoji.emoji-animals_and_nature-animal_marine-shark::before {
  content: "🦈";
}
.emoji.emoji-animals_and_nature-animal_marine-octopus::before {
  content: "🐙";
}
.emoji.emoji-animals_and_nature-animal_marine-spiral_shell::before {
  content: "🐚";
}