.emoji.emoji-people_and_body-person_role-_health_worker::before {
  content: "🧑‍⚕️";
}
.emoji.emoji-people_and_body-person_role-man_health_worker::before {
  content: "👨‍⚕️";
}
.emoji.emoji-people_and_body-person_role-woman_health_worker::before {
  content: "👩‍⚕️";
}
.emoji.emoji-people_and_body-person_role-_student::before {
  content: "🧑‍🎓";
}
.emoji.emoji-people_and_body-person_role-man_student::before {
  content: "👨‍🎓";
}
.emoji.emoji-people_and_body-person_role-woman_student::before {
  content: "👩‍🎓";
}
.emoji.emoji-people_and_body-person_role-_teacher::before {
  content: "🧑‍🏫";
}
.emoji.emoji-people_and_body-person_role-man_teacher::before {
  content: "👨‍🏫";
}
.emoji.emoji-people_and_body-person_role-woman_teacher::before {
  content: "👩‍🏫";
}
.emoji.emoji-people_and_body-person_role-_judge::before {
  content: "🧑‍⚖️";
}
.emoji.emoji-people_and_body-person_role-man_judge::before {
  content: "👨‍⚖️";
}
.emoji.emoji-people_and_body-person_role-woman_judge::before {
  content: "👩‍⚖️";
}
.emoji.emoji-people_and_body-person_role-_farmer::before {
  content: "🧑‍🌾";
}
.emoji.emoji-people_and_body-person_role-man_farmer::before {
  content: "👨‍🌾";
}
.emoji.emoji-people_and_body-person_role-woman_farmer::before {
  content: "👩‍🌾";
}
.emoji.emoji-people_and_body-person_role-_cook::before {
  content: "🧑‍🍳";
}
.emoji.emoji-people_and_body-person_role-man_cook::before {
  content: "👨‍🍳";
}
.emoji.emoji-people_and_body-person_role-woman_cook::before {
  content: "👩‍🍳";
}
.emoji.emoji-people_and_body-person_role-_mechanic::before {
  content: "🧑‍🔧";
}
.emoji.emoji-people_and_body-person_role-man_mechanic::before {
  content: "👨‍🔧";
}
.emoji.emoji-people_and_body-person_role-woman_mechanic::before {
  content: "👩‍🔧";
}
.emoji.emoji-people_and_body-person_role-_factory_worker::before {
  content: "🧑‍🏭";
}
.emoji.emoji-people_and_body-person_role-man_factory_worker::before {
  content: "👨‍🏭";
}
.emoji.emoji-people_and_body-person_role-woman_factory_worker::before {
  content: "👩‍🏭";
}
.emoji.emoji-people_and_body-person_role-_office_worker::before {
  content: "🧑‍💼";
}
.emoji.emoji-people_and_body-person_role-man_office_worker::before {
  content: "👨‍💼";
}
.emoji.emoji-people_and_body-person_role-woman_office_worker::before {
  content: "👩‍💼";
}
.emoji.emoji-people_and_body-person_role-_scientist::before {
  content: "🧑‍🔬";
}
.emoji.emoji-people_and_body-person_role-man_scientist::before {
  content: "👨‍🔬";
}
.emoji.emoji-people_and_body-person_role-woman_scientist::before {
  content: "👩‍🔬";
}
.emoji.emoji-people_and_body-person_role-_technologist::before {
  content: "🧑‍💻";
}
.emoji.emoji-people_and_body-person_role-man_technologist::before {
  content: "👨‍💻";
}
.emoji.emoji-people_and_body-person_role-woman_technologist::before {
  content: "👩‍💻";
}
.emoji.emoji-people_and_body-person_role-_singer::before {
  content: "🧑‍🎤";
}
.emoji.emoji-people_and_body-person_role-man_singer::before {
  content: "👨‍🎤";
}
.emoji.emoji-people_and_body-person_role-woman_singer::before {
  content: "👩‍🎤";
}
.emoji.emoji-people_and_body-person_role-_artist::before {
  content: "🧑‍🎨";
}
.emoji.emoji-people_and_body-person_role-man_artist::before {
  content: "👨‍🎨";
}
.emoji.emoji-people_and_body-person_role-woman_artist::before {
  content: "👩‍🎨";
}
.emoji.emoji-people_and_body-person_role-_pilot::before {
  content: "🧑‍✈️";
}
.emoji.emoji-people_and_body-person_role-man_pilot::before {
  content: "👨‍✈️";
}
.emoji.emoji-people_and_body-person_role-woman_pilot::before {
  content: "👩‍✈️";
}
.emoji.emoji-people_and_body-person_role-_astronaut::before {
  content: "🧑‍🚀";
}
.emoji.emoji-people_and_body-person_role-man_astronaut::before {
  content: "👨‍🚀";
}
.emoji.emoji-people_and_body-person_role-woman_astronaut::before {
  content: "👩‍🚀";
}
.emoji.emoji-people_and_body-person_role-_firefighter::before {
  content: "🧑‍🚒";
}
.emoji.emoji-people_and_body-person_role-man_firefighter::before {
  content: "👨‍🚒";
}
.emoji.emoji-people_and_body-person_role-woman_firefighter::before {
  content: "👩‍🚒";
}
.emoji.emoji-people_and_body-person_role-police_officer::before {
  content: "👮";
}
.emoji.emoji-people_and_body-person_role-man_police_officer::before {
  content: "👮‍♂️";
}
.emoji.emoji-people_and_body-person_role-woman_police_officer::before {
  content: "👮‍♀️";
}
.emoji.emoji-people_and_body-person_role-detective::before {
  content: "🕵";
}
.emoji.emoji-people_and_body-person_role-man_detective::before {
  content: "🕵️‍♂️";
}
.emoji.emoji-people_and_body-person_role-woman_detective::before {
  content: "🕵️‍♀️";
}
.emoji.emoji-people_and_body-person_role-guard::before {
  content: "💂";
}
.emoji.emoji-people_and_body-person_role-man_guard::before {
  content: "💂‍♂️";
}
.emoji.emoji-people_and_body-person_role-woman_guard::before {
  content: "💂‍♀️";
}
.emoji.emoji-people_and_body-person_role-construction_worker::before {
  content: "👷";
}
.emoji.emoji-people_and_body-person_role-man_construction_worker::before {
  content: "👷‍♂️";
}
.emoji.emoji-people_and_body-person_role-woman_construction_worker::before {
  content: "👷‍♀️";
}
.emoji.emoji-people_and_body-person_role-prince::before {
  content: "🤴";
}
.emoji.emoji-people_and_body-person_role-princess::before {
  content: "👸";
}
.emoji.emoji-people_and_body-person_role-person_wearing_turban::before {
  content: "👳";
}
.emoji.emoji-people_and_body-person_role-man_wearing_turban::before {
  content: "👳‍♂️";
}
.emoji.emoji-people_and_body-person_role-woman_wearing_turban::before {
  content: "👳‍♀️";
}
.emoji.emoji-people_and_body-person_role-person_with_skullcap::before {
  content: "👲";
}
.emoji.emoji-people_and_body-person_role-woman_with_headscarf::before {
  content: "🧕";
}
.emoji.emoji-people_and_body-person_role-person_in_tuxedo::before {
  content: "🤵";
}
.emoji.emoji-people_and_body-person_role-person_with_veil::before {
  content: "👰";
}
.emoji.emoji-people_and_body-person_role-pregnant_woman::before {
  content: "🤰";
}
.emoji.emoji-people_and_body-person_role-breast_feeding::before {
  content: "🤱";
}