.emoji.emoji-people_and_body-person_activity-person_getting_massage::before {
  content: "💆";
}
.emoji.emoji-people_and_body-person_activity-man_getting_massage::before {
  content: "💆‍♂️";
}
.emoji.emoji-people_and_body-person_activity-woman_getting_massage::before {
  content: "💆‍♀️";
}
.emoji.emoji-people_and_body-person_activity-person_getting_haircut::before {
  content: "💇";
}
.emoji.emoji-people_and_body-person_activity-man_getting_haircut::before {
  content: "💇‍♂️";
}
.emoji.emoji-people_and_body-person_activity-woman_getting_haircut::before {
  content: "💇‍♀️";
}
.emoji.emoji-people_and_body-person_activity-person_walking::before {
  content: "🚶";
}
.emoji.emoji-people_and_body-person_activity-man_walking::before {
  content: "🚶‍♂️";
}
.emoji.emoji-people_and_body-person_activity-woman_walking::before {
  content: "🚶‍♀️";
}
.emoji.emoji-people_and_body-person_activity-person_standing::before {
  content: "🧍";
}
.emoji.emoji-people_and_body-person_activity-man_standing::before {
  content: "🧍‍♂️";
}
.emoji.emoji-people_and_body-person_activity-woman_standing::before {
  content: "🧍‍♀️";
}
.emoji.emoji-people_and_body-person_activity-person_kneeling::before {
  content: "🧎";
}
.emoji.emoji-people_and_body-person_activity-man_kneeling::before {
  content: "🧎‍♂️";
}
.emoji.emoji-people_and_body-person_activity-woman_kneeling::before {
  content: "🧎‍♀️";
}
.emoji.emoji-people_and_body-person_activity-_person_with_white_cane::before {
  content: "🧑‍🦯";
}
.emoji.emoji-people_and_body-person_activity-man_with_white_cane::before {
  content: "👨‍🦯";
}
.emoji.emoji-people_and_body-person_activity-woman_with_white_cane::before {
  content: "👩‍🦯";
}
.emoji.emoji-people_and_body-person_activity-_person_in_motorized_wheelchair::before {
  content: "🧑‍🦼";
}
.emoji.emoji-people_and_body-person_activity-man_in_motorized_wheelchair::before {
  content: "👨‍🦼";
}
.emoji.emoji-people_and_body-person_activity-woman_in_motorized_wheelchair::before {
  content: "👩‍🦼";
}
.emoji.emoji-people_and_body-person_activity-_person_in_manual_wheelchair::before {
  content: "🧑‍🦽";
}
.emoji.emoji-people_and_body-person_activity-man_in_manual_wheelchair::before {
  content: "👨‍🦽";
}
.emoji.emoji-people_and_body-person_activity-woman_in_manual_wheelchair::before {
  content: "👩‍🦽";
}
.emoji.emoji-people_and_body-person_activity-person_running::before {
  content: "🏃";
}
.emoji.emoji-people_and_body-person_activity-man_running::before {
  content: "🏃‍♂️";
}
.emoji.emoji-people_and_body-person_activity-woman_running::before {
  content: "🏃‍♀️";
}
.emoji.emoji-people_and_body-person_activity-woman_dancing::before {
  content: "💃";
}
.emoji.emoji-people_and_body-person_activity-man_dancing::before {
  content: "🕺";
}
.emoji.emoji-people_and_body-person_activity-person_in_suit_levitating::before {
  content: "🕴";
}
.emoji.emoji-people_and_body-person_activity-people_with_bunny_ears::before {
  content: "👯";
}
.emoji.emoji-people_and_body-person_activity-men_with_bunny_ears::before {
  content: "👯‍♂️";
}
.emoji.emoji-people_and_body-person_activity-women_with_bunny_ears::before {
  content: "👯‍♀️";
}
.emoji.emoji-people_and_body-person_activity-person_in_steamy_room::before {
  content: "🧖";
}
.emoji.emoji-people_and_body-person_activity-man_in_steamy_room::before {
  content: "🧖‍♂️";
}
.emoji.emoji-people_and_body-person_activity-woman_in_steamy_room::before {
  content: "🧖‍♀️";
}
.emoji.emoji-people_and_body-person_activity-person_climbing::before {
  content: "🧗";
}
.emoji.emoji-people_and_body-person_activity-man_climbing::before {
  content: "🧗‍♂️";
}
.emoji.emoji-people_and_body-person_activity-woman_climbing::before {
  content: "🧗‍♀️";
}