.emoji.emoji-people_and_body-person_fantasy-baby_angel::before {
  content: "👼";
}
.emoji.emoji-people_and_body-person_fantasy-santa_claus::before {
  content: "🎅";
}
.emoji.emoji-people_and_body-person_fantasy-mrs_claus::before {
  content: "🤶";
}
.emoji.emoji-people_and_body-person_fantasy-superhero::before {
  content: "🦸";
}
.emoji.emoji-people_and_body-person_fantasy-man_superhero::before {
  content: "🦸‍♂️";
}
.emoji.emoji-people_and_body-person_fantasy-woman_superhero::before {
  content: "🦸‍♀️";
}
.emoji.emoji-people_and_body-person_fantasy-supervillain::before {
  content: "🦹";
}
.emoji.emoji-people_and_body-person_fantasy-man_supervillain::before {
  content: "🦹‍♂️";
}
.emoji.emoji-people_and_body-person_fantasy-woman_supervillain::before {
  content: "🦹‍♀️";
}
.emoji.emoji-people_and_body-person_fantasy-mage::before {
  content: "🧙";
}
.emoji.emoji-people_and_body-person_fantasy-man_mage::before {
  content: "🧙‍♂️";
}
.emoji.emoji-people_and_body-person_fantasy-woman_mage::before {
  content: "🧙‍♀️";
}
.emoji.emoji-people_and_body-person_fantasy-fairy::before {
  content: "🧚";
}
.emoji.emoji-people_and_body-person_fantasy-man_fairy::before {
  content: "🧚‍♂️";
}
.emoji.emoji-people_and_body-person_fantasy-woman_fairy::before {
  content: "🧚‍♀️";
}
.emoji.emoji-people_and_body-person_fantasy-vampire::before {
  content: "🧛";
}
.emoji.emoji-people_and_body-person_fantasy-man_vampire::before {
  content: "🧛‍♂️";
}
.emoji.emoji-people_and_body-person_fantasy-woman_vampire::before {
  content: "🧛‍♀️";
}
.emoji.emoji-people_and_body-person_fantasy-merperson::before {
  content: "🧜";
}
.emoji.emoji-people_and_body-person_fantasy-merman::before {
  content: "🧜‍♂️";
}
.emoji.emoji-people_and_body-person_fantasy-mermaid::before {
  content: "🧜‍♀️";
}
.emoji.emoji-people_and_body-person_fantasy-elf::before {
  content: "🧝";
}
.emoji.emoji-people_and_body-person_fantasy-man_elf::before {
  content: "🧝‍♂️";
}
.emoji.emoji-people_and_body-person_fantasy-woman_elf::before {
  content: "🧝‍♀️";
}
.emoji.emoji-people_and_body-person_fantasy-genie::before {
  content: "🧞";
}
.emoji.emoji-people_and_body-person_fantasy-man_genie::before {
  content: "🧞‍♂️";
}
.emoji.emoji-people_and_body-person_fantasy-woman_genie::before {
  content: "🧞‍♀️";
}
.emoji.emoji-people_and_body-person_fantasy-zombie::before {
  content: "🧟";
}
.emoji.emoji-people_and_body-person_fantasy-man_zombie::before {
  content: "🧟‍♂️";
}
.emoji.emoji-people_and_body-person_fantasy-woman_zombie::before {
  content: "🧟‍♀️";
}