.emoji.emoji-food_and_drink-food_asian-bento_box::before {
  content: "🍱";
}
.emoji.emoji-food_and_drink-food_asian-rice_cracker::before {
  content: "🍘";
}
.emoji.emoji-food_and_drink-food_asian-rice_ball::before {
  content: "🍙";
}
.emoji.emoji-food_and_drink-food_asian-cooked_rice::before {
  content: "🍚";
}
.emoji.emoji-food_and_drink-food_asian-curry_rice::before {
  content: "🍛";
}
.emoji.emoji-food_and_drink-food_asian-steaming_bowl::before {
  content: "🍜";
}
.emoji.emoji-food_and_drink-food_asian-spaghetti::before {
  content: "🍝";
}
.emoji.emoji-food_and_drink-food_asian-roasted_sweet_potato::before {
  content: "🍠";
}
.emoji.emoji-food_and_drink-food_asian-oden::before {
  content: "🍢";
}
.emoji.emoji-food_and_drink-food_asian-sushi::before {
  content: "🍣";
}
.emoji.emoji-food_and_drink-food_asian-fried_shrimp::before {
  content: "🍤";
}
.emoji.emoji-food_and_drink-food_asian-fish_cake_with_swirl::before {
  content: "🍥";
}
.emoji.emoji-food_and_drink-food_asian-moon_cake::before {
  content: "🥮";
}
.emoji.emoji-food_and_drink-food_asian-dango::before {
  content: "🍡";
}
.emoji.emoji-food_and_drink-food_asian-dumpling::before {
  content: "🥟";
}
.emoji.emoji-food_and_drink-food_asian-fortune_cookie::before {
  content: "🥠";
}
.emoji.emoji-food_and_drink-food_asian-takeout_box::before {
  content: "🥡";
}