.emoji.emoji-symbols-geometric-red_circle::before {
  content: "🔴";
}
.emoji.emoji-symbols-geometric-orange_circle::before {
  content: "🟠";
}
.emoji.emoji-symbols-geometric-yellow_circle::before {
  content: "🟡";
}
.emoji.emoji-symbols-geometric-green_circle::before {
  content: "🟢";
}
.emoji.emoji-symbols-geometric-blue_circle::before {
  content: "🔵";
}
.emoji.emoji-symbols-geometric-purple_circle::before {
  content: "🟣";
}
.emoji.emoji-symbols-geometric-brown_circle::before {
  content: "🟤";
}
.emoji.emoji-symbols-geometric-black_circle::before {
  content: "⚫";
}
.emoji.emoji-symbols-geometric-white_circle::before {
  content: "⚪";
}
.emoji.emoji-symbols-geometric-red_square::before {
  content: "🟥";
}
.emoji.emoji-symbols-geometric-orange_square::before {
  content: "🟧";
}
.emoji.emoji-symbols-geometric-yellow_square::before {
  content: "🟨";
}
.emoji.emoji-symbols-geometric-green_square::before {
  content: "🟩";
}
.emoji.emoji-symbols-geometric-blue_square::before {
  content: "🟦";
}
.emoji.emoji-symbols-geometric-purple_square::before {
  content: "🟪";
}
.emoji.emoji-symbols-geometric-brown_square::before {
  content: "🟫";
}
.emoji.emoji-symbols-geometric-black_large_square::before {
  content: "⬛";
}
.emoji.emoji-symbols-geometric-white_large_square::before {
  content: "⬜";
}
.emoji.emoji-symbols-geometric-black_medium_square::before {
  content: "◼";
}
.emoji.emoji-symbols-geometric-white_medium_square::before {
  content: "◻";
}
.emoji.emoji-symbols-geometric-black_medium_small_square::before {
  content: "◾";
}
.emoji.emoji-symbols-geometric-white_medium_small_square::before {
  content: "◽";
}
.emoji.emoji-symbols-geometric-black_small_square::before {
  content: "▪";
}
.emoji.emoji-symbols-geometric-white_small_square::before {
  content: "▫";
}
.emoji.emoji-symbols-geometric-large_orange_diamond::before {
  content: "🔶";
}
.emoji.emoji-symbols-geometric-large_blue_diamond::before {
  content: "🔷";
}
.emoji.emoji-symbols-geometric-small_orange_diamond::before {
  content: "🔸";
}
.emoji.emoji-symbols-geometric-small_blue_diamond::before {
  content: "🔹";
}
.emoji.emoji-symbols-geometric-red_triangle_pointed_up::before {
  content: "🔺";
}
.emoji.emoji-symbols-geometric-red_triangle_pointed_down::before {
  content: "🔻";
}
.emoji.emoji-symbols-geometric-diamond_with_a_dot::before {
  content: "💠";
}
.emoji.emoji-symbols-geometric-radio_button::before {
  content: "🔘";
}
.emoji.emoji-symbols-geometric-white_square_button::before {
  content: "🔳";
}
.emoji.emoji-symbols-geometric-black_square_button::before {
  content: "🔲";
}