.emoji.emoji-activities-game-direct_hit::before {
  content: "🎯";
}
.emoji.emoji-activities-game-yo_yo::before {
  content: "🪀";
}
.emoji.emoji-activities-game-kite::before {
  content: "🪁";
}
.emoji.emoji-activities-game-pool_8_ball::before {
  content: "🎱";
}
.emoji.emoji-activities-game-crystal_ball::before {
  content: "🔮";
}
.emoji.emoji-activities-game-nazar_amulet::before {
  content: "🧿";
}
.emoji.emoji-activities-game-video_game::before {
  content: "🎮";
}
.emoji.emoji-activities-game-joystick::before {
  content: "🕹";
}
.emoji.emoji-activities-game-slot_machine::before {
  content: "🎰";
}
.emoji.emoji-activities-game-game_die::before {
  content: "🎲";
}
.emoji.emoji-activities-game-puzzle_piece::before {
  content: "🧩";
}
.emoji.emoji-activities-game-teddy_bear::before {
  content: "🧸";
}
.emoji.emoji-activities-game-spade_suit::before {
  content: "♠";
}
.emoji.emoji-activities-game-heart_suit::before {
  content: "♥";
}
.emoji.emoji-activities-game-diamond_suit::before {
  content: "♦";
}
.emoji.emoji-activities-game-club_suit::before {
  content: "♣";
}
.emoji.emoji-activities-game-chess_pawn::before {
  content: "♟";
}
.emoji.emoji-activities-game-joker::before {
  content: "🃏";
}
.emoji.emoji-activities-game-mahjong_red_dragon::before {
  content: "🀄";
}
.emoji.emoji-activities-game-flower_playing_cards::before {
  content: "🎴";
}