.emoji.emoji-people_and_body-person_gesture-person_frowning::before {
  content: "🙍";
}
.emoji.emoji-people_and_body-person_gesture-man_frowning::before {
  content: "🙍‍♂️";
}
.emoji.emoji-people_and_body-person_gesture-woman_frowning::before {
  content: "🙍‍♀️";
}
.emoji.emoji-people_and_body-person_gesture-person_pouting::before {
  content: "🙎";
}
.emoji.emoji-people_and_body-person_gesture-man_pouting::before {
  content: "🙎‍♂️";
}
.emoji.emoji-people_and_body-person_gesture-woman_pouting::before {
  content: "🙎‍♀️";
}
.emoji.emoji-people_and_body-person_gesture-person_gesturing_no::before {
  content: "🙅";
}
.emoji.emoji-people_and_body-person_gesture-man_gesturing_no::before {
  content: "🙅‍♂️";
}
.emoji.emoji-people_and_body-person_gesture-woman_gesturing_no::before {
  content: "🙅‍♀️";
}
.emoji.emoji-people_and_body-person_gesture-person_gesturing_ok::before {
  content: "🙆";
}
.emoji.emoji-people_and_body-person_gesture-man_gesturing_ok::before {
  content: "🙆‍♂️";
}
.emoji.emoji-people_and_body-person_gesture-woman_gesturing_ok::before {
  content: "🙆‍♀️";
}
.emoji.emoji-people_and_body-person_gesture-person_tipping_hand::before {
  content: "💁";
}
.emoji.emoji-people_and_body-person_gesture-man_tipping_hand::before {
  content: "💁‍♂️";
}
.emoji.emoji-people_and_body-person_gesture-woman_tipping_hand::before {
  content: "💁‍♀️";
}
.emoji.emoji-people_and_body-person_gesture-person_raising_hand::before {
  content: "🙋";
}
.emoji.emoji-people_and_body-person_gesture-man_raising_hand::before {
  content: "🙋‍♂️";
}
.emoji.emoji-people_and_body-person_gesture-woman_raising_hand::before {
  content: "🙋‍♀️";
}
.emoji.emoji-people_and_body-person_gesture-deaf_person::before {
  content: "🧏";
}
.emoji.emoji-people_and_body-person_gesture-deaf_man::before {
  content: "🧏‍♂️";
}
.emoji.emoji-people_and_body-person_gesture-deaf_woman::before {
  content: "🧏‍♀️";
}
.emoji.emoji-people_and_body-person_gesture-person_bowing::before {
  content: "🙇";
}
.emoji.emoji-people_and_body-person_gesture-man_bowing::before {
  content: "🙇‍♂️";
}
.emoji.emoji-people_and_body-person_gesture-woman_bowing::before {
  content: "🙇‍♀️";
}
.emoji.emoji-people_and_body-person_gesture-person_facepalming::before {
  content: "🤦";
}
.emoji.emoji-people_and_body-person_gesture-man_facepalming::before {
  content: "🤦‍♂️";
}
.emoji.emoji-people_and_body-person_gesture-woman_facepalming::before {
  content: "🤦‍♀️";
}
.emoji.emoji-people_and_body-person_gesture-person_shrugging::before {
  content: "🤷";
}
.emoji.emoji-people_and_body-person_gesture-man_shrugging::before {
  content: "🤷‍♂️";
}
.emoji.emoji-people_and_body-person_gesture-woman_shrugging::before {
  content: "🤷‍♀️";
}