.emoji.emoji-food_and_drink-drink-baby_bottle::before {
  content: "🍼";
}
.emoji.emoji-food_and_drink-drink-glass_of_milk::before {
  content: "🥛";
}
.emoji.emoji-food_and_drink-drink-hot_beverage::before {
  content: "☕";
}
.emoji.emoji-food_and_drink-drink-teacup_without_handle::before {
  content: "🍵";
}
.emoji.emoji-food_and_drink-drink-sake::before {
  content: "🍶";
}
.emoji.emoji-food_and_drink-drink-bottle_with_popping_cork::before {
  content: "🍾";
}
.emoji.emoji-food_and_drink-drink-wine_glass::before {
  content: "🍷";
}
.emoji.emoji-food_and_drink-drink-cocktail_glass::before {
  content: "🍸";
}
.emoji.emoji-food_and_drink-drink-tropical_drink::before {
  content: "🍹";
}
.emoji.emoji-food_and_drink-drink-beer_mug::before {
  content: "🍺";
}
.emoji.emoji-food_and_drink-drink-clinking_beer_mugs::before {
  content: "🍻";
}
.emoji.emoji-food_and_drink-drink-clinking_glasses::before {
  content: "🥂";
}
.emoji.emoji-food_and_drink-drink-tumbler_glass::before {
  content: "🥃";
}
.emoji.emoji-food_and_drink-drink-cup_with_straw::before {
  content: "🥤";
}
.emoji.emoji-food_and_drink-drink-beverage_box::before {
  content: "🧃";
}
.emoji.emoji-food_and_drink-drink-mate::before {
  content: "🧉";
}
.emoji.emoji-food_and_drink-drink-ice::before {
  content: "🧊";
}