.emoji.emoji-animals_and_nature-animal_bug-snail::before {
  content: "🐌";
}
.emoji.emoji-animals_and_nature-animal_bug-butterfly::before {
  content: "🦋";
}
.emoji.emoji-animals_and_nature-animal_bug-bug::before {
  content: "🐛";
}
.emoji.emoji-animals_and_nature-animal_bug-ant::before {
  content: "🐜";
}
.emoji.emoji-animals_and_nature-animal_bug-honeybee::before {
  content: "🐝";
}
.emoji.emoji-animals_and_nature-animal_bug-lady_beetle::before {
  content: "🐞";
}
.emoji.emoji-animals_and_nature-animal_bug-cricket::before {
  content: "🦗";
}
.emoji.emoji-animals_and_nature-animal_bug-spider::before {
  content: "🕷";
}
.emoji.emoji-animals_and_nature-animal_bug-spider_web::before {
  content: "🕸";
}
.emoji.emoji-animals_and_nature-animal_bug-scorpion::before {
  content: "🦂";
}
.emoji.emoji-animals_and_nature-animal_bug-mosquito::before {
  content: "🦟";
}
.emoji.emoji-animals_and_nature-animal_bug-microbe::before {
  content: "🦠";
}