.emoji.emoji-activities-sport-soccer_ball::before {
  content: "⚽";
}
.emoji.emoji-activities-sport-baseball::before {
  content: "⚾";
}
.emoji.emoji-activities-sport-softball::before {
  content: "🥎";
}
.emoji.emoji-activities-sport-basketball::before {
  content: "🏀";
}
.emoji.emoji-activities-sport-volleyball::before {
  content: "🏐";
}
.emoji.emoji-activities-sport-american_football::before {
  content: "🏈";
}
.emoji.emoji-activities-sport-rugby_football::before {
  content: "🏉";
}
.emoji.emoji-activities-sport-tennis::before {
  content: "🎾";
}
.emoji.emoji-activities-sport-flying_disc::before {
  content: "🥏";
}
.emoji.emoji-activities-sport-bowling::before {
  content: "🎳";
}
.emoji.emoji-activities-sport-cricket_game::before {
  content: "🏏";
}
.emoji.emoji-activities-sport-field_hockey::before {
  content: "🏑";
}
.emoji.emoji-activities-sport-ice_hockey::before {
  content: "🏒";
}
.emoji.emoji-activities-sport-lacrosse::before {
  content: "🥍";
}
.emoji.emoji-activities-sport-ping_pong::before {
  content: "🏓";
}
.emoji.emoji-activities-sport-badminton::before {
  content: "🏸";
}
.emoji.emoji-activities-sport-boxing_glove::before {
  content: "🥊";
}
.emoji.emoji-activities-sport-martial_arts_uniform::before {
  content: "🥋";
}
.emoji.emoji-activities-sport-goal_net::before {
  content: "🥅";
}
.emoji.emoji-activities-sport-flag_in_hole::before {
  content: "⛳";
}
.emoji.emoji-activities-sport-ice_skate::before {
  content: "⛸";
}
.emoji.emoji-activities-sport-fishing_pole::before {
  content: "🎣";
}
.emoji.emoji-activities-sport-diving_mask::before {
  content: "🤿";
}
.emoji.emoji-activities-sport-running_shirt::before {
  content: "🎽";
}
.emoji.emoji-activities-sport-skis::before {
  content: "🎿";
}
.emoji.emoji-activities-sport-sled::before {
  content: "🛷";
}
.emoji.emoji-activities-sport-curling_stone::before {
  content: "🥌";
}