.emoji.emoji-travel_and_places-time-hourglass_done::before {
  content: "⌛";
}
.emoji.emoji-travel_and_places-time-hourglass_not_done::before {
  content: "⏳";
}
.emoji.emoji-travel_and_places-time-watch::before {
  content: "⌚";
}
.emoji.emoji-travel_and_places-time-alarm_clock::before {
  content: "⏰";
}
.emoji.emoji-travel_and_places-time-stopwatch::before {
  content: "⏱";
}
.emoji.emoji-travel_and_places-time-timer_clock::before {
  content: "⏲";
}
.emoji.emoji-travel_and_places-time-mantelpiece_clock::before {
  content: "🕰";
}
.emoji.emoji-travel_and_places-time-twelve_o_clock::before {
  content: "🕛";
}
.emoji.emoji-travel_and_places-time-twelve_thirty::before {
  content: "🕧";
}
.emoji.emoji-travel_and_places-time-one_o_clock::before {
  content: "🕐";
}
.emoji.emoji-travel_and_places-time-one_thirty::before {
  content: "🕜";
}
.emoji.emoji-travel_and_places-time-two_o_clock::before {
  content: "🕑";
}
.emoji.emoji-travel_and_places-time-two_thirty::before {
  content: "🕝";
}
.emoji.emoji-travel_and_places-time-three_o_clock::before {
  content: "🕒";
}
.emoji.emoji-travel_and_places-time-three_thirty::before {
  content: "🕞";
}
.emoji.emoji-travel_and_places-time-four_o_clock::before {
  content: "🕓";
}
.emoji.emoji-travel_and_places-time-four_thirty::before {
  content: "🕟";
}
.emoji.emoji-travel_and_places-time-five_o_clock::before {
  content: "🕔";
}
.emoji.emoji-travel_and_places-time-five_thirty::before {
  content: "🕠";
}
.emoji.emoji-travel_and_places-time-six_o_clock::before {
  content: "🕕";
}
.emoji.emoji-travel_and_places-time-six_thirty::before {
  content: "🕡";
}
.emoji.emoji-travel_and_places-time-seven_o_clock::before {
  content: "🕖";
}
.emoji.emoji-travel_and_places-time-seven_thirty::before {
  content: "🕢";
}
.emoji.emoji-travel_and_places-time-eight_o_clock::before {
  content: "🕗";
}
.emoji.emoji-travel_and_places-time-eight_thirty::before {
  content: "🕣";
}
.emoji.emoji-travel_and_places-time-nine_o_clock::before {
  content: "🕘";
}
.emoji.emoji-travel_and_places-time-nine_thirty::before {
  content: "🕤";
}
.emoji.emoji-travel_and_places-time-ten_o_clock::before {
  content: "🕙";
}
.emoji.emoji-travel_and_places-time-ten_thirty::before {
  content: "🕥";
}
.emoji.emoji-travel_and_places-time-eleven_o_clock::before {
  content: "🕚";
}
.emoji.emoji-travel_and_places-time-eleven_thirty::before {
  content: "🕦";
}