.emoji.emoji-animals_and_nature-plant_flower-bouquet::before {
  content: "💐";
}
.emoji.emoji-animals_and_nature-plant_flower-cherry_blossom::before {
  content: "🌸";
}
.emoji.emoji-animals_and_nature-plant_flower-white_flower::before {
  content: "💮";
}
.emoji.emoji-animals_and_nature-plant_flower-rosette::before {
  content: "🏵";
}
.emoji.emoji-animals_and_nature-plant_flower-rose::before {
  content: "🌹";
}
.emoji.emoji-animals_and_nature-plant_flower-wilted_flower::before {
  content: "🥀";
}
.emoji.emoji-animals_and_nature-plant_flower-hibiscus::before {
  content: "🌺";
}
.emoji.emoji-animals_and_nature-plant_flower-sunflower::before {
  content: "🌻";
}
.emoji.emoji-animals_and_nature-plant_flower-blossom::before {
  content: "🌼";
}
.emoji.emoji-animals_and_nature-plant_flower-tulip::before {
  content: "🌷";
}