.emoji.emoji-objects-household-door::before {
  content: "🚪";
}
.emoji.emoji-objects-household-bed::before {
  content: "🛏";
}
.emoji.emoji-objects-household-couch_and_lamp::before {
  content: "🛋";
}
.emoji.emoji-objects-household-chair::before {
  content: "🪑";
}
.emoji.emoji-objects-household-toilet::before {
  content: "🚽";
}
.emoji.emoji-objects-household-shower::before {
  content: "🚿";
}
.emoji.emoji-objects-household-bathtub::before {
  content: "🛁";
}
.emoji.emoji-objects-household-razor::before {
  content: "🪒";
}
.emoji.emoji-objects-household-lotion_bottle::before {
  content: "🧴";
}
.emoji.emoji-objects-household-safety_pin::before {
  content: "🧷";
}
.emoji.emoji-objects-household-broom::before {
  content: "🧹";
}
.emoji.emoji-objects-household-basket::before {
  content: "🧺";
}
.emoji.emoji-objects-household-roll_of_paper::before {
  content: "🧻";
}
.emoji.emoji-objects-household-soap::before {
  content: "🧼";
}
.emoji.emoji-objects-household-sponge::before {
  content: "🧽";
}
.emoji.emoji-objects-household-fire_extinguisher::before {
  content: "🧯";
}
.emoji.emoji-objects-household-shopping_cart::before {
  content: "🛒";
}