.emoji.emoji-smileys_and_emotion-face_neutral_skeptical-zipper_mouth_face::before {
  content: "🤐";
}
.emoji.emoji-smileys_and_emotion-face_neutral_skeptical-face_with_raised_eyebrow::before {
  content: "🤨";
}
.emoji.emoji-smileys_and_emotion-face_neutral_skeptical-neutral_face::before {
  content: "😐";
}
.emoji.emoji-smileys_and_emotion-face_neutral_skeptical-expressionless_face::before {
  content: "😑";
}
.emoji.emoji-smileys_and_emotion-face_neutral_skeptical-face_without_mouth::before {
  content: "😶";
}
.emoji.emoji-smileys_and_emotion-face_neutral_skeptical-smirking_face::before {
  content: "😏";
}
.emoji.emoji-smileys_and_emotion-face_neutral_skeptical-unamused_face::before {
  content: "😒";
}
.emoji.emoji-smileys_and_emotion-face_neutral_skeptical-face_with_rolling_eyes::before {
  content: "🙄";
}
.emoji.emoji-smileys_and_emotion-face_neutral_skeptical-grimacing_face::before {
  content: "😬";
}
.emoji.emoji-smileys_and_emotion-face_neutral_skeptical-lying_face::before {
  content: "🤥";
}