.emoji.emoji-animals_and_nature-animal_bird-turkey::before {
  content: "🦃";
}
.emoji.emoji-animals_and_nature-animal_bird-chicken::before {
  content: "🐔";
}
.emoji.emoji-animals_and_nature-animal_bird-rooster::before {
  content: "🐓";
}
.emoji.emoji-animals_and_nature-animal_bird-hatching_chick::before {
  content: "🐣";
}
.emoji.emoji-animals_and_nature-animal_bird-baby_chick::before {
  content: "🐤";
}
.emoji.emoji-animals_and_nature-animal_bird-front_facing_baby_chick::before {
  content: "🐥";
}
.emoji.emoji-animals_and_nature-animal_bird-bird::before {
  content: "🐦";
}
.emoji.emoji-animals_and_nature-animal_bird-penguin::before {
  content: "🐧";
}
.emoji.emoji-animals_and_nature-animal_bird-dove::before {
  content: "🕊";
}
.emoji.emoji-animals_and_nature-animal_bird-eagle::before {
  content: "🦅";
}
.emoji.emoji-animals_and_nature-animal_bird-duck::before {
  content: "🦆";
}
.emoji.emoji-animals_and_nature-animal_bird-swan::before {
  content: "🦢";
}
.emoji.emoji-animals_and_nature-animal_bird-owl::before {
  content: "🦉";
}
.emoji.emoji-animals_and_nature-animal_bird-flamingo::before {
  content: "🦩";
}
.emoji.emoji-animals_and_nature-animal_bird-peacock::before {
  content: "🦚";
}
.emoji.emoji-animals_and_nature-animal_bird-parrot::before {
  content: "🦜";
}