.emoji.emoji-objects-clothing-glasses::before {
  content: "👓";
}
.emoji.emoji-objects-clothing-sunglasses::before {
  content: "🕶";
}
.emoji.emoji-objects-clothing-goggles::before {
  content: "🥽";
}
.emoji.emoji-objects-clothing-lab_coat::before {
  content: "🥼";
}
.emoji.emoji-objects-clothing-safety_vest::before {
  content: "🦺";
}
.emoji.emoji-objects-clothing-necktie::before {
  content: "👔";
}
.emoji.emoji-objects-clothing-t_shirt::before {
  content: "👕";
}
.emoji.emoji-objects-clothing-jeans::before {
  content: "👖";
}
.emoji.emoji-objects-clothing-scarf::before {
  content: "🧣";
}
.emoji.emoji-objects-clothing-gloves::before {
  content: "🧤";
}
.emoji.emoji-objects-clothing-coat::before {
  content: "🧥";
}
.emoji.emoji-objects-clothing-socks::before {
  content: "🧦";
}
.emoji.emoji-objects-clothing-dress::before {
  content: "👗";
}
.emoji.emoji-objects-clothing-kimono::before {
  content: "👘";
}
.emoji.emoji-objects-clothing-sari::before {
  content: "🥻";
}
.emoji.emoji-objects-clothing-one_piece_swimsuit::before {
  content: "🩱";
}
.emoji.emoji-objects-clothing-briefs::before {
  content: "🩲";
}
.emoji.emoji-objects-clothing-shorts::before {
  content: "🩳";
}
.emoji.emoji-objects-clothing-bikini::before {
  content: "👙";
}
.emoji.emoji-objects-clothing-woman_s_clothes::before {
  content: "👚";
}
.emoji.emoji-objects-clothing-purse::before {
  content: "👛";
}
.emoji.emoji-objects-clothing-handbag::before {
  content: "👜";
}
.emoji.emoji-objects-clothing-clutch_bag::before {
  content: "👝";
}
.emoji.emoji-objects-clothing-shopping_bags::before {
  content: "🛍";
}
.emoji.emoji-objects-clothing-backpack::before {
  content: "🎒";
}
.emoji.emoji-objects-clothing-man_s_shoe::before {
  content: "👞";
}
.emoji.emoji-objects-clothing-running_shoe::before {
  content: "👟";
}
.emoji.emoji-objects-clothing-hiking_boot::before {
  content: "🥾";
}
.emoji.emoji-objects-clothing-flat_shoe::before {
  content: "🥿";
}
.emoji.emoji-objects-clothing-high_heeled_shoe::before {
  content: "👠";
}
.emoji.emoji-objects-clothing-woman_s_sandal::before {
  content: "👡";
}
.emoji.emoji-objects-clothing-ballet_shoes::before {
  content: "🩰";
}
.emoji.emoji-objects-clothing-woman_s_boot::before {
  content: "👢";
}
.emoji.emoji-objects-clothing-crown::before {
  content: "👑";
}
.emoji.emoji-objects-clothing-woman_s_hat::before {
  content: "👒";
}
.emoji.emoji-objects-clothing-top_hat::before {
  content: "🎩";
}
.emoji.emoji-objects-clothing-graduation_cap::before {
  content: "🎓";
}
.emoji.emoji-objects-clothing-billed_cap::before {
  content: "🧢";
}
.emoji.emoji-objects-clothing-rescue_worker_s_helmet::before {
  content: "⛑";
}
.emoji.emoji-objects-clothing-prayer_beads::before {
  content: "📿";
}
.emoji.emoji-objects-clothing-lipstick::before {
  content: "💄";
}
.emoji.emoji-objects-clothing-ring::before {
  content: "💍";
}
.emoji.emoji-objects-clothing-gem_stone::before {
  content: "💎";
}