.emoji.emoji-people_and_body-family-people_holding_hands::before {
  content: "🧑‍🤝‍🧑";
}
.emoji.emoji-people_and_body-family-women_holding_hands::before {
  content: "👭";
}
.emoji.emoji-people_and_body-family-woman_and_man_holding_hands::before {
  content: "👫";
}
.emoji.emoji-people_and_body-family-men_holding_hands::before {
  content: "👬";
}
.emoji.emoji-people_and_body-family-kiss::before {
  content: "💏";
}
.emoji.emoji-people_and_body-family-kiss_woman_man::before {
  content: "👩‍❤️‍💋‍👨";
}
.emoji.emoji-people_and_body-family-kiss_man_man::before {
  content: "👨‍❤️‍💋‍👨";
}
.emoji.emoji-people_and_body-family-kiss_woman_woman::before {
  content: "👩‍❤️‍💋‍👩";
}
.emoji.emoji-people_and_body-family-couple_with_heart::before {
  content: "💑";
}
.emoji.emoji-people_and_body-family-couple_with_heart_woman_man::before {
  content: "👩‍❤️‍👨";
}
.emoji.emoji-people_and_body-family-couple_with_heart_man_man::before {
  content: "👨‍❤️‍👨";
}
.emoji.emoji-people_and_body-family-couple_with_heart_woman_woman::before {
  content: "👩‍❤️‍👩";
}
.emoji.emoji-people_and_body-family-family::before {
  content: "👪";
}
.emoji.emoji-people_and_body-family-family_man_woman_boy::before {
  content: "👨‍👩‍👦";
}
.emoji.emoji-people_and_body-family-family_man_woman_girl::before {
  content: "👨‍👩‍👧";
}
.emoji.emoji-people_and_body-family-family_man_woman_girl_boy::before {
  content: "👨‍👩‍👧‍👦";
}
.emoji.emoji-people_and_body-family-family_man_woman_boy_boy::before {
  content: "👨‍👩‍👦‍👦";
}
.emoji.emoji-people_and_body-family-family_man_woman_girl_girl::before {
  content: "👨‍👩‍👧‍👧";
}
.emoji.emoji-people_and_body-family-family_man_man_boy::before {
  content: "👨‍👨‍👦";
}
.emoji.emoji-people_and_body-family-family_man_man_girl::before {
  content: "👨‍👨‍👧";
}
.emoji.emoji-people_and_body-family-family_man_man_girl_boy::before {
  content: "👨‍👨‍👧‍👦";
}
.emoji.emoji-people_and_body-family-family_man_man_boy_boy::before {
  content: "👨‍👨‍👦‍👦";
}
.emoji.emoji-people_and_body-family-family_man_man_girl_girl::before {
  content: "👨‍👨‍👧‍👧";
}
.emoji.emoji-people_and_body-family-family_woman_woman_boy::before {
  content: "👩‍👩‍👦";
}
.emoji.emoji-people_and_body-family-family_woman_woman_girl::before {
  content: "👩‍👩‍👧";
}
.emoji.emoji-people_and_body-family-family_woman_woman_girl_boy::before {
  content: "👩‍👩‍👧‍👦";
}
.emoji.emoji-people_and_body-family-family_woman_woman_boy_boy::before {
  content: "👩‍👩‍👦‍👦";
}
.emoji.emoji-people_and_body-family-family_woman_woman_girl_girl::before {
  content: "👩‍👩‍👧‍👧";
}
.emoji.emoji-people_and_body-family-family_man_boy::before {
  content: "👨‍👦";
}
.emoji.emoji-people_and_body-family-family_man_boy_boy::before {
  content: "👨‍👦‍👦";
}
.emoji.emoji-people_and_body-family-family_man_girl::before {
  content: "👨‍👧";
}
.emoji.emoji-people_and_body-family-family_man_girl_boy::before {
  content: "👨‍👧‍👦";
}
.emoji.emoji-people_and_body-family-family_man_girl_girl::before {
  content: "👨‍👧‍👧";
}
.emoji.emoji-people_and_body-family-family_woman_boy::before {
  content: "👩‍👦";
}
.emoji.emoji-people_and_body-family-family_woman_boy_boy::before {
  content: "👩‍👦‍👦";
}
.emoji.emoji-people_and_body-family-family_woman_girl::before {
  content: "👩‍👧";
}
.emoji.emoji-people_and_body-family-family_woman_girl_boy::before {
  content: "👩‍👧‍👦";
}
.emoji.emoji-people_and_body-family-family_woman_girl_girl::before {
  content: "👩‍👧‍👧";
}