.emoji.emoji-travel_and_places-place_other-fountain::before {
  content: "⛲";
}
.emoji.emoji-travel_and_places-place_other-tent::before {
  content: "⛺";
}
.emoji.emoji-travel_and_places-place_other-foggy::before {
  content: "🌁";
}
.emoji.emoji-travel_and_places-place_other-night_with_stars::before {
  content: "🌃";
}
.emoji.emoji-travel_and_places-place_other-cityscape::before {
  content: "🏙";
}
.emoji.emoji-travel_and_places-place_other-sunrise_over_mountains::before {
  content: "🌄";
}
.emoji.emoji-travel_and_places-place_other-sunrise::before {
  content: "🌅";
}
.emoji.emoji-travel_and_places-place_other-cityscape_at_dusk::before {
  content: "🌆";
}
.emoji.emoji-travel_and_places-place_other-sunset::before {
  content: "🌇";
}
.emoji.emoji-travel_and_places-place_other-bridge_at_night::before {
  content: "🌉";
}
.emoji.emoji-travel_and_places-place_other-hot_springs::before {
  content: "♨";
}
.emoji.emoji-travel_and_places-place_other-carousel_horse::before {
  content: "🎠";
}
.emoji.emoji-travel_and_places-place_other-ferris_wheel::before {
  content: "🎡";
}
.emoji.emoji-travel_and_places-place_other-roller_coaster::before {
  content: "🎢";
}
.emoji.emoji-travel_and_places-place_other-barber_pole::before {
  content: "💈";
}
.emoji.emoji-travel_and_places-place_other-circus_tent::before {
  content: "🎪";
}