.emoji.emoji-activities-event-jack_o_lantern::before {
  content: "🎃";
}
.emoji.emoji-activities-event-christmas_tree::before {
  content: "🎄";
}
.emoji.emoji-activities-event-fireworks::before {
  content: "🎆";
}
.emoji.emoji-activities-event-sparkler::before {
  content: "🎇";
}
.emoji.emoji-activities-event-firecracker::before {
  content: "🧨";
}
.emoji.emoji-activities-event-sparkles::before {
  content: "✨";
}
.emoji.emoji-activities-event-balloon::before {
  content: "🎈";
}
.emoji.emoji-activities-event-party_popper::before {
  content: "🎉";
}
.emoji.emoji-activities-event-confetti_ball::before {
  content: "🎊";
}
.emoji.emoji-activities-event-tanabata_tree::before {
  content: "🎋";
}
.emoji.emoji-activities-event-pine_decoration::before {
  content: "🎍";
}
.emoji.emoji-activities-event-japanese_dolls::before {
  content: "🎎";
}
.emoji.emoji-activities-event-carp_streamer::before {
  content: "🎏";
}
.emoji.emoji-activities-event-wind_chime::before {
  content: "🎐";
}
.emoji.emoji-activities-event-moon_viewing_ceremony::before {
  content: "🎑";
}
.emoji.emoji-activities-event-red_envelope::before {
  content: "🧧";
}
.emoji.emoji-activities-event-ribbon::before {
  content: "🎀";
}
.emoji.emoji-activities-event-wrapped_gift::before {
  content: "🎁";
}
.emoji.emoji-activities-event-reminder_ribbon::before {
  content: "🎗";
}
.emoji.emoji-activities-event-admission_tickets::before {
  content: "🎟";
}
.emoji.emoji-activities-event-ticket::before {
  content: "🎫";
}