.emoji.emoji-people_and_body-person_sport-person_fencing::before {
  content: "🤺";
}
.emoji.emoji-people_and_body-person_sport-horse_racing::before {
  content: "🏇";
}
.emoji.emoji-people_and_body-person_sport-skier::before {
  content: "⛷";
}
.emoji.emoji-people_and_body-person_sport-snowboarder::before {
  content: "🏂";
}
.emoji.emoji-people_and_body-person_sport-person_golfing::before {
  content: "🏌";
}
.emoji.emoji-people_and_body-person_sport-man_golfing::before {
  content: "🏌️‍♂️";
}
.emoji.emoji-people_and_body-person_sport-woman_golfing::before {
  content: "🏌️‍♀️";
}
.emoji.emoji-people_and_body-person_sport-person_surfing::before {
  content: "🏄";
}
.emoji.emoji-people_and_body-person_sport-man_surfing::before {
  content: "🏄‍♂️";
}
.emoji.emoji-people_and_body-person_sport-woman_surfing::before {
  content: "🏄‍♀️";
}
.emoji.emoji-people_and_body-person_sport-person_rowing_boat::before {
  content: "🚣";
}
.emoji.emoji-people_and_body-person_sport-man_rowing_boat::before {
  content: "🚣‍♂️";
}
.emoji.emoji-people_and_body-person_sport-woman_rowing_boat::before {
  content: "🚣‍♀️";
}
.emoji.emoji-people_and_body-person_sport-person_swimming::before {
  content: "🏊";
}
.emoji.emoji-people_and_body-person_sport-man_swimming::before {
  content: "🏊‍♂️";
}
.emoji.emoji-people_and_body-person_sport-woman_swimming::before {
  content: "🏊‍♀️";
}
.emoji.emoji-people_and_body-person_sport-person_bouncing_ball::before {
  content: "⛹";
}
.emoji.emoji-people_and_body-person_sport-man_bouncing_ball::before {
  content: "⛹️‍♂️";
}
.emoji.emoji-people_and_body-person_sport-woman_bouncing_ball::before {
  content: "⛹️‍♀️";
}
.emoji.emoji-people_and_body-person_sport-person_lifting_weights::before {
  content: "🏋";
}
.emoji.emoji-people_and_body-person_sport-man_lifting_weights::before {
  content: "🏋️‍♂️";
}
.emoji.emoji-people_and_body-person_sport-woman_lifting_weights::before {
  content: "🏋️‍♀️";
}
.emoji.emoji-people_and_body-person_sport-person_biking::before {
  content: "🚴";
}
.emoji.emoji-people_and_body-person_sport-man_biking::before {
  content: "🚴‍♂️";
}
.emoji.emoji-people_and_body-person_sport-woman_biking::before {
  content: "🚴‍♀️";
}
.emoji.emoji-people_and_body-person_sport-person_mountain_biking::before {
  content: "🚵";
}
.emoji.emoji-people_and_body-person_sport-man_mountain_biking::before {
  content: "🚵‍♂️";
}
.emoji.emoji-people_and_body-person_sport-woman_mountain_biking::before {
  content: "🚵‍♀️";
}
.emoji.emoji-people_and_body-person_sport-person_cartwheeling::before {
  content: "🤸";
}
.emoji.emoji-people_and_body-person_sport-man_cartwheeling::before {
  content: "🤸‍♂️";
}
.emoji.emoji-people_and_body-person_sport-woman_cartwheeling::before {
  content: "🤸‍♀️";
}
.emoji.emoji-people_and_body-person_sport-people_wrestling::before {
  content: "🤼";
}
.emoji.emoji-people_and_body-person_sport-men_wrestling::before {
  content: "🤼‍♂️";
}
.emoji.emoji-people_and_body-person_sport-women_wrestling::before {
  content: "🤼‍♀️";
}
.emoji.emoji-people_and_body-person_sport-person_playing_water_polo::before {
  content: "🤽";
}
.emoji.emoji-people_and_body-person_sport-man_playing_water_polo::before {
  content: "🤽‍♂️";
}
.emoji.emoji-people_and_body-person_sport-woman_playing_water_polo::before {
  content: "🤽‍♀️";
}
.emoji.emoji-people_and_body-person_sport-person_playing_handball::before {
  content: "🤾";
}
.emoji.emoji-people_and_body-person_sport-man_playing_handball::before {
  content: "🤾‍♂️";
}
.emoji.emoji-people_and_body-person_sport-woman_playing_handball::before {
  content: "🤾‍♀️";
}
.emoji.emoji-people_and_body-person_sport-person_juggling::before {
  content: "🤹";
}
.emoji.emoji-people_and_body-person_sport-man_juggling::before {
  content: "🤹‍♂️";
}
.emoji.emoji-people_and_body-person_sport-woman_juggling::before {
  content: "🤹‍♀️";
}