.emoji.emoji-food_and_drink-food_sweet-soft_ice_cream::before {
  content: "🍦";
}
.emoji.emoji-food_and_drink-food_sweet-shaved_ice::before {
  content: "🍧";
}
.emoji.emoji-food_and_drink-food_sweet-ice_cream::before {
  content: "🍨";
}
.emoji.emoji-food_and_drink-food_sweet-doughnut::before {
  content: "🍩";
}
.emoji.emoji-food_and_drink-food_sweet-cookie::before {
  content: "🍪";
}
.emoji.emoji-food_and_drink-food_sweet-birthday_cake::before {
  content: "🎂";
}
.emoji.emoji-food_and_drink-food_sweet-shortcake::before {
  content: "🍰";
}
.emoji.emoji-food_and_drink-food_sweet-cupcake::before {
  content: "🧁";
}
.emoji.emoji-food_and_drink-food_sweet-pie::before {
  content: "🥧";
}
.emoji.emoji-food_and_drink-food_sweet-chocolate_bar::before {
  content: "🍫";
}
.emoji.emoji-food_and_drink-food_sweet-candy::before {
  content: "🍬";
}
.emoji.emoji-food_and_drink-food_sweet-lollipop::before {
  content: "🍭";
}
.emoji.emoji-food_and_drink-food_sweet-custard::before {
  content: "🍮";
}
.emoji.emoji-food_and_drink-food_sweet-honey_pot::before {
  content: "🍯";
}