.emoji.emoji-symbols-punctuation-double_exclamation_mark::before {
  content: "‼";
}
.emoji.emoji-symbols-punctuation-exclamation_question_mark::before {
  content: "⁉";
}
.emoji.emoji-symbols-punctuation-question_mark::before {
  content: "❓";
}
.emoji.emoji-symbols-punctuation-white_question_mark::before {
  content: "❔";
}
.emoji.emoji-symbols-punctuation-white_exclamation_mark::before {
  content: "❕";
}
.emoji.emoji-symbols-punctuation-exclamation_mark::before {
  content: "❗";
}
.emoji.emoji-symbols-punctuation-wavy_dash::before {
  content: "〰";
}