.emoji.emoji-food_and_drink-food_prepared-bread::before {
  content: "🍞";
}
.emoji.emoji-food_and_drink-food_prepared-croissant::before {
  content: "🥐";
}
.emoji.emoji-food_and_drink-food_prepared-baguette_bread::before {
  content: "🥖";
}
.emoji.emoji-food_and_drink-food_prepared-pretzel::before {
  content: "🥨";
}
.emoji.emoji-food_and_drink-food_prepared-bagel::before {
  content: "🥯";
}
.emoji.emoji-food_and_drink-food_prepared-pancakes::before {
  content: "🥞";
}
.emoji.emoji-food_and_drink-food_prepared-waffle::before {
  content: "🧇";
}
.emoji.emoji-food_and_drink-food_prepared-cheese_wedge::before {
  content: "🧀";
}
.emoji.emoji-food_and_drink-food_prepared-meat_on_bone::before {
  content: "🍖";
}
.emoji.emoji-food_and_drink-food_prepared-poultry_leg::before {
  content: "🍗";
}
.emoji.emoji-food_and_drink-food_prepared-cut_of_meat::before {
  content: "🥩";
}
.emoji.emoji-food_and_drink-food_prepared-bacon::before {
  content: "🥓";
}
.emoji.emoji-food_and_drink-food_prepared-hamburger::before {
  content: "🍔";
}
.emoji.emoji-food_and_drink-food_prepared-french_fries::before {
  content: "🍟";
}
.emoji.emoji-food_and_drink-food_prepared-pizza::before {
  content: "🍕";
}
.emoji.emoji-food_and_drink-food_prepared-hot_dog::before {
  content: "🌭";
}
.emoji.emoji-food_and_drink-food_prepared-sandwich::before {
  content: "🥪";
}
.emoji.emoji-food_and_drink-food_prepared-taco::before {
  content: "🌮";
}
.emoji.emoji-food_and_drink-food_prepared-burrito::before {
  content: "🌯";
}
.emoji.emoji-food_and_drink-food_prepared-stuffed_flatbread::before {
  content: "🥙";
}
.emoji.emoji-food_and_drink-food_prepared-falafel::before {
  content: "🧆";
}
.emoji.emoji-food_and_drink-food_prepared-egg::before {
  content: "🥚";
}
.emoji.emoji-food_and_drink-food_prepared-cooking::before {
  content: "🍳";
}
.emoji.emoji-food_and_drink-food_prepared-shallow_pan_of_food::before {
  content: "🥘";
}
.emoji.emoji-food_and_drink-food_prepared-pot_of_food::before {
  content: "🍲";
}
.emoji.emoji-food_and_drink-food_prepared-bowl_with_spoon::before {
  content: "🥣";
}
.emoji.emoji-food_and_drink-food_prepared-green_salad::before {
  content: "🥗";
}
.emoji.emoji-food_and_drink-food_prepared-popcorn::before {
  content: "🍿";
}
.emoji.emoji-food_and_drink-food_prepared-butter::before {
  content: "🧈";
}
.emoji.emoji-food_and_drink-food_prepared-salt::before {
  content: "🧂";
}
.emoji.emoji-food_and_drink-food_prepared-canned_food::before {
  content: "🥫";
}