.emoji.emoji-flags-country_flag-ascension_island::before {
  content: "🇦🇨";
}
.emoji.emoji-flags-country_flag-andorra::before {
  content: "🇦🇩";
}
.emoji.emoji-flags-country_flag-united_arab_emirates::before {
  content: "🇦🇪";
}
.emoji.emoji-flags-country_flag-afghanistan::before {
  content: "🇦🇫";
}
.emoji.emoji-flags-country_flag-antigua_and_barbuda::before {
  content: "🇦🇬";
}
.emoji.emoji-flags-country_flag-anguilla::before {
  content: "🇦🇮";
}
.emoji.emoji-flags-country_flag-albania::before {
  content: "🇦🇱";
}
.emoji.emoji-flags-country_flag-armenia::before {
  content: "🇦🇲";
}
.emoji.emoji-flags-country_flag-angola::before {
  content: "🇦🇴";
}
.emoji.emoji-flags-country_flag-antarctica::before {
  content: "🇦🇶";
}
.emoji.emoji-flags-country_flag-argentina::before {
  content: "🇦🇷";
}
.emoji.emoji-flags-country_flag-american_samoa::before {
  content: "🇦🇸";
}
.emoji.emoji-flags-country_flag-austria::before {
  content: "🇦🇹";
}
.emoji.emoji-flags-country_flag-australia::before {
  content: "🇦🇺";
}
.emoji.emoji-flags-country_flag-aruba::before {
  content: "🇦🇼";
}
.emoji.emoji-flags-country_flag-_land_islands::before {
  content: "🇦🇽";
}
.emoji.emoji-flags-country_flag-azerbaijan::before {
  content: "🇦🇿";
}
.emoji.emoji-flags-country_flag-bosnia_and_herzegovina::before {
  content: "🇧🇦";
}
.emoji.emoji-flags-country_flag-barbados::before {
  content: "🇧🇧";
}
.emoji.emoji-flags-country_flag-bangladesh::before {
  content: "🇧🇩";
}
.emoji.emoji-flags-country_flag-belgium::before {
  content: "🇧🇪";
}
.emoji.emoji-flags-country_flag-burkina_faso::before {
  content: "🇧🇫";
}
.emoji.emoji-flags-country_flag-bulgaria::before {
  content: "🇧🇬";
}
.emoji.emoji-flags-country_flag-bahrain::before {
  content: "🇧🇭";
}
.emoji.emoji-flags-country_flag-burundi::before {
  content: "🇧🇮";
}
.emoji.emoji-flags-country_flag-benin::before {
  content: "🇧🇯";
}
.emoji.emoji-flags-country_flag-st_barth_lemy::before {
  content: "🇧🇱";
}
.emoji.emoji-flags-country_flag-bermuda::before {
  content: "🇧🇲";
}
.emoji.emoji-flags-country_flag-brunei::before {
  content: "🇧🇳";
}
.emoji.emoji-flags-country_flag-bolivia::before {
  content: "🇧🇴";
}
.emoji.emoji-flags-country_flag-caribbean_netherlands::before {
  content: "🇧🇶";
}
.emoji.emoji-flags-country_flag-brazil::before {
  content: "🇧🇷";
}
.emoji.emoji-flags-country_flag-bahamas::before {
  content: "🇧🇸";
}
.emoji.emoji-flags-country_flag-bhutan::before {
  content: "🇧🇹";
}
.emoji.emoji-flags-country_flag-bouvet_island::before {
  content: "🇧🇻";
}
.emoji.emoji-flags-country_flag-botswana::before {
  content: "🇧🇼";
}
.emoji.emoji-flags-country_flag-belarus::before {
  content: "🇧🇾";
}
.emoji.emoji-flags-country_flag-belize::before {
  content: "🇧🇿";
}
.emoji.emoji-flags-country_flag-canada::before {
  content: "🇨🇦";
}
.emoji.emoji-flags-country_flag-cocos_keeling_islands::before {
  content: "🇨🇨";
}
.emoji.emoji-flags-country_flag-congo_kinshasa::before {
  content: "🇨🇩";
}
.emoji.emoji-flags-country_flag-central_african_republic::before {
  content: "🇨🇫";
}
.emoji.emoji-flags-country_flag-congo_brazzaville::before {
  content: "🇨🇬";
}
.emoji.emoji-flags-country_flag-switzerland::before {
  content: "🇨🇭";
}
.emoji.emoji-flags-country_flag-c_te_d_ivoire::before {
  content: "🇨🇮";
}
.emoji.emoji-flags-country_flag-cook_islands::before {
  content: "🇨🇰";
}
.emoji.emoji-flags-country_flag-chile::before {
  content: "🇨🇱";
}
.emoji.emoji-flags-country_flag-cameroon::before {
  content: "🇨🇲";
}
.emoji.emoji-flags-country_flag-china::before {
  content: "🇨🇳";
}
.emoji.emoji-flags-country_flag-colombia::before {
  content: "🇨🇴";
}
.emoji.emoji-flags-country_flag-clipperton_island::before {
  content: "🇨🇵";
}
.emoji.emoji-flags-country_flag-costa_rica::before {
  content: "🇨🇷";
}
.emoji.emoji-flags-country_flag-cuba::before {
  content: "🇨🇺";
}
.emoji.emoji-flags-country_flag-cape_verde::before {
  content: "🇨🇻";
}
.emoji.emoji-flags-country_flag-cura_ao::before {
  content: "🇨🇼";
}
.emoji.emoji-flags-country_flag-christmas_island::before {
  content: "🇨🇽";
}
.emoji.emoji-flags-country_flag-cyprus::before {
  content: "🇨🇾";
}
.emoji.emoji-flags-country_flag-czechia::before {
  content: "🇨🇿";
}
.emoji.emoji-flags-country_flag-germany::before {
  content: "🇩🇪";
}
.emoji.emoji-flags-country_flag-diego_garcia::before {
  content: "🇩🇬";
}
.emoji.emoji-flags-country_flag-djibouti::before {
  content: "🇩🇯";
}
.emoji.emoji-flags-country_flag-denmark::before {
  content: "🇩🇰";
}
.emoji.emoji-flags-country_flag-dominica::before {
  content: "🇩🇲";
}
.emoji.emoji-flags-country_flag-dominican_republic::before {
  content: "🇩🇴";
}
.emoji.emoji-flags-country_flag-algeria::before {
  content: "🇩🇿";
}
.emoji.emoji-flags-country_flag-ceuta_and_melilla::before {
  content: "🇪🇦";
}
.emoji.emoji-flags-country_flag-ecuador::before {
  content: "🇪🇨";
}
.emoji.emoji-flags-country_flag-estonia::before {
  content: "🇪🇪";
}
.emoji.emoji-flags-country_flag-egypt::before {
  content: "🇪🇬";
}
.emoji.emoji-flags-country_flag-western_sahara::before {
  content: "🇪🇭";
}
.emoji.emoji-flags-country_flag-eritrea::before {
  content: "🇪🇷";
}
.emoji.emoji-flags-country_flag-spain::before {
  content: "🇪🇸";
}
.emoji.emoji-flags-country_flag-ethiopia::before {
  content: "🇪🇹";
}
.emoji.emoji-flags-country_flag-european_union::before {
  content: "🇪🇺";
}
.emoji.emoji-flags-country_flag-finland::before {
  content: "🇫🇮";
}
.emoji.emoji-flags-country_flag-fiji::before {
  content: "🇫🇯";
}
.emoji.emoji-flags-country_flag-falkland_islands::before {
  content: "🇫🇰";
}
.emoji.emoji-flags-country_flag-micronesia::before {
  content: "🇫🇲";
}
.emoji.emoji-flags-country_flag-faroe_islands::before {
  content: "🇫🇴";
}
.emoji.emoji-flags-country_flag-france::before {
  content: "🇫🇷";
}
.emoji.emoji-flags-country_flag-gabon::before {
  content: "🇬🇦";
}
.emoji.emoji-flags-country_flag-united_kingdom::before {
  content: "🇬🇧";
}
.emoji.emoji-flags-country_flag-grenada::before {
  content: "🇬🇩";
}
.emoji.emoji-flags-country_flag-georgia::before {
  content: "🇬🇪";
}
.emoji.emoji-flags-country_flag-french_guiana::before {
  content: "🇬🇫";
}
.emoji.emoji-flags-country_flag-guernsey::before {
  content: "🇬🇬";
}
.emoji.emoji-flags-country_flag-ghana::before {
  content: "🇬🇭";
}
.emoji.emoji-flags-country_flag-gibraltar::before {
  content: "🇬🇮";
}
.emoji.emoji-flags-country_flag-greenland::before {
  content: "🇬🇱";
}
.emoji.emoji-flags-country_flag-gambia::before {
  content: "🇬🇲";
}
.emoji.emoji-flags-country_flag-guinea::before {
  content: "🇬🇳";
}
.emoji.emoji-flags-country_flag-guadeloupe::before {
  content: "🇬🇵";
}
.emoji.emoji-flags-country_flag-equatorial_guinea::before {
  content: "🇬🇶";
}
.emoji.emoji-flags-country_flag-greece::before {
  content: "🇬🇷";
}
.emoji.emoji-flags-country_flag-south_georgia_and_south_sandwich_islands::before {
  content: "🇬🇸";
}
.emoji.emoji-flags-country_flag-guatemala::before {
  content: "🇬🇹";
}
.emoji.emoji-flags-country_flag-guam::before {
  content: "🇬🇺";
}
.emoji.emoji-flags-country_flag-guinea_bissau::before {
  content: "🇬🇼";
}
.emoji.emoji-flags-country_flag-guyana::before {
  content: "🇬🇾";
}
.emoji.emoji-flags-country_flag-hong_kong_sar_china::before {
  content: "🇭🇰";
}
.emoji.emoji-flags-country_flag-heard_and_mcdonald_islands::before {
  content: "🇭🇲";
}
.emoji.emoji-flags-country_flag-honduras::before {
  content: "🇭🇳";
}
.emoji.emoji-flags-country_flag-croatia::before {
  content: "🇭🇷";
}
.emoji.emoji-flags-country_flag-haiti::before {
  content: "🇭🇹";
}
.emoji.emoji-flags-country_flag-hungary::before {
  content: "🇭🇺";
}
.emoji.emoji-flags-country_flag-canary_islands::before {
  content: "🇮🇨";
}
.emoji.emoji-flags-country_flag-indonesia::before {
  content: "🇮🇩";
}
.emoji.emoji-flags-country_flag-ireland::before {
  content: "🇮🇪";
}
.emoji.emoji-flags-country_flag-israel::before {
  content: "🇮🇱";
}
.emoji.emoji-flags-country_flag-isle_of_man::before {
  content: "🇮🇲";
}
.emoji.emoji-flags-country_flag-india::before {
  content: "🇮🇳";
}
.emoji.emoji-flags-country_flag-british_indian_ocean_territory::before {
  content: "🇮🇴";
}
.emoji.emoji-flags-country_flag-iraq::before {
  content: "🇮🇶";
}
.emoji.emoji-flags-country_flag-iran::before {
  content: "🇮🇷";
}
.emoji.emoji-flags-country_flag-iceland::before {
  content: "🇮🇸";
}
.emoji.emoji-flags-country_flag-italy::before {
  content: "🇮🇹";
}
.emoji.emoji-flags-country_flag-jersey::before {
  content: "🇯🇪";
}
.emoji.emoji-flags-country_flag-jamaica::before {
  content: "🇯🇲";
}
.emoji.emoji-flags-country_flag-jordan::before {
  content: "🇯🇴";
}
.emoji.emoji-flags-country_flag-japan::before {
  content: "🇯🇵";
}
.emoji.emoji-flags-country_flag-kenya::before {
  content: "🇰🇪";
}
.emoji.emoji-flags-country_flag-kyrgyzstan::before {
  content: "🇰🇬";
}
.emoji.emoji-flags-country_flag-cambodia::before {
  content: "🇰🇭";
}
.emoji.emoji-flags-country_flag-kiribati::before {
  content: "🇰🇮";
}
.emoji.emoji-flags-country_flag-comoros::before {
  content: "🇰🇲";
}
.emoji.emoji-flags-country_flag-st_kitts_and_nevis::before {
  content: "🇰🇳";
}
.emoji.emoji-flags-country_flag-north_korea::before {
  content: "🇰🇵";
}
.emoji.emoji-flags-country_flag-south_korea::before {
  content: "🇰🇷";
}
.emoji.emoji-flags-country_flag-kuwait::before {
  content: "🇰🇼";
}
.emoji.emoji-flags-country_flag-cayman_islands::before {
  content: "🇰🇾";
}
.emoji.emoji-flags-country_flag-kazakhstan::before {
  content: "🇰🇿";
}
.emoji.emoji-flags-country_flag-laos::before {
  content: "🇱🇦";
}
.emoji.emoji-flags-country_flag-lebanon::before {
  content: "🇱🇧";
}
.emoji.emoji-flags-country_flag-st_lucia::before {
  content: "🇱🇨";
}
.emoji.emoji-flags-country_flag-liechtenstein::before {
  content: "🇱🇮";
}
.emoji.emoji-flags-country_flag-sri_lanka::before {
  content: "🇱🇰";
}
.emoji.emoji-flags-country_flag-liberia::before {
  content: "🇱🇷";
}
.emoji.emoji-flags-country_flag-lesotho::before {
  content: "🇱🇸";
}
.emoji.emoji-flags-country_flag-lithuania::before {
  content: "🇱🇹";
}
.emoji.emoji-flags-country_flag-luxembourg::before {
  content: "🇱🇺";
}
.emoji.emoji-flags-country_flag-latvia::before {
  content: "🇱🇻";
}
.emoji.emoji-flags-country_flag-libya::before {
  content: "🇱🇾";
}
.emoji.emoji-flags-country_flag-morocco::before {
  content: "🇲🇦";
}
.emoji.emoji-flags-country_flag-monaco::before {
  content: "🇲🇨";
}
.emoji.emoji-flags-country_flag-moldova::before {
  content: "🇲🇩";
}
.emoji.emoji-flags-country_flag-montenegro::before {
  content: "🇲🇪";
}
.emoji.emoji-flags-country_flag-st_martin::before {
  content: "🇲🇫";
}
.emoji.emoji-flags-country_flag-madagascar::before {
  content: "🇲🇬";
}
.emoji.emoji-flags-country_flag-marshall_islands::before {
  content: "🇲🇭";
}
.emoji.emoji-flags-country_flag-north_macedonia::before {
  content: "🇲🇰";
}
.emoji.emoji-flags-country_flag-mali::before {
  content: "🇲🇱";
}
.emoji.emoji-flags-country_flag-myanmar_burma_::before {
  content: "🇲🇲";
}
.emoji.emoji-flags-country_flag-mongolia::before {
  content: "🇲🇳";
}
.emoji.emoji-flags-country_flag-macao_sar_china::before {
  content: "🇲🇴";
}
.emoji.emoji-flags-country_flag-northern_mariana_islands::before {
  content: "🇲🇵";
}
.emoji.emoji-flags-country_flag-martinique::before {
  content: "🇲🇶";
}
.emoji.emoji-flags-country_flag-mauritania::before {
  content: "🇲🇷";
}
.emoji.emoji-flags-country_flag-montserrat::before {
  content: "🇲🇸";
}
.emoji.emoji-flags-country_flag-malta::before {
  content: "🇲🇹";
}
.emoji.emoji-flags-country_flag-mauritius::before {
  content: "🇲🇺";
}
.emoji.emoji-flags-country_flag-maldives::before {
  content: "🇲🇻";
}
.emoji.emoji-flags-country_flag-malawi::before {
  content: "🇲🇼";
}
.emoji.emoji-flags-country_flag-mexico::before {
  content: "🇲🇽";
}
.emoji.emoji-flags-country_flag-malaysia::before {
  content: "🇲🇾";
}
.emoji.emoji-flags-country_flag-mozambique::before {
  content: "🇲🇿";
}
.emoji.emoji-flags-country_flag-namibia::before {
  content: "🇳🇦";
}
.emoji.emoji-flags-country_flag-new_caledonia::before {
  content: "🇳🇨";
}
.emoji.emoji-flags-country_flag-niger::before {
  content: "🇳🇪";
}
.emoji.emoji-flags-country_flag-norfolk_island::before {
  content: "🇳🇫";
}
.emoji.emoji-flags-country_flag-nigeria::before {
  content: "🇳🇬";
}
.emoji.emoji-flags-country_flag-nicaragua::before {
  content: "🇳🇮";
}
.emoji.emoji-flags-country_flag-netherlands::before {
  content: "🇳🇱";
}
.emoji.emoji-flags-country_flag-norway::before {
  content: "🇳🇴";
}
.emoji.emoji-flags-country_flag-nepal::before {
  content: "🇳🇵";
}
.emoji.emoji-flags-country_flag-nauru::before {
  content: "🇳🇷";
}
.emoji.emoji-flags-country_flag-niue::before {
  content: "🇳🇺";
}
.emoji.emoji-flags-country_flag-new_zealand::before {
  content: "🇳🇿";
}
.emoji.emoji-flags-country_flag-oman::before {
  content: "🇴🇲";
}
.emoji.emoji-flags-country_flag-panama::before {
  content: "🇵🇦";
}
.emoji.emoji-flags-country_flag-peru::before {
  content: "🇵🇪";
}
.emoji.emoji-flags-country_flag-french_polynesia::before {
  content: "🇵🇫";
}
.emoji.emoji-flags-country_flag-papua_new_guinea::before {
  content: "🇵🇬";
}
.emoji.emoji-flags-country_flag-philippines::before {
  content: "🇵🇭";
}
.emoji.emoji-flags-country_flag-pakistan::before {
  content: "🇵🇰";
}
.emoji.emoji-flags-country_flag-poland::before {
  content: "🇵🇱";
}
.emoji.emoji-flags-country_flag-st_pierre_and_miquelon::before {
  content: "🇵🇲";
}
.emoji.emoji-flags-country_flag-pitcairn_islands::before {
  content: "🇵🇳";
}
.emoji.emoji-flags-country_flag-puerto_rico::before {
  content: "🇵🇷";
}
.emoji.emoji-flags-country_flag-palestinian_territories::before {
  content: "🇵🇸";
}
.emoji.emoji-flags-country_flag-portugal::before {
  content: "🇵🇹";
}
.emoji.emoji-flags-country_flag-palau::before {
  content: "🇵🇼";
}
.emoji.emoji-flags-country_flag-paraguay::before {
  content: "🇵🇾";
}
.emoji.emoji-flags-country_flag-qatar::before {
  content: "🇶🇦";
}
.emoji.emoji-flags-country_flag-r_union::before {
  content: "🇷🇪";
}
.emoji.emoji-flags-country_flag-romania::before {
  content: "🇷🇴";
}
.emoji.emoji-flags-country_flag-serbia::before {
  content: "🇷🇸";
}
.emoji.emoji-flags-country_flag-russia::before {
  content: "🇷🇺";
}
.emoji.emoji-flags-country_flag-rwanda::before {
  content: "🇷🇼";
}
.emoji.emoji-flags-country_flag-saudi_arabia::before {
  content: "🇸🇦";
}
.emoji.emoji-flags-country_flag-solomon_islands::before {
  content: "🇸🇧";
}
.emoji.emoji-flags-country_flag-seychelles::before {
  content: "🇸🇨";
}
.emoji.emoji-flags-country_flag-sudan::before {
  content: "🇸🇩";
}
.emoji.emoji-flags-country_flag-sweden::before {
  content: "🇸🇪";
}
.emoji.emoji-flags-country_flag-singapore::before {
  content: "🇸🇬";
}
.emoji.emoji-flags-country_flag-st_helena::before {
  content: "🇸🇭";
}
.emoji.emoji-flags-country_flag-slovenia::before {
  content: "🇸🇮";
}
.emoji.emoji-flags-country_flag-svalbard_and_jan_mayen::before {
  content: "🇸🇯";
}
.emoji.emoji-flags-country_flag-slovakia::before {
  content: "🇸🇰";
}
.emoji.emoji-flags-country_flag-sierra_leone::before {
  content: "🇸🇱";
}
.emoji.emoji-flags-country_flag-san_marino::before {
  content: "🇸🇲";
}
.emoji.emoji-flags-country_flag-senegal::before {
  content: "🇸🇳";
}
.emoji.emoji-flags-country_flag-somalia::before {
  content: "🇸🇴";
}
.emoji.emoji-flags-country_flag-suriname::before {
  content: "🇸🇷";
}
.emoji.emoji-flags-country_flag-south_sudan::before {
  content: "🇸🇸";
}
.emoji.emoji-flags-country_flag-s_o_tom_and_pr_ncipe::before {
  content: "🇸🇹";
}
.emoji.emoji-flags-country_flag-el_salvador::before {
  content: "🇸🇻";
}
.emoji.emoji-flags-country_flag-sint_maarten::before {
  content: "🇸🇽";
}
.emoji.emoji-flags-country_flag-syria::before {
  content: "🇸🇾";
}
.emoji.emoji-flags-country_flag-eswatini::before {
  content: "🇸🇿";
}
.emoji.emoji-flags-country_flag-tristan_da_cunha::before {
  content: "🇹🇦";
}
.emoji.emoji-flags-country_flag-turks_and_caicos_islands::before {
  content: "🇹🇨";
}
.emoji.emoji-flags-country_flag-chad::before {
  content: "🇹🇩";
}
.emoji.emoji-flags-country_flag-french_southern_territories::before {
  content: "🇹🇫";
}
.emoji.emoji-flags-country_flag-togo::before {
  content: "🇹🇬";
}
.emoji.emoji-flags-country_flag-thailand::before {
  content: "🇹🇭";
}
.emoji.emoji-flags-country_flag-tajikistan::before {
  content: "🇹🇯";
}
.emoji.emoji-flags-country_flag-tokelau::before {
  content: "🇹🇰";
}
.emoji.emoji-flags-country_flag-timor_leste::before {
  content: "🇹🇱";
}
.emoji.emoji-flags-country_flag-turkmenistan::before {
  content: "🇹🇲";
}
.emoji.emoji-flags-country_flag-tunisia::before {
  content: "🇹🇳";
}
.emoji.emoji-flags-country_flag-tonga::before {
  content: "🇹🇴";
}
.emoji.emoji-flags-country_flag-turkey::before {
  content: "🇹🇷";
}
.emoji.emoji-flags-country_flag-trinidad_and_tobago::before {
  content: "🇹🇹";
}
.emoji.emoji-flags-country_flag-tuvalu::before {
  content: "🇹🇻";
}
.emoji.emoji-flags-country_flag-taiwan::before {
  content: "🇹🇼";
}
.emoji.emoji-flags-country_flag-tanzania::before {
  content: "🇹🇿";
}
.emoji.emoji-flags-country_flag-ukraine::before {
  content: "🇺🇦";
}
.emoji.emoji-flags-country_flag-uganda::before {
  content: "🇺🇬";
}
.emoji.emoji-flags-country_flag-u_s_outlying_islands::before {
  content: "🇺🇲";
}
.emoji.emoji-flags-country_flag-united_nations::before {
  content: "🇺🇳";
}
.emoji.emoji-flags-country_flag-united_states::before {
  content: "🇺🇸";
}
.emoji.emoji-flags-country_flag-uruguay::before {
  content: "🇺🇾";
}
.emoji.emoji-flags-country_flag-uzbekistan::before {
  content: "🇺🇿";
}
.emoji.emoji-flags-country_flag-vatican_city::before {
  content: "🇻🇦";
}
.emoji.emoji-flags-country_flag-st_vincent_and_grenadines::before {
  content: "🇻🇨";
}
.emoji.emoji-flags-country_flag-venezuela::before {
  content: "🇻🇪";
}
.emoji.emoji-flags-country_flag-british_virgin_islands::before {
  content: "🇻🇬";
}
.emoji.emoji-flags-country_flag-u_s_virgin_islands::before {
  content: "🇻🇮";
}
.emoji.emoji-flags-country_flag-vietnam::before {
  content: "🇻🇳";
}
.emoji.emoji-flags-country_flag-vanuatu::before {
  content: "🇻🇺";
}
.emoji.emoji-flags-country_flag-wallis_and_futuna::before {
  content: "🇼🇫";
}
.emoji.emoji-flags-country_flag-samoa::before {
  content: "🇼🇸";
}
.emoji.emoji-flags-country_flag-kosovo::before {
  content: "🇽🇰";
}
.emoji.emoji-flags-country_flag-yemen::before {
  content: "🇾🇪";
}
.emoji.emoji-flags-country_flag-mayotte::before {
  content: "🇾🇹";
}
.emoji.emoji-flags-country_flag-south_africa::before {
  content: "🇿🇦";
}
.emoji.emoji-flags-country_flag-zambia::before {
  content: "🇿🇲";
}
.emoji.emoji-flags-country_flag-zimbabwe::before {
  content: "🇿🇼";
}