.emoji.emoji-objects-book_paper-notebook_with_decorative_cover::before {
  content: "\1F4D4";
}
.emoji.emoji-objects-book_paper-closed_book::before {
  content: "\1F4D5";
}
.emoji.emoji-objects-book_paper-open_book::before {
  content: "\1F4D6";
}
.emoji.emoji-objects-book_paper-green_book::before {
  content: "\1F4D7";
}
.emoji.emoji-objects-book_paper-blue_book::before {
  content: "\1F4D8";
}
.emoji.emoji-objects-book_paper-orange_book::before {
  content: "\1F4D9";
}
.emoji.emoji-objects-book_paper-books::before {
  content: "\1F4DA";
}
.emoji.emoji-objects-book_paper-notebook::before {
  content: "\1F4D3";
}
.emoji.emoji-objects-book_paper-ledger::before {
  content: "\1F4D2";
}
.emoji.emoji-objects-book_paper-page_with_curl::before {
  content: "\1F4C3";
}
.emoji.emoji-objects-book_paper-scroll::before {
  content: "\1F4DC";
}
.emoji.emoji-objects-book_paper-page_facing_up::before {
  content: "\1F4C4";
}
.emoji.emoji-objects-book_paper-newspaper::before {
  content: "\1F4F0";
}
.emoji.emoji-objects-book_paper-rolled_up_newspaper::before {
  content: "\1F5DE";
}
.emoji.emoji-objects-book_paper-bookmark_tabs::before {
  content: "\1F4D1";
}
.emoji.emoji-objects-book_paper-bookmark::before {
  content: "\1F516";
}
.emoji.emoji-objects-book_paper-label::before {
  content: "\1F3F7";
}