.emoji.emoji-objects-light_and_video-movie_camera::before {
  content: "\1F3A5";
}
.emoji.emoji-objects-light_and_video-film_frames::before {
  content: "\1F39E";
}
.emoji.emoji-objects-light_and_video-film_projector::before {
  content: "\1F4FD";
}
.emoji.emoji-objects-light_and_video-clapper_board::before {
  content: "\1F3AC";
}
.emoji.emoji-objects-light_and_video-television::before {
  content: "\1F4FA";
}
.emoji.emoji-objects-light_and_video-camera::before {
  content: "\1F4F7";
}
.emoji.emoji-objects-light_and_video-camera_with_flash::before {
  content: "\1F4F8";
}
.emoji.emoji-objects-light_and_video-video_camera::before {
  content: "\1F4F9";
}
.emoji.emoji-objects-light_and_video-videocassette::before {
  content: "\1F4FC";
}
.emoji.emoji-objects-light_and_video-magnifying_glass_tilted_left::before {
  content: "\1F50D";
}
.emoji.emoji-objects-light_and_video-magnifying_glass_tilted_right::before {
  content: "\1F50E";
}
.emoji.emoji-objects-light_and_video-candle::before {
  content: "\1F56F";
}
.emoji.emoji-objects-light_and_video-light_bulb::before {
  content: "\1F4A1";
}
.emoji.emoji-objects-light_and_video-flashlight::before {
  content: "\1F526";
}
.emoji.emoji-objects-light_and_video-red_paper_lantern::before {
  content: "\1F3EE";
}
.emoji.emoji-objects-light_and_video-diya_lamp::before {
  content: "\1FA94";
}