.emoji.emoji-objects-musical_instrument-saxophone::before {
  content: "\1F3B7";
}
.emoji.emoji-objects-musical_instrument-guitar::before {
  content: "\1F3B8";
}
.emoji.emoji-objects-musical_instrument-musical_keyboard::before {
  content: "\1F3B9";
}
.emoji.emoji-objects-musical_instrument-trumpet::before {
  content: "\1F3BA";
}
.emoji.emoji-objects-musical_instrument-violin::before {
  content: "\1F3BB";
}
.emoji.emoji-objects-musical_instrument-banjo::before {
  content: "\1FA95";
}
.emoji.emoji-objects-musical_instrument-drum::before {
  content: "\1F941";
}