.emoji.emoji-travel_and_places-place_building-stadium::before {
  content: "\1F3DF";
}
.emoji.emoji-travel_and_places-place_building-classical_building::before {
  content: "\1F3DB";
}
.emoji.emoji-travel_and_places-place_building-building_construction::before {
  content: "\1F3D7";
}
.emoji.emoji-travel_and_places-place_building-brick::before {
  content: "\1F9F1";
}
.emoji.emoji-travel_and_places-place_building-houses::before {
  content: "\1F3D8";
}
.emoji.emoji-travel_and_places-place_building-derelict_house::before {
  content: "\1F3DA";
}
.emoji.emoji-travel_and_places-place_building-house::before {
  content: "\1F3E0";
}
.emoji.emoji-travel_and_places-place_building-house_with_garden::before {
  content: "\1F3E1";
}
.emoji.emoji-travel_and_places-place_building-office_building::before {
  content: "\1F3E2";
}
.emoji.emoji-travel_and_places-place_building-japanese_post_office::before {
  content: "\1F3E3";
}
.emoji.emoji-travel_and_places-place_building-post_office::before {
  content: "\1F3E4";
}
.emoji.emoji-travel_and_places-place_building-hospital::before {
  content: "\1F3E5";
}
.emoji.emoji-travel_and_places-place_building-bank::before {
  content: "\1F3E6";
}
.emoji.emoji-travel_and_places-place_building-hotel::before {
  content: "\1F3E8";
}
.emoji.emoji-travel_and_places-place_building-love_hotel::before {
  content: "\1F3E9";
}
.emoji.emoji-travel_and_places-place_building-convenience_store::before {
  content: "\1F3EA";
}
.emoji.emoji-travel_and_places-place_building-school::before {
  content: "\1F3EB";
}
.emoji.emoji-travel_and_places-place_building-department_store::before {
  content: "\1F3EC";
}
.emoji.emoji-travel_and_places-place_building-factory::before {
  content: "\1F3ED";
}
.emoji.emoji-travel_and_places-place_building-japanese_castle::before {
  content: "\1F3EF";
}
.emoji.emoji-travel_and_places-place_building-castle::before {
  content: "\1F3F0";
}
.emoji.emoji-travel_and_places-place_building-wedding::before {
  content: "\1F492";
}
.emoji.emoji-travel_and_places-place_building-tokyo_tower::before {
  content: "\1F5FC";
}
.emoji.emoji-travel_and_places-place_building-statue_of_liberty::before {
  content: "\1F5FD";
}