.emoji.emoji-objects-clothing-glasses::before {
  content: "\1F453";
}
.emoji.emoji-objects-clothing-sunglasses::before {
  content: "\1F576";
}
.emoji.emoji-objects-clothing-goggles::before {
  content: "\1F97D";
}
.emoji.emoji-objects-clothing-lab_coat::before {
  content: "\1F97C";
}
.emoji.emoji-objects-clothing-safety_vest::before {
  content: "\1F9BA";
}
.emoji.emoji-objects-clothing-necktie::before {
  content: "\1F454";
}
.emoji.emoji-objects-clothing-t_shirt::before {
  content: "\1F455";
}
.emoji.emoji-objects-clothing-jeans::before {
  content: "\1F456";
}
.emoji.emoji-objects-clothing-scarf::before {
  content: "\1F9E3";
}
.emoji.emoji-objects-clothing-gloves::before {
  content: "\1F9E4";
}
.emoji.emoji-objects-clothing-coat::before {
  content: "\1F9E5";
}
.emoji.emoji-objects-clothing-socks::before {
  content: "\1F9E6";
}
.emoji.emoji-objects-clothing-dress::before {
  content: "\1F457";
}
.emoji.emoji-objects-clothing-kimono::before {
  content: "\1F458";
}
.emoji.emoji-objects-clothing-sari::before {
  content: "\1F97B";
}
.emoji.emoji-objects-clothing-one_piece_swimsuit::before {
  content: "\1FA71";
}
.emoji.emoji-objects-clothing-briefs::before {
  content: "\1FA72";
}
.emoji.emoji-objects-clothing-shorts::before {
  content: "\1FA73";
}
.emoji.emoji-objects-clothing-bikini::before {
  content: "\1F459";
}
.emoji.emoji-objects-clothing-woman_s_clothes::before {
  content: "\1F45A";
}
.emoji.emoji-objects-clothing-purse::before {
  content: "\1F45B";
}
.emoji.emoji-objects-clothing-handbag::before {
  content: "\1F45C";
}
.emoji.emoji-objects-clothing-clutch_bag::before {
  content: "\1F45D";
}
.emoji.emoji-objects-clothing-shopping_bags::before {
  content: "\1F6CD";
}
.emoji.emoji-objects-clothing-backpack::before {
  content: "\1F392";
}
.emoji.emoji-objects-clothing-man_s_shoe::before {
  content: "\1F45E";
}
.emoji.emoji-objects-clothing-running_shoe::before {
  content: "\1F45F";
}
.emoji.emoji-objects-clothing-hiking_boot::before {
  content: "\1F97E";
}
.emoji.emoji-objects-clothing-flat_shoe::before {
  content: "\1F97F";
}
.emoji.emoji-objects-clothing-high_heeled_shoe::before {
  content: "\1F460";
}
.emoji.emoji-objects-clothing-woman_s_sandal::before {
  content: "\1F461";
}
.emoji.emoji-objects-clothing-ballet_shoes::before {
  content: "\1FA70";
}
.emoji.emoji-objects-clothing-woman_s_boot::before {
  content: "\1F462";
}
.emoji.emoji-objects-clothing-crown::before {
  content: "\1F451";
}
.emoji.emoji-objects-clothing-woman_s_hat::before {
  content: "\1F452";
}
.emoji.emoji-objects-clothing-top_hat::before {
  content: "\1F3A9";
}
.emoji.emoji-objects-clothing-graduation_cap::before {
  content: "\1F393";
}
.emoji.emoji-objects-clothing-billed_cap::before {
  content: "\1F9E2";
}
.emoji.emoji-objects-clothing-rescue_worker_s_helmet::before {
  content: "\26D1";
}
.emoji.emoji-objects-clothing-prayer_beads::before {
  content: "\1F4FF";
}
.emoji.emoji-objects-clothing-lipstick::before {
  content: "\1F484";
}
.emoji.emoji-objects-clothing-ring::before {
  content: "\1F48D";
}
.emoji.emoji-objects-clothing-gem_stone::before {
  content: "\1F48E";
}