.emoji.emoji-people_and_body-hand_fingers_partial-ok_hand::before {
  content: "\1F44C";
}
.emoji.emoji-people_and_body-hand_fingers_partial-pinching_hand::before {
  content: "\1F90F";
}
.emoji.emoji-people_and_body-hand_fingers_partial-victory_hand::before {
  content: "\270C";
}
.emoji.emoji-people_and_body-hand_fingers_partial-crossed_fingers::before {
  content: "\1F91E";
}
.emoji.emoji-people_and_body-hand_fingers_partial-love_you_gesture::before {
  content: "\1F91F";
}
.emoji.emoji-people_and_body-hand_fingers_partial-sign_of_the_horns::before {
  content: "\1F918";
}
.emoji.emoji-people_and_body-hand_fingers_partial-call_me_hand::before {
  content: "\1F919";
}