.emoji.emoji-objects-mail-envelope::before {
  content: "\2709";
}
.emoji.emoji-objects-mail-e_mail::before {
  content: "\1F4E7";
}
.emoji.emoji-objects-mail-incoming_envelope::before {
  content: "\1F4E8";
}
.emoji.emoji-objects-mail-envelope_with_arrow::before {
  content: "\1F4E9";
}
.emoji.emoji-objects-mail-outbox_tray::before {
  content: "\1F4E4";
}
.emoji.emoji-objects-mail-inbox_tray::before {
  content: "\1F4E5";
}
.emoji.emoji-objects-mail-package::before {
  content: "\1F4E6";
}
.emoji.emoji-objects-mail-closed_mailbox_with_raised_flag::before {
  content: "\1F4EB";
}
.emoji.emoji-objects-mail-closed_mailbox_with_lowered_flag::before {
  content: "\1F4EA";
}
.emoji.emoji-objects-mail-open_mailbox_with_raised_flag::before {
  content: "\1F4EC";
}
.emoji.emoji-objects-mail-open_mailbox_with_lowered_flag::before {
  content: "\1F4ED";
}
.emoji.emoji-objects-mail-postbox::before {
  content: "\1F4EE";
}
.emoji.emoji-objects-mail-ballot_box_with_ballot::before {
  content: "\1F5F3";
}