.emoji.emoji-food_and_drink-food_asian-bento_box::before {
  content: "\1F371";
}
.emoji.emoji-food_and_drink-food_asian-rice_cracker::before {
  content: "\1F358";
}
.emoji.emoji-food_and_drink-food_asian-rice_ball::before {
  content: "\1F359";
}
.emoji.emoji-food_and_drink-food_asian-cooked_rice::before {
  content: "\1F35A";
}
.emoji.emoji-food_and_drink-food_asian-curry_rice::before {
  content: "\1F35B";
}
.emoji.emoji-food_and_drink-food_asian-steaming_bowl::before {
  content: "\1F35C";
}
.emoji.emoji-food_and_drink-food_asian-spaghetti::before {
  content: "\1F35D";
}
.emoji.emoji-food_and_drink-food_asian-roasted_sweet_potato::before {
  content: "\1F360";
}
.emoji.emoji-food_and_drink-food_asian-oden::before {
  content: "\1F362";
}
.emoji.emoji-food_and_drink-food_asian-sushi::before {
  content: "\1F363";
}
.emoji.emoji-food_and_drink-food_asian-fried_shrimp::before {
  content: "\1F364";
}
.emoji.emoji-food_and_drink-food_asian-fish_cake_with_swirl::before {
  content: "\1F365";
}
.emoji.emoji-food_and_drink-food_asian-moon_cake::before {
  content: "\1F96E";
}
.emoji.emoji-food_and_drink-food_asian-dango::before {
  content: "\1F361";
}
.emoji.emoji-food_and_drink-food_asian-dumpling::before {
  content: "\1F95F";
}
.emoji.emoji-food_and_drink-food_asian-fortune_cookie::before {
  content: "\1F960";
}
.emoji.emoji-food_and_drink-food_asian-takeout_box::before {
  content: "\1F961";
}