.emoji.emoji-travel_and_places-place_map-globe_showing_europe_africa::before {
  content: "\1F30D";
}
.emoji.emoji-travel_and_places-place_map-globe_showing_americas::before {
  content: "\1F30E";
}
.emoji.emoji-travel_and_places-place_map-globe_showing_asia_australia::before {
  content: "\1F30F";
}
.emoji.emoji-travel_and_places-place_map-globe_with_meridians::before {
  content: "\1F310";
}
.emoji.emoji-travel_and_places-place_map-world_map::before {
  content: "\1F5FA";
}
.emoji.emoji-travel_and_places-place_map-map_of_japan::before {
  content: "\1F5FE";
}
.emoji.emoji-travel_and_places-place_map-compass::before {
  content: "\1F9ED";
}