.emoji.emoji-food_and_drink-drink-baby_bottle::before {
  content: "\1F37C";
}
.emoji.emoji-food_and_drink-drink-glass_of_milk::before {
  content: "\1F95B";
}
.emoji.emoji-food_and_drink-drink-hot_beverage::before {
  content: "\2615";
}
.emoji.emoji-food_and_drink-drink-teacup_without_handle::before {
  content: "\1F375";
}
.emoji.emoji-food_and_drink-drink-sake::before {
  content: "\1F376";
}
.emoji.emoji-food_and_drink-drink-bottle_with_popping_cork::before {
  content: "\1F37E";
}
.emoji.emoji-food_and_drink-drink-wine_glass::before {
  content: "\1F377";
}
.emoji.emoji-food_and_drink-drink-cocktail_glass::before {
  content: "\1F378";
}
.emoji.emoji-food_and_drink-drink-tropical_drink::before {
  content: "\1F379";
}
.emoji.emoji-food_and_drink-drink-beer_mug::before {
  content: "\1F37A";
}
.emoji.emoji-food_and_drink-drink-clinking_beer_mugs::before {
  content: "\1F37B";
}
.emoji.emoji-food_and_drink-drink-clinking_glasses::before {
  content: "\1F942";
}
.emoji.emoji-food_and_drink-drink-tumbler_glass::before {
  content: "\1F943";
}
.emoji.emoji-food_and_drink-drink-cup_with_straw::before {
  content: "\1F964";
}
.emoji.emoji-food_and_drink-drink-beverage_box::before {
  content: "\1F9C3";
}
.emoji.emoji-food_and_drink-drink-mate::before {
  content: "\1F9C9";
}
.emoji.emoji-food_and_drink-drink-ice::before {
  content: "\1F9CA";
}