.emoji.emoji-travel_and_places-transport_ground-locomotive::before {
  content: "\1F682";
}
.emoji.emoji-travel_and_places-transport_ground-railway_car::before {
  content: "\1F683";
}
.emoji.emoji-travel_and_places-transport_ground-high_speed_train::before {
  content: "\1F684";
}
.emoji.emoji-travel_and_places-transport_ground-bullet_train::before {
  content: "\1F685";
}
.emoji.emoji-travel_and_places-transport_ground-train::before {
  content: "\1F686";
}
.emoji.emoji-travel_and_places-transport_ground-metro::before {
  content: "\1F687";
}
.emoji.emoji-travel_and_places-transport_ground-light_rail::before {
  content: "\1F688";
}
.emoji.emoji-travel_and_places-transport_ground-station::before {
  content: "\1F689";
}
.emoji.emoji-travel_and_places-transport_ground-tram::before {
  content: "\1F68A";
}
.emoji.emoji-travel_and_places-transport_ground-monorail::before {
  content: "\1F69D";
}
.emoji.emoji-travel_and_places-transport_ground-mountain_railway::before {
  content: "\1F69E";
}
.emoji.emoji-travel_and_places-transport_ground-tram_car::before {
  content: "\1F68B";
}
.emoji.emoji-travel_and_places-transport_ground-bus::before {
  content: "\1F68C";
}
.emoji.emoji-travel_and_places-transport_ground-oncoming_bus::before {
  content: "\1F68D";
}
.emoji.emoji-travel_and_places-transport_ground-trolleybus::before {
  content: "\1F68E";
}
.emoji.emoji-travel_and_places-transport_ground-minibus::before {
  content: "\1F690";
}
.emoji.emoji-travel_and_places-transport_ground-ambulance::before {
  content: "\1F691";
}
.emoji.emoji-travel_and_places-transport_ground-fire_engine::before {
  content: "\1F692";
}
.emoji.emoji-travel_and_places-transport_ground-police_car::before {
  content: "\1F693";
}
.emoji.emoji-travel_and_places-transport_ground-oncoming_police_car::before {
  content: "\1F694";
}
.emoji.emoji-travel_and_places-transport_ground-taxi::before {
  content: "\1F695";
}
.emoji.emoji-travel_and_places-transport_ground-oncoming_taxi::before {
  content: "\1F696";
}
.emoji.emoji-travel_and_places-transport_ground-automobile::before {
  content: "\1F697";
}
.emoji.emoji-travel_and_places-transport_ground-oncoming_automobile::before {
  content: "\1F698";
}
.emoji.emoji-travel_and_places-transport_ground-sport_utility_vehicle::before {
  content: "\1F699";
}
.emoji.emoji-travel_and_places-transport_ground-delivery_truck::before {
  content: "\1F69A";
}
.emoji.emoji-travel_and_places-transport_ground-articulated_lorry::before {
  content: "\1F69B";
}
.emoji.emoji-travel_and_places-transport_ground-tractor::before {
  content: "\1F69C";
}
.emoji.emoji-travel_and_places-transport_ground-racing_car::before {
  content: "\1F3CE";
}
.emoji.emoji-travel_and_places-transport_ground-motorcycle::before {
  content: "\1F3CD";
}
.emoji.emoji-travel_and_places-transport_ground-motor_scooter::before {
  content: "\1F6F5";
}
.emoji.emoji-travel_and_places-transport_ground-manual_wheelchair::before {
  content: "\1F9BD";
}
.emoji.emoji-travel_and_places-transport_ground-motorized_wheelchair::before {
  content: "\1F9BC";
}
.emoji.emoji-travel_and_places-transport_ground-auto_rickshaw::before {
  content: "\1F6FA";
}
.emoji.emoji-travel_and_places-transport_ground-bicycle::before {
  content: "\1F6B2";
}
.emoji.emoji-travel_and_places-transport_ground-kick_scooter::before {
  content: "\1F6F4";
}
.emoji.emoji-travel_and_places-transport_ground-skateboard::before {
  content: "\1F6F9";
}
.emoji.emoji-travel_and_places-transport_ground-bus_stop::before {
  content: "\1F68F";
}
.emoji.emoji-travel_and_places-transport_ground-motorway::before {
  content: "\1F6E3";
}
.emoji.emoji-travel_and_places-transport_ground-railway_track::before {
  content: "\1F6E4";
}
.emoji.emoji-travel_and_places-transport_ground-oil_drum::before {
  content: "\1F6E2";
}
.emoji.emoji-travel_and_places-transport_ground-fuel_pump::before {
  content: "\26FD";
}
.emoji.emoji-travel_and_places-transport_ground-police_car_light::before {
  content: "\1F6A8";
}
.emoji.emoji-travel_and_places-transport_ground-horizontal_traffic_light::before {
  content: "\1F6A5";
}
.emoji.emoji-travel_and_places-transport_ground-vertical_traffic_light::before {
  content: "\1F6A6";
}
.emoji.emoji-travel_and_places-transport_ground-stop_sign::before {
  content: "\1F6D1";
}
.emoji.emoji-travel_and_places-transport_ground-construction::before {
  content: "\1F6A7";
}