.emoji.emoji-travel_and_places-transport_water-anchor::before {
  content: "\2693";
}
.emoji.emoji-travel_and_places-transport_water-sailboat::before {
  content: "\26F5";
}
.emoji.emoji-travel_and_places-transport_water-canoe::before {
  content: "\1F6F6";
}
.emoji.emoji-travel_and_places-transport_water-speedboat::before {
  content: "\1F6A4";
}
.emoji.emoji-travel_and_places-transport_water-passenger_ship::before {
  content: "\1F6F3";
}
.emoji.emoji-travel_and_places-transport_water-ferry::before {
  content: "\26F4";
}
.emoji.emoji-travel_and_places-transport_water-motor_boat::before {
  content: "\1F6E5";
}
.emoji.emoji-travel_and_places-transport_water-ship::before {
  content: "\1F6A2";
}