.emoji.emoji-objects-science-alembic::before {
  content: "\2697";
}
.emoji.emoji-objects-science-test_tube::before {
  content: "\1F9EA";
}
.emoji.emoji-objects-science-petri_dish::before {
  content: "\1F9EB";
}
.emoji.emoji-objects-science-dna::before {
  content: "\1F9EC";
}
.emoji.emoji-objects-science-microscope::before {
  content: "\1F52C";
}
.emoji.emoji-objects-science-telescope::before {
  content: "\1F52D";
}
.emoji.emoji-objects-science-satellite_antenna::before {
  content: "\1F4E1";
}