.emoji.emoji-objects-tool-hammer::before {
  content: "\1F528";
}
.emoji.emoji-objects-tool-axe::before {
  content: "\1FA93";
}
.emoji.emoji-objects-tool-pick::before {
  content: "\26CF";
}
.emoji.emoji-objects-tool-hammer_and_pick::before {
  content: "\2692";
}
.emoji.emoji-objects-tool-hammer_and_wrench::before {
  content: "\1F6E0";
}
.emoji.emoji-objects-tool-dagger::before {
  content: "\1F5E1";
}
.emoji.emoji-objects-tool-crossed_swords::before {
  content: "\2694";
}
.emoji.emoji-objects-tool-pistol::before {
  content: "\1F52B";
}
.emoji.emoji-objects-tool-bow_and_arrow::before {
  content: "\1F3F9";
}
.emoji.emoji-objects-tool-shield::before {
  content: "\1F6E1";
}
.emoji.emoji-objects-tool-wrench::before {
  content: "\1F527";
}
.emoji.emoji-objects-tool-nut_and_bolt::before {
  content: "\1F529";
}
.emoji.emoji-objects-tool-gear::before {
  content: "\2699";
}
.emoji.emoji-objects-tool-clamp::before {
  content: "\1F5DC";
}
.emoji.emoji-objects-tool-balance_scale::before {
  content: "\2696";
}
.emoji.emoji-objects-tool-white_cane::before {
  content: "\1F9AF";
}
.emoji.emoji-objects-tool-link::before {
  content: "\1F517";
}
.emoji.emoji-objects-tool-chains::before {
  content: "\26D3";
}
.emoji.emoji-objects-tool-toolbox::before {
  content: "\1F9F0";
}
.emoji.emoji-objects-tool-magnet::before {
  content: "\1F9F2";
}