.emoji.emoji-symbols-alphanum-input_latin_uppercase::before {
  content: "\1F520";
}
.emoji.emoji-symbols-alphanum-input_latin_lowercase::before {
  content: "\1F521";
}
.emoji.emoji-symbols-alphanum-input_numbers::before {
  content: "\1F522";
}
.emoji.emoji-symbols-alphanum-input_symbols::before {
  content: "\1F523";
}
.emoji.emoji-symbols-alphanum-input_latin_letters::before {
  content: "\1F524";
}
.emoji.emoji-symbols-alphanum-a_button_blood_type_::before {
  content: "\1F170";
}
.emoji.emoji-symbols-alphanum-ab_button_blood_type_::before {
  content: "\1F18E";
}
.emoji.emoji-symbols-alphanum-b_button_blood_type_::before {
  content: "\1F171";
}
.emoji.emoji-symbols-alphanum-cl_button::before {
  content: "\1F191";
}
.emoji.emoji-symbols-alphanum-cool_button::before {
  content: "\1F192";
}
.emoji.emoji-symbols-alphanum-free_button::before {
  content: "\1F193";
}
.emoji.emoji-symbols-alphanum-information::before {
  content: "\2139";
}
.emoji.emoji-symbols-alphanum-id_button::before {
  content: "\1F194";
}
.emoji.emoji-symbols-alphanum-circled_m::before {
  content: "\24C2";
}
.emoji.emoji-symbols-alphanum-new_button::before {
  content: "\1F195";
}
.emoji.emoji-symbols-alphanum-ng_button::before {
  content: "\1F196";
}
.emoji.emoji-symbols-alphanum-o_button_blood_type_::before {
  content: "\1F17E";
}
.emoji.emoji-symbols-alphanum-ok_button::before {
  content: "\1F197";
}
.emoji.emoji-symbols-alphanum-p_button::before {
  content: "\1F17F";
}
.emoji.emoji-symbols-alphanum-sos_button::before {
  content: "\1F198";
}
.emoji.emoji-symbols-alphanum-up_button::before {
  content: "\1F199";
}
.emoji.emoji-symbols-alphanum-vs_button::before {
  content: "\1F19A";
}
.emoji.emoji-symbols-alphanum-japanese_here_button::before {
  content: "\1F201";
}
.emoji.emoji-symbols-alphanum-japanese_service_charge_button::before {
  content: "\1F202";
}
.emoji.emoji-symbols-alphanum-japanese_monthly_amount_button::before {
  content: "\1F237";
}
.emoji.emoji-symbols-alphanum-japanese_not_free_of_charge_button::before {
  content: "\1F236";
}
.emoji.emoji-symbols-alphanum-japanese_reserved_button::before {
  content: "\1F22F";
}
.emoji.emoji-symbols-alphanum-japanese_bargain_button::before {
  content: "\1F250";
}
.emoji.emoji-symbols-alphanum-japanese_discount_button::before {
  content: "\1F239";
}
.emoji.emoji-symbols-alphanum-japanese_free_of_charge_button::before {
  content: "\1F21A";
}
.emoji.emoji-symbols-alphanum-japanese_prohibited_button::before {
  content: "\1F232";
}
.emoji.emoji-symbols-alphanum-japanese_acceptable_button::before {
  content: "\1F251";
}
.emoji.emoji-symbols-alphanum-japanese_application_button::before {
  content: "\1F238";
}
.emoji.emoji-symbols-alphanum-japanese_passing_grade_button::before {
  content: "\1F234";
}
.emoji.emoji-symbols-alphanum-japanese_vacancy_button::before {
  content: "\1F233";
}
.emoji.emoji-symbols-alphanum-japanese_congratulations_button::before {
  content: "\3297";
}
.emoji.emoji-symbols-alphanum-japanese_secret_button::before {
  content: "\3299";
}
.emoji.emoji-symbols-alphanum-japanese_open_for_business_button::before {
  content: "\1F23A";
}
.emoji.emoji-symbols-alphanum-japanese_no_vacancy_button::before {
  content: "\1F235";
}