.emoji.emoji-smileys_and_emotion-face_tongue-face_savoring_food::before {
  content: "\1F60B";
}
.emoji.emoji-smileys_and_emotion-face_tongue-face_with_tongue::before {
  content: "\1F61B";
}
.emoji.emoji-smileys_and_emotion-face_tongue-winking_face_with_tongue::before {
  content: "\1F61C";
}
.emoji.emoji-smileys_and_emotion-face_tongue-zany_face::before {
  content: "\1F92A";
}
.emoji.emoji-smileys_and_emotion-face_tongue-squinting_face_with_tongue::before {
  content: "\1F61D";
}
.emoji.emoji-smileys_and_emotion-face_tongue-money_mouth_face::before {
  content: "\1F911";
}