.emoji.emoji-smileys_and_emotion-face_costume-pile_of_poo::before {
  content: "\1F4A9";
}
.emoji.emoji-smileys_and_emotion-face_costume-clown_face::before {
  content: "\1F921";
}
.emoji.emoji-smileys_and_emotion-face_costume-ogre::before {
  content: "\1F479";
}
.emoji.emoji-smileys_and_emotion-face_costume-goblin::before {
  content: "\1F47A";
}
.emoji.emoji-smileys_and_emotion-face_costume-ghost::before {
  content: "\1F47B";
}
.emoji.emoji-smileys_and_emotion-face_costume-alien::before {
  content: "\1F47D";
}
.emoji.emoji-smileys_and_emotion-face_costume-alien_monster::before {
  content: "\1F47E";
}
.emoji.emoji-smileys_and_emotion-face_costume-robot::before {
  content: "\1F916";
}