.emoji.emoji-travel_and_places-place_other-fountain::before {
  content: "\26F2";
}
.emoji.emoji-travel_and_places-place_other-tent::before {
  content: "\26FA";
}
.emoji.emoji-travel_and_places-place_other-foggy::before {
  content: "\1F301";
}
.emoji.emoji-travel_and_places-place_other-night_with_stars::before {
  content: "\1F303";
}
.emoji.emoji-travel_and_places-place_other-cityscape::before {
  content: "\1F3D9";
}
.emoji.emoji-travel_and_places-place_other-sunrise_over_mountains::before {
  content: "\1F304";
}
.emoji.emoji-travel_and_places-place_other-sunrise::before {
  content: "\1F305";
}
.emoji.emoji-travel_and_places-place_other-cityscape_at_dusk::before {
  content: "\1F306";
}
.emoji.emoji-travel_and_places-place_other-sunset::before {
  content: "\1F307";
}
.emoji.emoji-travel_and_places-place_other-bridge_at_night::before {
  content: "\1F309";
}
.emoji.emoji-travel_and_places-place_other-hot_springs::before {
  content: "\2668";
}
.emoji.emoji-travel_and_places-place_other-carousel_horse::before {
  content: "\1F3A0";
}
.emoji.emoji-travel_and_places-place_other-ferris_wheel::before {
  content: "\1F3A1";
}
.emoji.emoji-travel_and_places-place_other-roller_coaster::before {
  content: "\1F3A2";
}
.emoji.emoji-travel_and_places-place_other-barber_pole::before {
  content: "\1F488";
}
.emoji.emoji-travel_and_places-place_other-circus_tent::before {
  content: "\1F3AA";
}