.emoji.emoji-animals_and_nature-animal_bug-snail::before {
  content: "\1F40C";
}
.emoji.emoji-animals_and_nature-animal_bug-butterfly::before {
  content: "\1F98B";
}
.emoji.emoji-animals_and_nature-animal_bug-bug::before {
  content: "\1F41B";
}
.emoji.emoji-animals_and_nature-animal_bug-ant::before {
  content: "\1F41C";
}
.emoji.emoji-animals_and_nature-animal_bug-honeybee::before {
  content: "\1F41D";
}
.emoji.emoji-animals_and_nature-animal_bug-lady_beetle::before {
  content: "\1F41E";
}
.emoji.emoji-animals_and_nature-animal_bug-cricket::before {
  content: "\1F997";
}
.emoji.emoji-animals_and_nature-animal_bug-spider::before {
  content: "\1F577";
}
.emoji.emoji-animals_and_nature-animal_bug-spider_web::before {
  content: "\1F578";
}
.emoji.emoji-animals_and_nature-animal_bug-scorpion::before {
  content: "\1F982";
}
.emoji.emoji-animals_and_nature-animal_bug-mosquito::before {
  content: "\1F99F";
}
.emoji.emoji-animals_and_nature-animal_bug-microbe::before {
  content: "\1F9A0";
}