.emoji.emoji-people_and_body-hand_single_finger-backhand_index_pointing_left::before {
  content: "\1F448";
}
.emoji.emoji-people_and_body-hand_single_finger-backhand_index_pointing_right::before {
  content: "\1F449";
}
.emoji.emoji-people_and_body-hand_single_finger-backhand_index_pointing_up::before {
  content: "\1F446";
}
.emoji.emoji-people_and_body-hand_single_finger-middle_finger::before {
  content: "\1F595";
}
.emoji.emoji-people_and_body-hand_single_finger-backhand_index_pointing_down::before {
  content: "\1F447";
}
.emoji.emoji-people_and_body-hand_single_finger-index_pointing_up::before {
  content: "\261D";
}