.emoji.emoji-food_and_drink-food_vegetable-avocado::before {
  content: "\1F951";
}
.emoji.emoji-food_and_drink-food_vegetable-eggplant::before {
  content: "\1F346";
}
.emoji.emoji-food_and_drink-food_vegetable-potato::before {
  content: "\1F954";
}
.emoji.emoji-food_and_drink-food_vegetable-carrot::before {
  content: "\1F955";
}
.emoji.emoji-food_and_drink-food_vegetable-ear_of_corn::before {
  content: "\1F33D";
}
.emoji.emoji-food_and_drink-food_vegetable-hot_pepper::before {
  content: "\1F336";
}
.emoji.emoji-food_and_drink-food_vegetable-cucumber::before {
  content: "\1F952";
}
.emoji.emoji-food_and_drink-food_vegetable-leafy_green::before {
  content: "\1F96C";
}
.emoji.emoji-food_and_drink-food_vegetable-broccoli::before {
  content: "\1F966";
}
.emoji.emoji-food_and_drink-food_vegetable-garlic::before {
  content: "\1F9C4";
}
.emoji.emoji-food_and_drink-food_vegetable-onion::before {
  content: "\1F9C5";
}
.emoji.emoji-food_and_drink-food_vegetable-mushroom::before {
  content: "\1F344";
}
.emoji.emoji-food_and_drink-food_vegetable-peanuts::before {
  content: "\1F95C";
}
.emoji.emoji-food_and_drink-food_vegetable-chestnut::before {
  content: "\1F330";
}