.emoji.emoji-objects-household-door::before {
  content: "\1F6AA";
}
.emoji.emoji-objects-household-bed::before {
  content: "\1F6CF";
}
.emoji.emoji-objects-household-couch_and_lamp::before {
  content: "\1F6CB";
}
.emoji.emoji-objects-household-chair::before {
  content: "\1FA91";
}
.emoji.emoji-objects-household-toilet::before {
  content: "\1F6BD";
}
.emoji.emoji-objects-household-shower::before {
  content: "\1F6BF";
}
.emoji.emoji-objects-household-bathtub::before {
  content: "\1F6C1";
}
.emoji.emoji-objects-household-razor::before {
  content: "\1FA92";
}
.emoji.emoji-objects-household-lotion_bottle::before {
  content: "\1F9F4";
}
.emoji.emoji-objects-household-safety_pin::before {
  content: "\1F9F7";
}
.emoji.emoji-objects-household-broom::before {
  content: "\1F9F9";
}
.emoji.emoji-objects-household-basket::before {
  content: "\1F9FA";
}
.emoji.emoji-objects-household-roll_of_paper::before {
  content: "\1F9FB";
}
.emoji.emoji-objects-household-soap::before {
  content: "\1F9FC";
}
.emoji.emoji-objects-household-sponge::before {
  content: "\1F9FD";
}
.emoji.emoji-objects-household-fire_extinguisher::before {
  content: "\1F9EF";
}
.emoji.emoji-objects-household-shopping_cart::before {
  content: "\1F6D2";
}