.emoji.emoji-travel_and_places-time-hourglass_done::before {
  content: "\231B";
}
.emoji.emoji-travel_and_places-time-hourglass_not_done::before {
  content: "\23F3";
}
.emoji.emoji-travel_and_places-time-watch::before {
  content: "\231A";
}
.emoji.emoji-travel_and_places-time-alarm_clock::before {
  content: "\23F0";
}
.emoji.emoji-travel_and_places-time-stopwatch::before {
  content: "\23F1";
}
.emoji.emoji-travel_and_places-time-timer_clock::before {
  content: "\23F2";
}
.emoji.emoji-travel_and_places-time-mantelpiece_clock::before {
  content: "\1F570";
}
.emoji.emoji-travel_and_places-time-twelve_o_clock::before {
  content: "\1F55B";
}
.emoji.emoji-travel_and_places-time-twelve_thirty::before {
  content: "\1F567";
}
.emoji.emoji-travel_and_places-time-one_o_clock::before {
  content: "\1F550";
}
.emoji.emoji-travel_and_places-time-one_thirty::before {
  content: "\1F55C";
}
.emoji.emoji-travel_and_places-time-two_o_clock::before {
  content: "\1F551";
}
.emoji.emoji-travel_and_places-time-two_thirty::before {
  content: "\1F55D";
}
.emoji.emoji-travel_and_places-time-three_o_clock::before {
  content: "\1F552";
}
.emoji.emoji-travel_and_places-time-three_thirty::before {
  content: "\1F55E";
}
.emoji.emoji-travel_and_places-time-four_o_clock::before {
  content: "\1F553";
}
.emoji.emoji-travel_and_places-time-four_thirty::before {
  content: "\1F55F";
}
.emoji.emoji-travel_and_places-time-five_o_clock::before {
  content: "\1F554";
}
.emoji.emoji-travel_and_places-time-five_thirty::before {
  content: "\1F560";
}
.emoji.emoji-travel_and_places-time-six_o_clock::before {
  content: "\1F555";
}
.emoji.emoji-travel_and_places-time-six_thirty::before {
  content: "\1F561";
}
.emoji.emoji-travel_and_places-time-seven_o_clock::before {
  content: "\1F556";
}
.emoji.emoji-travel_and_places-time-seven_thirty::before {
  content: "\1F562";
}
.emoji.emoji-travel_and_places-time-eight_o_clock::before {
  content: "\1F557";
}
.emoji.emoji-travel_and_places-time-eight_thirty::before {
  content: "\1F563";
}
.emoji.emoji-travel_and_places-time-nine_o_clock::before {
  content: "\1F558";
}
.emoji.emoji-travel_and_places-time-nine_thirty::before {
  content: "\1F564";
}
.emoji.emoji-travel_and_places-time-ten_o_clock::before {
  content: "\1F559";
}
.emoji.emoji-travel_and_places-time-ten_thirty::before {
  content: "\1F565";
}
.emoji.emoji-travel_and_places-time-eleven_o_clock::before {
  content: "\1F55A";
}
.emoji.emoji-travel_and_places-time-eleven_thirty::before {
  content: "\1F566";
}