.emoji.emoji-travel_and_places-place_geographic-snow_capped_mountain::before {
  content: "\1F3D4";
}
.emoji.emoji-travel_and_places-place_geographic-mountain::before {
  content: "\26F0";
}
.emoji.emoji-travel_and_places-place_geographic-volcano::before {
  content: "\1F30B";
}
.emoji.emoji-travel_and_places-place_geographic-mount_fuji::before {
  content: "\1F5FB";
}
.emoji.emoji-travel_and_places-place_geographic-camping::before {
  content: "\1F3D5";
}
.emoji.emoji-travel_and_places-place_geographic-beach_with_umbrella::before {
  content: "\1F3D6";
}
.emoji.emoji-travel_and_places-place_geographic-desert::before {
  content: "\1F3DC";
}
.emoji.emoji-travel_and_places-place_geographic-desert_island::before {
  content: "\1F3DD";
}
.emoji.emoji-travel_and_places-place_geographic-national_park::before {
  content: "\1F3DE";
}