.emoji.emoji-smileys_and_emotion-face_neutral_skeptical-zipper_mouth_face::before {
  content: "\1F910";
}
.emoji.emoji-smileys_and_emotion-face_neutral_skeptical-face_with_raised_eyebrow::before {
  content: "\1F928";
}
.emoji.emoji-smileys_and_emotion-face_neutral_skeptical-neutral_face::before {
  content: "\1F610";
}
.emoji.emoji-smileys_and_emotion-face_neutral_skeptical-expressionless_face::before {
  content: "\1F611";
}
.emoji.emoji-smileys_and_emotion-face_neutral_skeptical-face_without_mouth::before {
  content: "\1F636";
}
.emoji.emoji-smileys_and_emotion-face_neutral_skeptical-smirking_face::before {
  content: "\1F60F";
}
.emoji.emoji-smileys_and_emotion-face_neutral_skeptical-unamused_face::before {
  content: "\1F612";
}
.emoji.emoji-smileys_and_emotion-face_neutral_skeptical-face_with_rolling_eyes::before {
  content: "\1F644";
}
.emoji.emoji-smileys_and_emotion-face_neutral_skeptical-grimacing_face::before {
  content: "\1F62C";
}
.emoji.emoji-smileys_and_emotion-face_neutral_skeptical-lying_face::before {
  content: "\1F925";
}