.emoji.emoji-animals_and_nature-plant_other-seedling::before {
  content: "\1F331";
}
.emoji.emoji-animals_and_nature-plant_other-evergreen_tree::before {
  content: "\1F332";
}
.emoji.emoji-animals_and_nature-plant_other-deciduous_tree::before {
  content: "\1F333";
}
.emoji.emoji-animals_and_nature-plant_other-palm_tree::before {
  content: "\1F334";
}
.emoji.emoji-animals_and_nature-plant_other-cactus::before {
  content: "\1F335";
}
.emoji.emoji-animals_and_nature-plant_other-sheaf_of_rice::before {
  content: "\1F33E";
}
.emoji.emoji-animals_and_nature-plant_other-herb::before {
  content: "\1F33F";
}
.emoji.emoji-animals_and_nature-plant_other-shamrock::before {
  content: "\2618";
}
.emoji.emoji-animals_and_nature-plant_other-four_leaf_clover::before {
  content: "\1F340";
}
.emoji.emoji-animals_and_nature-plant_other-maple_leaf::before {
  content: "\1F341";
}
.emoji.emoji-animals_and_nature-plant_other-fallen_leaf::before {
  content: "\1F342";
}
.emoji.emoji-animals_and_nature-plant_other-leaf_fluttering_in_wind::before {
  content: "\1F343";
}