.emoji.emoji-people_and_body-family-people_holding_hands::before {
  content: "\1F9D1\200D\1F91D\200D\1F9D1";
}
.emoji.emoji-people_and_body-family-women_holding_hands::before {
  content: "\1F46D";
}
.emoji.emoji-people_and_body-family-woman_and_man_holding_hands::before {
  content: "\1F46B";
}
.emoji.emoji-people_and_body-family-men_holding_hands::before {
  content: "\1F46C";
}
.emoji.emoji-people_and_body-family-kiss::before {
  content: "\1F48F";
}
.emoji.emoji-people_and_body-family-kiss_woman_man::before {
  content: "\1F469\200D\2764\FE0F\200D\1F48B\200D\1F468";
}
.emoji.emoji-people_and_body-family-kiss_man_man::before {
  content: "\1F468\200D\2764\FE0F\200D\1F48B\200D\1F468";
}
.emoji.emoji-people_and_body-family-kiss_woman_woman::before {
  content: "\1F469\200D\2764\FE0F\200D\1F48B\200D\1F469";
}
.emoji.emoji-people_and_body-family-couple_with_heart::before {
  content: "\1F491";
}
.emoji.emoji-people_and_body-family-couple_with_heart_woman_man::before {
  content: "\1F469\200D\2764\FE0F\200D\1F468";
}
.emoji.emoji-people_and_body-family-couple_with_heart_man_man::before {
  content: "\1F468\200D\2764\FE0F\200D\1F468";
}
.emoji.emoji-people_and_body-family-couple_with_heart_woman_woman::before {
  content: "\1F469\200D\2764\FE0F\200D\1F469";
}
.emoji.emoji-people_and_body-family-family::before {
  content: "\1F46A";
}
.emoji.emoji-people_and_body-family-family_man_woman_boy::before {
  content: "\1F468\200D\1F469\200D\1F466";
}
.emoji.emoji-people_and_body-family-family_man_woman_girl::before {
  content: "\1F468\200D\1F469\200D\1F467";
}
.emoji.emoji-people_and_body-family-family_man_woman_girl_boy::before {
  content: "\1F468\200D\1F469\200D\1F467\200D\1F466";
}
.emoji.emoji-people_and_body-family-family_man_woman_boy_boy::before {
  content: "\1F468\200D\1F469\200D\1F466\200D\1F466";
}
.emoji.emoji-people_and_body-family-family_man_woman_girl_girl::before {
  content: "\1F468\200D\1F469\200D\1F467\200D\1F467";
}
.emoji.emoji-people_and_body-family-family_man_man_boy::before {
  content: "\1F468\200D\1F468\200D\1F466";
}
.emoji.emoji-people_and_body-family-family_man_man_girl::before {
  content: "\1F468\200D\1F468\200D\1F467";
}
.emoji.emoji-people_and_body-family-family_man_man_girl_boy::before {
  content: "\1F468\200D\1F468\200D\1F467\200D\1F466";
}
.emoji.emoji-people_and_body-family-family_man_man_boy_boy::before {
  content: "\1F468\200D\1F468\200D\1F466\200D\1F466";
}
.emoji.emoji-people_and_body-family-family_man_man_girl_girl::before {
  content: "\1F468\200D\1F468\200D\1F467\200D\1F467";
}
.emoji.emoji-people_and_body-family-family_woman_woman_boy::before {
  content: "\1F469\200D\1F469\200D\1F466";
}
.emoji.emoji-people_and_body-family-family_woman_woman_girl::before {
  content: "\1F469\200D\1F469\200D\1F467";
}
.emoji.emoji-people_and_body-family-family_woman_woman_girl_boy::before {
  content: "\1F469\200D\1F469\200D\1F467\200D\1F466";
}
.emoji.emoji-people_and_body-family-family_woman_woman_boy_boy::before {
  content: "\1F469\200D\1F469\200D\1F466\200D\1F466";
}
.emoji.emoji-people_and_body-family-family_woman_woman_girl_girl::before {
  content: "\1F469\200D\1F469\200D\1F467\200D\1F467";
}
.emoji.emoji-people_and_body-family-family_man_boy::before {
  content: "\1F468\200D\1F466";
}
.emoji.emoji-people_and_body-family-family_man_boy_boy::before {
  content: "\1F468\200D\1F466\200D\1F466";
}
.emoji.emoji-people_and_body-family-family_man_girl::before {
  content: "\1F468\200D\1F467";
}
.emoji.emoji-people_and_body-family-family_man_girl_boy::before {
  content: "\1F468\200D\1F467\200D\1F466";
}
.emoji.emoji-people_and_body-family-family_man_girl_girl::before {
  content: "\1F468\200D\1F467\200D\1F467";
}
.emoji.emoji-people_and_body-family-family_woman_boy::before {
  content: "\1F469\200D\1F466";
}
.emoji.emoji-people_and_body-family-family_woman_boy_boy::before {
  content: "\1F469\200D\1F466\200D\1F466";
}
.emoji.emoji-people_and_body-family-family_woman_girl::before {
  content: "\1F469\200D\1F467";
}
.emoji.emoji-people_and_body-family-family_woman_girl_boy::before {
  content: "\1F469\200D\1F467\200D\1F466";
}
.emoji.emoji-people_and_body-family-family_woman_girl_girl::before {
  content: "\1F469\200D\1F467\200D\1F467";
}