.emoji.emoji-animals_and_nature-animal_bird-turkey::before {
  content: "\1F983";
}
.emoji.emoji-animals_and_nature-animal_bird-chicken::before {
  content: "\1F414";
}
.emoji.emoji-animals_and_nature-animal_bird-rooster::before {
  content: "\1F413";
}
.emoji.emoji-animals_and_nature-animal_bird-hatching_chick::before {
  content: "\1F423";
}
.emoji.emoji-animals_and_nature-animal_bird-baby_chick::before {
  content: "\1F424";
}
.emoji.emoji-animals_and_nature-animal_bird-front_facing_baby_chick::before {
  content: "\1F425";
}
.emoji.emoji-animals_and_nature-animal_bird-bird::before {
  content: "\1F426";
}
.emoji.emoji-animals_and_nature-animal_bird-penguin::before {
  content: "\1F427";
}
.emoji.emoji-animals_and_nature-animal_bird-dove::before {
  content: "\1F54A";
}
.emoji.emoji-animals_and_nature-animal_bird-eagle::before {
  content: "\1F985";
}
.emoji.emoji-animals_and_nature-animal_bird-duck::before {
  content: "\1F986";
}
.emoji.emoji-animals_and_nature-animal_bird-swan::before {
  content: "\1F9A2";
}
.emoji.emoji-animals_and_nature-animal_bird-owl::before {
  content: "\1F989";
}
.emoji.emoji-animals_and_nature-animal_bird-flamingo::before {
  content: "\1F9A9";
}
.emoji.emoji-animals_and_nature-animal_bird-peacock::before {
  content: "\1F99A";
}
.emoji.emoji-animals_and_nature-animal_bird-parrot::before {
  content: "\1F99C";
}