.emoji.emoji-animals_and_nature-animal_mammal-monkey_face::before {
  content: "\1F435";
}
.emoji.emoji-animals_and_nature-animal_mammal-monkey::before {
  content: "\1F412";
}
.emoji.emoji-animals_and_nature-animal_mammal-gorilla::before {
  content: "\1F98D";
}
.emoji.emoji-animals_and_nature-animal_mammal-orangutan::before {
  content: "\1F9A7";
}
.emoji.emoji-animals_and_nature-animal_mammal-dog_face::before {
  content: "\1F436";
}
.emoji.emoji-animals_and_nature-animal_mammal-dog::before {
  content: "\1F415";
}
.emoji.emoji-animals_and_nature-animal_mammal-guide_dog::before {
  content: "\1F9AE";
}
.emoji.emoji-animals_and_nature-animal_mammal-service_dog::before {
  content: "\1F415\200D\1F9BA";
}
.emoji.emoji-animals_and_nature-animal_mammal-poodle::before {
  content: "\1F429";
}
.emoji.emoji-animals_and_nature-animal_mammal-wolf::before {
  content: "\1F43A";
}
.emoji.emoji-animals_and_nature-animal_mammal-fox::before {
  content: "\1F98A";
}
.emoji.emoji-animals_and_nature-animal_mammal-raccoon::before {
  content: "\1F99D";
}
.emoji.emoji-animals_and_nature-animal_mammal-cat_face::before {
  content: "\1F431";
}
.emoji.emoji-animals_and_nature-animal_mammal-cat::before {
  content: "\1F408";
}
.emoji.emoji-animals_and_nature-animal_mammal-lion::before {
  content: "\1F981";
}
.emoji.emoji-animals_and_nature-animal_mammal-tiger_face::before {
  content: "\1F42F";
}
.emoji.emoji-animals_and_nature-animal_mammal-tiger::before {
  content: "\1F405";
}
.emoji.emoji-animals_and_nature-animal_mammal-leopard::before {
  content: "\1F406";
}
.emoji.emoji-animals_and_nature-animal_mammal-horse_face::before {
  content: "\1F434";
}
.emoji.emoji-animals_and_nature-animal_mammal-horse::before {
  content: "\1F40E";
}
.emoji.emoji-animals_and_nature-animal_mammal-unicorn::before {
  content: "\1F984";
}
.emoji.emoji-animals_and_nature-animal_mammal-zebra::before {
  content: "\1F993";
}
.emoji.emoji-animals_and_nature-animal_mammal-deer::before {
  content: "\1F98C";
}
.emoji.emoji-animals_and_nature-animal_mammal-cow_face::before {
  content: "\1F42E";
}
.emoji.emoji-animals_and_nature-animal_mammal-ox::before {
  content: "\1F402";
}
.emoji.emoji-animals_and_nature-animal_mammal-water_buffalo::before {
  content: "\1F403";
}
.emoji.emoji-animals_and_nature-animal_mammal-cow::before {
  content: "\1F404";
}
.emoji.emoji-animals_and_nature-animal_mammal-pig_face::before {
  content: "\1F437";
}
.emoji.emoji-animals_and_nature-animal_mammal-pig::before {
  content: "\1F416";
}
.emoji.emoji-animals_and_nature-animal_mammal-boar::before {
  content: "\1F417";
}
.emoji.emoji-animals_and_nature-animal_mammal-pig_nose::before {
  content: "\1F43D";
}
.emoji.emoji-animals_and_nature-animal_mammal-ram::before {
  content: "\1F40F";
}
.emoji.emoji-animals_and_nature-animal_mammal-ewe::before {
  content: "\1F411";
}
.emoji.emoji-animals_and_nature-animal_mammal-goat::before {
  content: "\1F410";
}
.emoji.emoji-animals_and_nature-animal_mammal-camel::before {
  content: "\1F42A";
}
.emoji.emoji-animals_and_nature-animal_mammal-two_hump_camel::before {
  content: "\1F42B";
}
.emoji.emoji-animals_and_nature-animal_mammal-llama::before {
  content: "\1F999";
}
.emoji.emoji-animals_and_nature-animal_mammal-giraffe::before {
  content: "\1F992";
}
.emoji.emoji-animals_and_nature-animal_mammal-elephant::before {
  content: "\1F418";
}
.emoji.emoji-animals_and_nature-animal_mammal-rhinoceros::before {
  content: "\1F98F";
}
.emoji.emoji-animals_and_nature-animal_mammal-hippopotamus::before {
  content: "\1F99B";
}
.emoji.emoji-animals_and_nature-animal_mammal-mouse_face::before {
  content: "\1F42D";
}
.emoji.emoji-animals_and_nature-animal_mammal-mouse::before {
  content: "\1F401";
}
.emoji.emoji-animals_and_nature-animal_mammal-rat::before {
  content: "\1F400";
}
.emoji.emoji-animals_and_nature-animal_mammal-hamster::before {
  content: "\1F439";
}
.emoji.emoji-animals_and_nature-animal_mammal-rabbit_face::before {
  content: "\1F430";
}
.emoji.emoji-animals_and_nature-animal_mammal-rabbit::before {
  content: "\1F407";
}
.emoji.emoji-animals_and_nature-animal_mammal-chipmunk::before {
  content: "\1F43F";
}
.emoji.emoji-animals_and_nature-animal_mammal-hedgehog::before {
  content: "\1F994";
}
.emoji.emoji-animals_and_nature-animal_mammal-bat::before {
  content: "\1F987";
}
.emoji.emoji-animals_and_nature-animal_mammal-bear::before {
  content: "\1F43B";
}
.emoji.emoji-animals_and_nature-animal_mammal-koala::before {
  content: "\1F428";
}
.emoji.emoji-animals_and_nature-animal_mammal-panda::before {
  content: "\1F43C";
}
.emoji.emoji-animals_and_nature-animal_mammal-sloth::before {
  content: "\1F9A5";
}
.emoji.emoji-animals_and_nature-animal_mammal-otter::before {
  content: "\1F9A6";
}
.emoji.emoji-animals_and_nature-animal_mammal-skunk::before {
  content: "\1F9A8";
}
.emoji.emoji-animals_and_nature-animal_mammal-kangaroo::before {
  content: "\1F998";
}
.emoji.emoji-animals_and_nature-animal_mammal-badger::before {
  content: "\1F9A1";
}
.emoji.emoji-animals_and_nature-animal_mammal-paw_prints::before {
  content: "\1F43E";
}