.emoji.emoji-food_and_drink-food_marine-crab::before {
  content: "\1F980";
}
.emoji.emoji-food_and_drink-food_marine-lobster::before {
  content: "\1F99E";
}
.emoji.emoji-food_and_drink-food_marine-shrimp::before {
  content: "\1F990";
}
.emoji.emoji-food_and_drink-food_marine-squid::before {
  content: "\1F991";
}
.emoji.emoji-food_and_drink-food_marine-oyster::before {
  content: "\1F9AA";
}