.emoji.emoji-people_and_body-person_sport-person_fencing::before {
  content: "\1F93A";
}
.emoji.emoji-people_and_body-person_sport-horse_racing::before {
  content: "\1F3C7";
}
.emoji.emoji-people_and_body-person_sport-skier::before {
  content: "\26F7";
}
.emoji.emoji-people_and_body-person_sport-snowboarder::before {
  content: "\1F3C2";
}
.emoji.emoji-people_and_body-person_sport-person_golfing::before {
  content: "\1F3CC";
}
.emoji.emoji-people_and_body-person_sport-man_golfing::before {
  content: "\1F3CC\FE0F\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_sport-woman_golfing::before {
  content: "\1F3CC\FE0F\200D\2640\FE0F";
}
.emoji.emoji-people_and_body-person_sport-person_surfing::before {
  content: "\1F3C4";
}
.emoji.emoji-people_and_body-person_sport-man_surfing::before {
  content: "\1F3C4\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_sport-woman_surfing::before {
  content: "\1F3C4\200D\2640\FE0F";
}
.emoji.emoji-people_and_body-person_sport-person_rowing_boat::before {
  content: "\1F6A3";
}
.emoji.emoji-people_and_body-person_sport-man_rowing_boat::before {
  content: "\1F6A3\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_sport-woman_rowing_boat::before {
  content: "\1F6A3\200D\2640\FE0F";
}
.emoji.emoji-people_and_body-person_sport-person_swimming::before {
  content: "\1F3CA";
}
.emoji.emoji-people_and_body-person_sport-man_swimming::before {
  content: "\1F3CA\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_sport-woman_swimming::before {
  content: "\1F3CA\200D\2640\FE0F";
}
.emoji.emoji-people_and_body-person_sport-person_bouncing_ball::before {
  content: "\26F9";
}
.emoji.emoji-people_and_body-person_sport-man_bouncing_ball::before {
  content: "\26F9\FE0F\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_sport-woman_bouncing_ball::before {
  content: "\26F9\FE0F\200D\2640\FE0F";
}
.emoji.emoji-people_and_body-person_sport-person_lifting_weights::before {
  content: "\1F3CB";
}
.emoji.emoji-people_and_body-person_sport-man_lifting_weights::before {
  content: "\1F3CB\FE0F\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_sport-woman_lifting_weights::before {
  content: "\1F3CB\FE0F\200D\2640\FE0F";
}
.emoji.emoji-people_and_body-person_sport-person_biking::before {
  content: "\1F6B4";
}
.emoji.emoji-people_and_body-person_sport-man_biking::before {
  content: "\1F6B4\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_sport-woman_biking::before {
  content: "\1F6B4\200D\2640\FE0F";
}
.emoji.emoji-people_and_body-person_sport-person_mountain_biking::before {
  content: "\1F6B5";
}
.emoji.emoji-people_and_body-person_sport-man_mountain_biking::before {
  content: "\1F6B5\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_sport-woman_mountain_biking::before {
  content: "\1F6B5\200D\2640\FE0F";
}
.emoji.emoji-people_and_body-person_sport-person_cartwheeling::before {
  content: "\1F938";
}
.emoji.emoji-people_and_body-person_sport-man_cartwheeling::before {
  content: "\1F938\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_sport-woman_cartwheeling::before {
  content: "\1F938\200D\2640\FE0F";
}
.emoji.emoji-people_and_body-person_sport-people_wrestling::before {
  content: "\1F93C";
}
.emoji.emoji-people_and_body-person_sport-men_wrestling::before {
  content: "\1F93C\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_sport-women_wrestling::before {
  content: "\1F93C\200D\2640\FE0F";
}
.emoji.emoji-people_and_body-person_sport-person_playing_water_polo::before {
  content: "\1F93D";
}
.emoji.emoji-people_and_body-person_sport-man_playing_water_polo::before {
  content: "\1F93D\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_sport-woman_playing_water_polo::before {
  content: "\1F93D\200D\2640\FE0F";
}
.emoji.emoji-people_and_body-person_sport-person_playing_handball::before {
  content: "\1F93E";
}
.emoji.emoji-people_and_body-person_sport-man_playing_handball::before {
  content: "\1F93E\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_sport-woman_playing_handball::before {
  content: "\1F93E\200D\2640\FE0F";
}
.emoji.emoji-people_and_body-person_sport-person_juggling::before {
  content: "\1F939";
}
.emoji.emoji-people_and_body-person_sport-man_juggling::before {
  content: "\1F939\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_sport-woman_juggling::before {
  content: "\1F939\200D\2640\FE0F";
}