.emoji.emoji-activities-game-direct_hit::before {
  content: "\1F3AF";
}
.emoji.emoji-activities-game-yo_yo::before {
  content: "\1FA80";
}
.emoji.emoji-activities-game-kite::before {
  content: "\1FA81";
}
.emoji.emoji-activities-game-pool_8_ball::before {
  content: "\1F3B1";
}
.emoji.emoji-activities-game-crystal_ball::before {
  content: "\1F52E";
}
.emoji.emoji-activities-game-nazar_amulet::before {
  content: "\1F9FF";
}
.emoji.emoji-activities-game-video_game::before {
  content: "\1F3AE";
}
.emoji.emoji-activities-game-joystick::before {
  content: "\1F579";
}
.emoji.emoji-activities-game-slot_machine::before {
  content: "\1F3B0";
}
.emoji.emoji-activities-game-game_die::before {
  content: "\1F3B2";
}
.emoji.emoji-activities-game-puzzle_piece::before {
  content: "\1F9E9";
}
.emoji.emoji-activities-game-teddy_bear::before {
  content: "\1F9F8";
}
.emoji.emoji-activities-game-spade_suit::before {
  content: "\2660";
}
.emoji.emoji-activities-game-heart_suit::before {
  content: "\2665";
}
.emoji.emoji-activities-game-diamond_suit::before {
  content: "\2666";
}
.emoji.emoji-activities-game-club_suit::before {
  content: "\2663";
}
.emoji.emoji-activities-game-chess_pawn::before {
  content: "\265F";
}
.emoji.emoji-activities-game-joker::before {
  content: "\1F0CF";
}
.emoji.emoji-activities-game-mahjong_red_dragon::before {
  content: "\1F004";
}
.emoji.emoji-activities-game-flower_playing_cards::before {
  content: "\1F3B4";
}