.emoji.emoji-food_and_drink-food_fruit-grapes::before {
  content: "\1F347";
}
.emoji.emoji-food_and_drink-food_fruit-melon::before {
  content: "\1F348";
}
.emoji.emoji-food_and_drink-food_fruit-watermelon::before {
  content: "\1F349";
}
.emoji.emoji-food_and_drink-food_fruit-tangerine::before {
  content: "\1F34A";
}
.emoji.emoji-food_and_drink-food_fruit-lemon::before {
  content: "\1F34B";
}
.emoji.emoji-food_and_drink-food_fruit-banana::before {
  content: "\1F34C";
}
.emoji.emoji-food_and_drink-food_fruit-pineapple::before {
  content: "\1F34D";
}
.emoji.emoji-food_and_drink-food_fruit-mango::before {
  content: "\1F96D";
}
.emoji.emoji-food_and_drink-food_fruit-red_apple::before {
  content: "\1F34E";
}
.emoji.emoji-food_and_drink-food_fruit-green_apple::before {
  content: "\1F34F";
}
.emoji.emoji-food_and_drink-food_fruit-pear::before {
  content: "\1F350";
}
.emoji.emoji-food_and_drink-food_fruit-peach::before {
  content: "\1F351";
}
.emoji.emoji-food_and_drink-food_fruit-cherries::before {
  content: "\1F352";
}
.emoji.emoji-food_and_drink-food_fruit-strawberry::before {
  content: "\1F353";
}
.emoji.emoji-food_and_drink-food_fruit-kiwi_fruit::before {
  content: "\1F95D";
}
.emoji.emoji-food_and_drink-food_fruit-tomato::before {
  content: "\1F345";
}
.emoji.emoji-food_and_drink-food_fruit-coconut::before {
  content: "\1F965";
}