.emoji.emoji-objects-other_object-cigarette::before {
  content: "\1F6AC";
}
.emoji.emoji-objects-other_object-coffin::before {
  content: "\26B0";
}
.emoji.emoji-objects-other_object-funeral_urn::before {
  content: "\26B1";
}
.emoji.emoji-objects-other_object-moai::before {
  content: "\1F5FF";
}