.emoji.emoji-smileys_and_emotion-face_concerned-confused_face::before {
  content: "\1F615";
}
.emoji.emoji-smileys_and_emotion-face_concerned-worried_face::before {
  content: "\1F61F";
}
.emoji.emoji-smileys_and_emotion-face_concerned-slightly_frowning_face::before {
  content: "\1F641";
}
.emoji.emoji-smileys_and_emotion-face_concerned-frowning_face::before {
  content: "\2639";
}
.emoji.emoji-smileys_and_emotion-face_concerned-face_with_open_mouth::before {
  content: "\1F62E";
}
.emoji.emoji-smileys_and_emotion-face_concerned-hushed_face::before {
  content: "\1F62F";
}
.emoji.emoji-smileys_and_emotion-face_concerned-astonished_face::before {
  content: "\1F632";
}
.emoji.emoji-smileys_and_emotion-face_concerned-flushed_face::before {
  content: "\1F633";
}
.emoji.emoji-smileys_and_emotion-face_concerned-pleading_face::before {
  content: "\1F97A";
}
.emoji.emoji-smileys_and_emotion-face_concerned-frowning_face_with_open_mouth::before {
  content: "\1F626";
}
.emoji.emoji-smileys_and_emotion-face_concerned-anguished_face::before {
  content: "\1F627";
}
.emoji.emoji-smileys_and_emotion-face_concerned-fearful_face::before {
  content: "\1F628";
}
.emoji.emoji-smileys_and_emotion-face_concerned-anxious_face_with_sweat::before {
  content: "\1F630";
}
.emoji.emoji-smileys_and_emotion-face_concerned-sad_but_relieved_face::before {
  content: "\1F625";
}
.emoji.emoji-smileys_and_emotion-face_concerned-crying_face::before {
  content: "\1F622";
}
.emoji.emoji-smileys_and_emotion-face_concerned-loudly_crying_face::before {
  content: "\1F62D";
}
.emoji.emoji-smileys_and_emotion-face_concerned-face_screaming_in_fear::before {
  content: "\1F631";
}
.emoji.emoji-smileys_and_emotion-face_concerned-confounded_face::before {
  content: "\1F616";
}
.emoji.emoji-smileys_and_emotion-face_concerned-persevering_face::before {
  content: "\1F623";
}
.emoji.emoji-smileys_and_emotion-face_concerned-disappointed_face::before {
  content: "\1F61E";
}
.emoji.emoji-smileys_and_emotion-face_concerned-downcast_face_with_sweat::before {
  content: "\1F613";
}
.emoji.emoji-smileys_and_emotion-face_concerned-weary_face::before {
  content: "\1F629";
}
.emoji.emoji-smileys_and_emotion-face_concerned-tired_face::before {
  content: "\1F62B";
}
.emoji.emoji-smileys_and_emotion-face_concerned-yawning_face::before {
  content: "\1F971";
}