.emoji.emoji-food_and_drink-food_sweet-soft_ice_cream::before {
  content: "\1F366";
}
.emoji.emoji-food_and_drink-food_sweet-shaved_ice::before {
  content: "\1F367";
}
.emoji.emoji-food_and_drink-food_sweet-ice_cream::before {
  content: "\1F368";
}
.emoji.emoji-food_and_drink-food_sweet-doughnut::before {
  content: "\1F369";
}
.emoji.emoji-food_and_drink-food_sweet-cookie::before {
  content: "\1F36A";
}
.emoji.emoji-food_and_drink-food_sweet-birthday_cake::before {
  content: "\1F382";
}
.emoji.emoji-food_and_drink-food_sweet-shortcake::before {
  content: "\1F370";
}
.emoji.emoji-food_and_drink-food_sweet-cupcake::before {
  content: "\1F9C1";
}
.emoji.emoji-food_and_drink-food_sweet-pie::before {
  content: "\1F967";
}
.emoji.emoji-food_and_drink-food_sweet-chocolate_bar::before {
  content: "\1F36B";
}
.emoji.emoji-food_and_drink-food_sweet-candy::before {
  content: "\1F36C";
}
.emoji.emoji-food_and_drink-food_sweet-lollipop::before {
  content: "\1F36D";
}
.emoji.emoji-food_and_drink-food_sweet-custard::before {
  content: "\1F36E";
}
.emoji.emoji-food_and_drink-food_sweet-honey_pot::before {
  content: "\1F36F";
}