.emoji.emoji-flags-country_flag-ascension_island::before {
  content: "\1F1E6\1F1E8";
}
.emoji.emoji-flags-country_flag-andorra::before {
  content: "\1F1E6\1F1E9";
}
.emoji.emoji-flags-country_flag-united_arab_emirates::before {
  content: "\1F1E6\1F1EA";
}
.emoji.emoji-flags-country_flag-afghanistan::before {
  content: "\1F1E6\1F1EB";
}
.emoji.emoji-flags-country_flag-antigua_and_barbuda::before {
  content: "\1F1E6\1F1EC";
}
.emoji.emoji-flags-country_flag-anguilla::before {
  content: "\1F1E6\1F1EE";
}
.emoji.emoji-flags-country_flag-albania::before {
  content: "\1F1E6\1F1F1";
}
.emoji.emoji-flags-country_flag-armenia::before {
  content: "\1F1E6\1F1F2";
}
.emoji.emoji-flags-country_flag-angola::before {
  content: "\1F1E6\1F1F4";
}
.emoji.emoji-flags-country_flag-antarctica::before {
  content: "\1F1E6\1F1F6";
}
.emoji.emoji-flags-country_flag-argentina::before {
  content: "\1F1E6\1F1F7";
}
.emoji.emoji-flags-country_flag-american_samoa::before {
  content: "\1F1E6\1F1F8";
}
.emoji.emoji-flags-country_flag-austria::before {
  content: "\1F1E6\1F1F9";
}
.emoji.emoji-flags-country_flag-australia::before {
  content: "\1F1E6\1F1FA";
}
.emoji.emoji-flags-country_flag-aruba::before {
  content: "\1F1E6\1F1FC";
}
.emoji.emoji-flags-country_flag-_land_islands::before {
  content: "\1F1E6\1F1FD";
}
.emoji.emoji-flags-country_flag-azerbaijan::before {
  content: "\1F1E6\1F1FF";
}
.emoji.emoji-flags-country_flag-bosnia_and_herzegovina::before {
  content: "\1F1E7\1F1E6";
}
.emoji.emoji-flags-country_flag-barbados::before {
  content: "\1F1E7\1F1E7";
}
.emoji.emoji-flags-country_flag-bangladesh::before {
  content: "\1F1E7\1F1E9";
}
.emoji.emoji-flags-country_flag-belgium::before {
  content: "\1F1E7\1F1EA";
}
.emoji.emoji-flags-country_flag-burkina_faso::before {
  content: "\1F1E7\1F1EB";
}
.emoji.emoji-flags-country_flag-bulgaria::before {
  content: "\1F1E7\1F1EC";
}
.emoji.emoji-flags-country_flag-bahrain::before {
  content: "\1F1E7\1F1ED";
}
.emoji.emoji-flags-country_flag-burundi::before {
  content: "\1F1E7\1F1EE";
}
.emoji.emoji-flags-country_flag-benin::before {
  content: "\1F1E7\1F1EF";
}
.emoji.emoji-flags-country_flag-st_barth_lemy::before {
  content: "\1F1E7\1F1F1";
}
.emoji.emoji-flags-country_flag-bermuda::before {
  content: "\1F1E7\1F1F2";
}
.emoji.emoji-flags-country_flag-brunei::before {
  content: "\1F1E7\1F1F3";
}
.emoji.emoji-flags-country_flag-bolivia::before {
  content: "\1F1E7\1F1F4";
}
.emoji.emoji-flags-country_flag-caribbean_netherlands::before {
  content: "\1F1E7\1F1F6";
}
.emoji.emoji-flags-country_flag-brazil::before {
  content: "\1F1E7\1F1F7";
}
.emoji.emoji-flags-country_flag-bahamas::before {
  content: "\1F1E7\1F1F8";
}
.emoji.emoji-flags-country_flag-bhutan::before {
  content: "\1F1E7\1F1F9";
}
.emoji.emoji-flags-country_flag-bouvet_island::before {
  content: "\1F1E7\1F1FB";
}
.emoji.emoji-flags-country_flag-botswana::before {
  content: "\1F1E7\1F1FC";
}
.emoji.emoji-flags-country_flag-belarus::before {
  content: "\1F1E7\1F1FE";
}
.emoji.emoji-flags-country_flag-belize::before {
  content: "\1F1E7\1F1FF";
}
.emoji.emoji-flags-country_flag-canada::before {
  content: "\1F1E8\1F1E6";
}
.emoji.emoji-flags-country_flag-cocos_keeling_islands::before {
  content: "\1F1E8\1F1E8";
}
.emoji.emoji-flags-country_flag-congo_kinshasa::before {
  content: "\1F1E8\1F1E9";
}
.emoji.emoji-flags-country_flag-central_african_republic::before {
  content: "\1F1E8\1F1EB";
}
.emoji.emoji-flags-country_flag-congo_brazzaville::before {
  content: "\1F1E8\1F1EC";
}
.emoji.emoji-flags-country_flag-switzerland::before {
  content: "\1F1E8\1F1ED";
}
.emoji.emoji-flags-country_flag-c_te_d_ivoire::before {
  content: "\1F1E8\1F1EE";
}
.emoji.emoji-flags-country_flag-cook_islands::before {
  content: "\1F1E8\1F1F0";
}
.emoji.emoji-flags-country_flag-chile::before {
  content: "\1F1E8\1F1F1";
}
.emoji.emoji-flags-country_flag-cameroon::before {
  content: "\1F1E8\1F1F2";
}
.emoji.emoji-flags-country_flag-china::before {
  content: "\1F1E8\1F1F3";
}
.emoji.emoji-flags-country_flag-colombia::before {
  content: "\1F1E8\1F1F4";
}
.emoji.emoji-flags-country_flag-clipperton_island::before {
  content: "\1F1E8\1F1F5";
}
.emoji.emoji-flags-country_flag-costa_rica::before {
  content: "\1F1E8\1F1F7";
}
.emoji.emoji-flags-country_flag-cuba::before {
  content: "\1F1E8\1F1FA";
}
.emoji.emoji-flags-country_flag-cape_verde::before {
  content: "\1F1E8\1F1FB";
}
.emoji.emoji-flags-country_flag-cura_ao::before {
  content: "\1F1E8\1F1FC";
}
.emoji.emoji-flags-country_flag-christmas_island::before {
  content: "\1F1E8\1F1FD";
}
.emoji.emoji-flags-country_flag-cyprus::before {
  content: "\1F1E8\1F1FE";
}
.emoji.emoji-flags-country_flag-czechia::before {
  content: "\1F1E8\1F1FF";
}
.emoji.emoji-flags-country_flag-germany::before {
  content: "\1F1E9\1F1EA";
}
.emoji.emoji-flags-country_flag-diego_garcia::before {
  content: "\1F1E9\1F1EC";
}
.emoji.emoji-flags-country_flag-djibouti::before {
  content: "\1F1E9\1F1EF";
}
.emoji.emoji-flags-country_flag-denmark::before {
  content: "\1F1E9\1F1F0";
}
.emoji.emoji-flags-country_flag-dominica::before {
  content: "\1F1E9\1F1F2";
}
.emoji.emoji-flags-country_flag-dominican_republic::before {
  content: "\1F1E9\1F1F4";
}
.emoji.emoji-flags-country_flag-algeria::before {
  content: "\1F1E9\1F1FF";
}
.emoji.emoji-flags-country_flag-ceuta_and_melilla::before {
  content: "\1F1EA\1F1E6";
}
.emoji.emoji-flags-country_flag-ecuador::before {
  content: "\1F1EA\1F1E8";
}
.emoji.emoji-flags-country_flag-estonia::before {
  content: "\1F1EA\1F1EA";
}
.emoji.emoji-flags-country_flag-egypt::before {
  content: "\1F1EA\1F1EC";
}
.emoji.emoji-flags-country_flag-western_sahara::before {
  content: "\1F1EA\1F1ED";
}
.emoji.emoji-flags-country_flag-eritrea::before {
  content: "\1F1EA\1F1F7";
}
.emoji.emoji-flags-country_flag-spain::before {
  content: "\1F1EA\1F1F8";
}
.emoji.emoji-flags-country_flag-ethiopia::before {
  content: "\1F1EA\1F1F9";
}
.emoji.emoji-flags-country_flag-european_union::before {
  content: "\1F1EA\1F1FA";
}
.emoji.emoji-flags-country_flag-finland::before {
  content: "\1F1EB\1F1EE";
}
.emoji.emoji-flags-country_flag-fiji::before {
  content: "\1F1EB\1F1EF";
}
.emoji.emoji-flags-country_flag-falkland_islands::before {
  content: "\1F1EB\1F1F0";
}
.emoji.emoji-flags-country_flag-micronesia::before {
  content: "\1F1EB\1F1F2";
}
.emoji.emoji-flags-country_flag-faroe_islands::before {
  content: "\1F1EB\1F1F4";
}
.emoji.emoji-flags-country_flag-france::before {
  content: "\1F1EB\1F1F7";
}
.emoji.emoji-flags-country_flag-gabon::before {
  content: "\1F1EC\1F1E6";
}
.emoji.emoji-flags-country_flag-united_kingdom::before {
  content: "\1F1EC\1F1E7";
}
.emoji.emoji-flags-country_flag-grenada::before {
  content: "\1F1EC\1F1E9";
}
.emoji.emoji-flags-country_flag-georgia::before {
  content: "\1F1EC\1F1EA";
}
.emoji.emoji-flags-country_flag-french_guiana::before {
  content: "\1F1EC\1F1EB";
}
.emoji.emoji-flags-country_flag-guernsey::before {
  content: "\1F1EC\1F1EC";
}
.emoji.emoji-flags-country_flag-ghana::before {
  content: "\1F1EC\1F1ED";
}
.emoji.emoji-flags-country_flag-gibraltar::before {
  content: "\1F1EC\1F1EE";
}
.emoji.emoji-flags-country_flag-greenland::before {
  content: "\1F1EC\1F1F1";
}
.emoji.emoji-flags-country_flag-gambia::before {
  content: "\1F1EC\1F1F2";
}
.emoji.emoji-flags-country_flag-guinea::before {
  content: "\1F1EC\1F1F3";
}
.emoji.emoji-flags-country_flag-guadeloupe::before {
  content: "\1F1EC\1F1F5";
}
.emoji.emoji-flags-country_flag-equatorial_guinea::before {
  content: "\1F1EC\1F1F6";
}
.emoji.emoji-flags-country_flag-greece::before {
  content: "\1F1EC\1F1F7";
}
.emoji.emoji-flags-country_flag-south_georgia_and_south_sandwich_islands::before {
  content: "\1F1EC\1F1F8";
}
.emoji.emoji-flags-country_flag-guatemala::before {
  content: "\1F1EC\1F1F9";
}
.emoji.emoji-flags-country_flag-guam::before {
  content: "\1F1EC\1F1FA";
}
.emoji.emoji-flags-country_flag-guinea_bissau::before {
  content: "\1F1EC\1F1FC";
}
.emoji.emoji-flags-country_flag-guyana::before {
  content: "\1F1EC\1F1FE";
}
.emoji.emoji-flags-country_flag-hong_kong_sar_china::before {
  content: "\1F1ED\1F1F0";
}
.emoji.emoji-flags-country_flag-heard_and_mcdonald_islands::before {
  content: "\1F1ED\1F1F2";
}
.emoji.emoji-flags-country_flag-honduras::before {
  content: "\1F1ED\1F1F3";
}
.emoji.emoji-flags-country_flag-croatia::before {
  content: "\1F1ED\1F1F7";
}
.emoji.emoji-flags-country_flag-haiti::before {
  content: "\1F1ED\1F1F9";
}
.emoji.emoji-flags-country_flag-hungary::before {
  content: "\1F1ED\1F1FA";
}
.emoji.emoji-flags-country_flag-canary_islands::before {
  content: "\1F1EE\1F1E8";
}
.emoji.emoji-flags-country_flag-indonesia::before {
  content: "\1F1EE\1F1E9";
}
.emoji.emoji-flags-country_flag-ireland::before {
  content: "\1F1EE\1F1EA";
}
.emoji.emoji-flags-country_flag-israel::before {
  content: "\1F1EE\1F1F1";
}
.emoji.emoji-flags-country_flag-isle_of_man::before {
  content: "\1F1EE\1F1F2";
}
.emoji.emoji-flags-country_flag-india::before {
  content: "\1F1EE\1F1F3";
}
.emoji.emoji-flags-country_flag-british_indian_ocean_territory::before {
  content: "\1F1EE\1F1F4";
}
.emoji.emoji-flags-country_flag-iraq::before {
  content: "\1F1EE\1F1F6";
}
.emoji.emoji-flags-country_flag-iran::before {
  content: "\1F1EE\1F1F7";
}
.emoji.emoji-flags-country_flag-iceland::before {
  content: "\1F1EE\1F1F8";
}
.emoji.emoji-flags-country_flag-italy::before {
  content: "\1F1EE\1F1F9";
}
.emoji.emoji-flags-country_flag-jersey::before {
  content: "\1F1EF\1F1EA";
}
.emoji.emoji-flags-country_flag-jamaica::before {
  content: "\1F1EF\1F1F2";
}
.emoji.emoji-flags-country_flag-jordan::before {
  content: "\1F1EF\1F1F4";
}
.emoji.emoji-flags-country_flag-japan::before {
  content: "\1F1EF\1F1F5";
}
.emoji.emoji-flags-country_flag-kenya::before {
  content: "\1F1F0\1F1EA";
}
.emoji.emoji-flags-country_flag-kyrgyzstan::before {
  content: "\1F1F0\1F1EC";
}
.emoji.emoji-flags-country_flag-cambodia::before {
  content: "\1F1F0\1F1ED";
}
.emoji.emoji-flags-country_flag-kiribati::before {
  content: "\1F1F0\1F1EE";
}
.emoji.emoji-flags-country_flag-comoros::before {
  content: "\1F1F0\1F1F2";
}
.emoji.emoji-flags-country_flag-st_kitts_and_nevis::before {
  content: "\1F1F0\1F1F3";
}
.emoji.emoji-flags-country_flag-north_korea::before {
  content: "\1F1F0\1F1F5";
}
.emoji.emoji-flags-country_flag-south_korea::before {
  content: "\1F1F0\1F1F7";
}
.emoji.emoji-flags-country_flag-kuwait::before {
  content: "\1F1F0\1F1FC";
}
.emoji.emoji-flags-country_flag-cayman_islands::before {
  content: "\1F1F0\1F1FE";
}
.emoji.emoji-flags-country_flag-kazakhstan::before {
  content: "\1F1F0\1F1FF";
}
.emoji.emoji-flags-country_flag-laos::before {
  content: "\1F1F1\1F1E6";
}
.emoji.emoji-flags-country_flag-lebanon::before {
  content: "\1F1F1\1F1E7";
}
.emoji.emoji-flags-country_flag-st_lucia::before {
  content: "\1F1F1\1F1E8";
}
.emoji.emoji-flags-country_flag-liechtenstein::before {
  content: "\1F1F1\1F1EE";
}
.emoji.emoji-flags-country_flag-sri_lanka::before {
  content: "\1F1F1\1F1F0";
}
.emoji.emoji-flags-country_flag-liberia::before {
  content: "\1F1F1\1F1F7";
}
.emoji.emoji-flags-country_flag-lesotho::before {
  content: "\1F1F1\1F1F8";
}
.emoji.emoji-flags-country_flag-lithuania::before {
  content: "\1F1F1\1F1F9";
}
.emoji.emoji-flags-country_flag-luxembourg::before {
  content: "\1F1F1\1F1FA";
}
.emoji.emoji-flags-country_flag-latvia::before {
  content: "\1F1F1\1F1FB";
}
.emoji.emoji-flags-country_flag-libya::before {
  content: "\1F1F1\1F1FE";
}
.emoji.emoji-flags-country_flag-morocco::before {
  content: "\1F1F2\1F1E6";
}
.emoji.emoji-flags-country_flag-monaco::before {
  content: "\1F1F2\1F1E8";
}
.emoji.emoji-flags-country_flag-moldova::before {
  content: "\1F1F2\1F1E9";
}
.emoji.emoji-flags-country_flag-montenegro::before {
  content: "\1F1F2\1F1EA";
}
.emoji.emoji-flags-country_flag-st_martin::before {
  content: "\1F1F2\1F1EB";
}
.emoji.emoji-flags-country_flag-madagascar::before {
  content: "\1F1F2\1F1EC";
}
.emoji.emoji-flags-country_flag-marshall_islands::before {
  content: "\1F1F2\1F1ED";
}
.emoji.emoji-flags-country_flag-north_macedonia::before {
  content: "\1F1F2\1F1F0";
}
.emoji.emoji-flags-country_flag-mali::before {
  content: "\1F1F2\1F1F1";
}
.emoji.emoji-flags-country_flag-myanmar_burma_::before {
  content: "\1F1F2\1F1F2";
}
.emoji.emoji-flags-country_flag-mongolia::before {
  content: "\1F1F2\1F1F3";
}
.emoji.emoji-flags-country_flag-macao_sar_china::before {
  content: "\1F1F2\1F1F4";
}
.emoji.emoji-flags-country_flag-northern_mariana_islands::before {
  content: "\1F1F2\1F1F5";
}
.emoji.emoji-flags-country_flag-martinique::before {
  content: "\1F1F2\1F1F6";
}
.emoji.emoji-flags-country_flag-mauritania::before {
  content: "\1F1F2\1F1F7";
}
.emoji.emoji-flags-country_flag-montserrat::before {
  content: "\1F1F2\1F1F8";
}
.emoji.emoji-flags-country_flag-malta::before {
  content: "\1F1F2\1F1F9";
}
.emoji.emoji-flags-country_flag-mauritius::before {
  content: "\1F1F2\1F1FA";
}
.emoji.emoji-flags-country_flag-maldives::before {
  content: "\1F1F2\1F1FB";
}
.emoji.emoji-flags-country_flag-malawi::before {
  content: "\1F1F2\1F1FC";
}
.emoji.emoji-flags-country_flag-mexico::before {
  content: "\1F1F2\1F1FD";
}
.emoji.emoji-flags-country_flag-malaysia::before {
  content: "\1F1F2\1F1FE";
}
.emoji.emoji-flags-country_flag-mozambique::before {
  content: "\1F1F2\1F1FF";
}
.emoji.emoji-flags-country_flag-namibia::before {
  content: "\1F1F3\1F1E6";
}
.emoji.emoji-flags-country_flag-new_caledonia::before {
  content: "\1F1F3\1F1E8";
}
.emoji.emoji-flags-country_flag-niger::before {
  content: "\1F1F3\1F1EA";
}
.emoji.emoji-flags-country_flag-norfolk_island::before {
  content: "\1F1F3\1F1EB";
}
.emoji.emoji-flags-country_flag-nigeria::before {
  content: "\1F1F3\1F1EC";
}
.emoji.emoji-flags-country_flag-nicaragua::before {
  content: "\1F1F3\1F1EE";
}
.emoji.emoji-flags-country_flag-netherlands::before {
  content: "\1F1F3\1F1F1";
}
.emoji.emoji-flags-country_flag-norway::before {
  content: "\1F1F3\1F1F4";
}
.emoji.emoji-flags-country_flag-nepal::before {
  content: "\1F1F3\1F1F5";
}
.emoji.emoji-flags-country_flag-nauru::before {
  content: "\1F1F3\1F1F7";
}
.emoji.emoji-flags-country_flag-niue::before {
  content: "\1F1F3\1F1FA";
}
.emoji.emoji-flags-country_flag-new_zealand::before {
  content: "\1F1F3\1F1FF";
}
.emoji.emoji-flags-country_flag-oman::before {
  content: "\1F1F4\1F1F2";
}
.emoji.emoji-flags-country_flag-panama::before {
  content: "\1F1F5\1F1E6";
}
.emoji.emoji-flags-country_flag-peru::before {
  content: "\1F1F5\1F1EA";
}
.emoji.emoji-flags-country_flag-french_polynesia::before {
  content: "\1F1F5\1F1EB";
}
.emoji.emoji-flags-country_flag-papua_new_guinea::before {
  content: "\1F1F5\1F1EC";
}
.emoji.emoji-flags-country_flag-philippines::before {
  content: "\1F1F5\1F1ED";
}
.emoji.emoji-flags-country_flag-pakistan::before {
  content: "\1F1F5\1F1F0";
}
.emoji.emoji-flags-country_flag-poland::before {
  content: "\1F1F5\1F1F1";
}
.emoji.emoji-flags-country_flag-st_pierre_and_miquelon::before {
  content: "\1F1F5\1F1F2";
}
.emoji.emoji-flags-country_flag-pitcairn_islands::before {
  content: "\1F1F5\1F1F3";
}
.emoji.emoji-flags-country_flag-puerto_rico::before {
  content: "\1F1F5\1F1F7";
}
.emoji.emoji-flags-country_flag-palestinian_territories::before {
  content: "\1F1F5\1F1F8";
}
.emoji.emoji-flags-country_flag-portugal::before {
  content: "\1F1F5\1F1F9";
}
.emoji.emoji-flags-country_flag-palau::before {
  content: "\1F1F5\1F1FC";
}
.emoji.emoji-flags-country_flag-paraguay::before {
  content: "\1F1F5\1F1FE";
}
.emoji.emoji-flags-country_flag-qatar::before {
  content: "\1F1F6\1F1E6";
}
.emoji.emoji-flags-country_flag-r_union::before {
  content: "\1F1F7\1F1EA";
}
.emoji.emoji-flags-country_flag-romania::before {
  content: "\1F1F7\1F1F4";
}
.emoji.emoji-flags-country_flag-serbia::before {
  content: "\1F1F7\1F1F8";
}
.emoji.emoji-flags-country_flag-russia::before {
  content: "\1F1F7\1F1FA";
}
.emoji.emoji-flags-country_flag-rwanda::before {
  content: "\1F1F7\1F1FC";
}
.emoji.emoji-flags-country_flag-saudi_arabia::before {
  content: "\1F1F8\1F1E6";
}
.emoji.emoji-flags-country_flag-solomon_islands::before {
  content: "\1F1F8\1F1E7";
}
.emoji.emoji-flags-country_flag-seychelles::before {
  content: "\1F1F8\1F1E8";
}
.emoji.emoji-flags-country_flag-sudan::before {
  content: "\1F1F8\1F1E9";
}
.emoji.emoji-flags-country_flag-sweden::before {
  content: "\1F1F8\1F1EA";
}
.emoji.emoji-flags-country_flag-singapore::before {
  content: "\1F1F8\1F1EC";
}
.emoji.emoji-flags-country_flag-st_helena::before {
  content: "\1F1F8\1F1ED";
}
.emoji.emoji-flags-country_flag-slovenia::before {
  content: "\1F1F8\1F1EE";
}
.emoji.emoji-flags-country_flag-svalbard_and_jan_mayen::before {
  content: "\1F1F8\1F1EF";
}
.emoji.emoji-flags-country_flag-slovakia::before {
  content: "\1F1F8\1F1F0";
}
.emoji.emoji-flags-country_flag-sierra_leone::before {
  content: "\1F1F8\1F1F1";
}
.emoji.emoji-flags-country_flag-san_marino::before {
  content: "\1F1F8\1F1F2";
}
.emoji.emoji-flags-country_flag-senegal::before {
  content: "\1F1F8\1F1F3";
}
.emoji.emoji-flags-country_flag-somalia::before {
  content: "\1F1F8\1F1F4";
}
.emoji.emoji-flags-country_flag-suriname::before {
  content: "\1F1F8\1F1F7";
}
.emoji.emoji-flags-country_flag-south_sudan::before {
  content: "\1F1F8\1F1F8";
}
.emoji.emoji-flags-country_flag-s_o_tom_and_pr_ncipe::before {
  content: "\1F1F8\1F1F9";
}
.emoji.emoji-flags-country_flag-el_salvador::before {
  content: "\1F1F8\1F1FB";
}
.emoji.emoji-flags-country_flag-sint_maarten::before {
  content: "\1F1F8\1F1FD";
}
.emoji.emoji-flags-country_flag-syria::before {
  content: "\1F1F8\1F1FE";
}
.emoji.emoji-flags-country_flag-eswatini::before {
  content: "\1F1F8\1F1FF";
}
.emoji.emoji-flags-country_flag-tristan_da_cunha::before {
  content: "\1F1F9\1F1E6";
}
.emoji.emoji-flags-country_flag-turks_and_caicos_islands::before {
  content: "\1F1F9\1F1E8";
}
.emoji.emoji-flags-country_flag-chad::before {
  content: "\1F1F9\1F1E9";
}
.emoji.emoji-flags-country_flag-french_southern_territories::before {
  content: "\1F1F9\1F1EB";
}
.emoji.emoji-flags-country_flag-togo::before {
  content: "\1F1F9\1F1EC";
}
.emoji.emoji-flags-country_flag-thailand::before {
  content: "\1F1F9\1F1ED";
}
.emoji.emoji-flags-country_flag-tajikistan::before {
  content: "\1F1F9\1F1EF";
}
.emoji.emoji-flags-country_flag-tokelau::before {
  content: "\1F1F9\1F1F0";
}
.emoji.emoji-flags-country_flag-timor_leste::before {
  content: "\1F1F9\1F1F1";
}
.emoji.emoji-flags-country_flag-turkmenistan::before {
  content: "\1F1F9\1F1F2";
}
.emoji.emoji-flags-country_flag-tunisia::before {
  content: "\1F1F9\1F1F3";
}
.emoji.emoji-flags-country_flag-tonga::before {
  content: "\1F1F9\1F1F4";
}
.emoji.emoji-flags-country_flag-turkey::before {
  content: "\1F1F9\1F1F7";
}
.emoji.emoji-flags-country_flag-trinidad_and_tobago::before {
  content: "\1F1F9\1F1F9";
}
.emoji.emoji-flags-country_flag-tuvalu::before {
  content: "\1F1F9\1F1FB";
}
.emoji.emoji-flags-country_flag-taiwan::before {
  content: "\1F1F9\1F1FC";
}
.emoji.emoji-flags-country_flag-tanzania::before {
  content: "\1F1F9\1F1FF";
}
.emoji.emoji-flags-country_flag-ukraine::before {
  content: "\1F1FA\1F1E6";
}
.emoji.emoji-flags-country_flag-uganda::before {
  content: "\1F1FA\1F1EC";
}
.emoji.emoji-flags-country_flag-u_s_outlying_islands::before {
  content: "\1F1FA\1F1F2";
}
.emoji.emoji-flags-country_flag-united_nations::before {
  content: "\1F1FA\1F1F3";
}
.emoji.emoji-flags-country_flag-united_states::before {
  content: "\1F1FA\1F1F8";
}
.emoji.emoji-flags-country_flag-uruguay::before {
  content: "\1F1FA\1F1FE";
}
.emoji.emoji-flags-country_flag-uzbekistan::before {
  content: "\1F1FA\1F1FF";
}
.emoji.emoji-flags-country_flag-vatican_city::before {
  content: "\1F1FB\1F1E6";
}
.emoji.emoji-flags-country_flag-st_vincent_and_grenadines::before {
  content: "\1F1FB\1F1E8";
}
.emoji.emoji-flags-country_flag-venezuela::before {
  content: "\1F1FB\1F1EA";
}
.emoji.emoji-flags-country_flag-british_virgin_islands::before {
  content: "\1F1FB\1F1EC";
}
.emoji.emoji-flags-country_flag-u_s_virgin_islands::before {
  content: "\1F1FB\1F1EE";
}
.emoji.emoji-flags-country_flag-vietnam::before {
  content: "\1F1FB\1F1F3";
}
.emoji.emoji-flags-country_flag-vanuatu::before {
  content: "\1F1FB\1F1FA";
}
.emoji.emoji-flags-country_flag-wallis_and_futuna::before {
  content: "\1F1FC\1F1EB";
}
.emoji.emoji-flags-country_flag-samoa::before {
  content: "\1F1FC\1F1F8";
}
.emoji.emoji-flags-country_flag-kosovo::before {
  content: "\1F1FD\1F1F0";
}
.emoji.emoji-flags-country_flag-yemen::before {
  content: "\1F1FE\1F1EA";
}
.emoji.emoji-flags-country_flag-mayotte::before {
  content: "\1F1FE\1F1F9";
}
.emoji.emoji-flags-country_flag-south_africa::before {
  content: "\1F1FF\1F1E6";
}
.emoji.emoji-flags-country_flag-zambia::before {
  content: "\1F1FF\1F1F2";
}
.emoji.emoji-flags-country_flag-zimbabwe::before {
  content: "\1F1FF\1F1FC";
}