.emoji.emoji-animals_and_nature-plant_flower-bouquet::before {
  content: "\1F490";
}
.emoji.emoji-animals_and_nature-plant_flower-cherry_blossom::before {
  content: "\1F338";
}
.emoji.emoji-animals_and_nature-plant_flower-white_flower::before {
  content: "\1F4AE";
}
.emoji.emoji-animals_and_nature-plant_flower-rosette::before {
  content: "\1F3F5";
}
.emoji.emoji-animals_and_nature-plant_flower-rose::before {
  content: "\1F339";
}
.emoji.emoji-animals_and_nature-plant_flower-wilted_flower::before {
  content: "\1F940";
}
.emoji.emoji-animals_and_nature-plant_flower-hibiscus::before {
  content: "\1F33A";
}
.emoji.emoji-animals_and_nature-plant_flower-sunflower::before {
  content: "\1F33B";
}
.emoji.emoji-animals_and_nature-plant_flower-blossom::before {
  content: "\1F33C";
}
.emoji.emoji-animals_and_nature-plant_flower-tulip::before {
  content: "\1F337";
}