.emoji.emoji-smileys_and_emotion-face_negative-face_with_steam_from_nose::before {
  content: "\1F624";
}
.emoji.emoji-smileys_and_emotion-face_negative-pouting_face::before {
  content: "\1F621";
}
.emoji.emoji-smileys_and_emotion-face_negative-angry_face::before {
  content: "\1F620";
}
.emoji.emoji-smileys_and_emotion-face_negative-face_with_symbols_on_mouth::before {
  content: "\1F92C";
}
.emoji.emoji-smileys_and_emotion-face_negative-smiling_face_with_horns::before {
  content: "\1F608";
}
.emoji.emoji-smileys_and_emotion-face_negative-angry_face_with_horns::before {
  content: "\1F47F";
}
.emoji.emoji-smileys_and_emotion-face_negative-skull::before {
  content: "\1F480";
}
.emoji.emoji-smileys_and_emotion-face_negative-skull_and_crossbones::before {
  content: "\2620";
}