.emoji.emoji-people_and_body-person_resting-person_in_lotus_position::before {
  content: "\1F9D8";
}
.emoji.emoji-people_and_body-person_resting-man_in_lotus_position::before {
  content: "\1F9D8\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_resting-woman_in_lotus_position::before {
  content: "\1F9D8\200D\2640\FE0F";
}
.emoji.emoji-people_and_body-person_resting-person_taking_bath::before {
  content: "\1F6C0";
}
.emoji.emoji-people_and_body-person_resting-person_in_bed::before {
  content: "\1F6CC";
}