.emoji.emoji-animals_and_nature-animal_reptile-crocodile::before {
  content: "\1F40A";
}
.emoji.emoji-animals_and_nature-animal_reptile-turtle::before {
  content: "\1F422";
}
.emoji.emoji-animals_and_nature-animal_reptile-lizard::before {
  content: "\1F98E";
}
.emoji.emoji-animals_and_nature-animal_reptile-snake::before {
  content: "\1F40D";
}
.emoji.emoji-animals_and_nature-animal_reptile-dragon_face::before {
  content: "\1F432";
}
.emoji.emoji-animals_and_nature-animal_reptile-dragon::before {
  content: "\1F409";
}
.emoji.emoji-animals_and_nature-animal_reptile-sauropod::before {
  content: "\1F995";
}
.emoji.emoji-animals_and_nature-animal_reptile-t_rex::before {
  content: "\1F996";
}