.emoji.emoji-people_and_body-person_activity-person_getting_massage::before {
  content: "\1F486";
}
.emoji.emoji-people_and_body-person_activity-man_getting_massage::before {
  content: "\1F486\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_activity-woman_getting_massage::before {
  content: "\1F486\200D\2640\FE0F";
}
.emoji.emoji-people_and_body-person_activity-person_getting_haircut::before {
  content: "\1F487";
}
.emoji.emoji-people_and_body-person_activity-man_getting_haircut::before {
  content: "\1F487\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_activity-woman_getting_haircut::before {
  content: "\1F487\200D\2640\FE0F";
}
.emoji.emoji-people_and_body-person_activity-person_walking::before {
  content: "\1F6B6";
}
.emoji.emoji-people_and_body-person_activity-man_walking::before {
  content: "\1F6B6\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_activity-woman_walking::before {
  content: "\1F6B6\200D\2640\FE0F";
}
.emoji.emoji-people_and_body-person_activity-person_standing::before {
  content: "\1F9CD";
}
.emoji.emoji-people_and_body-person_activity-man_standing::before {
  content: "\1F9CD\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_activity-woman_standing::before {
  content: "\1F9CD\200D\2640\FE0F";
}
.emoji.emoji-people_and_body-person_activity-person_kneeling::before {
  content: "\1F9CE";
}
.emoji.emoji-people_and_body-person_activity-man_kneeling::before {
  content: "\1F9CE\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_activity-woman_kneeling::before {
  content: "\1F9CE\200D\2640\FE0F";
}
.emoji.emoji-people_and_body-person_activity-_person_with_white_cane::before {
  content: "\1F9D1\200D\1F9AF";
}
.emoji.emoji-people_and_body-person_activity-man_with_white_cane::before {
  content: "\1F468\200D\1F9AF";
}
.emoji.emoji-people_and_body-person_activity-woman_with_white_cane::before {
  content: "\1F469\200D\1F9AF";
}
.emoji.emoji-people_and_body-person_activity-_person_in_motorized_wheelchair::before {
  content: "\1F9D1\200D\1F9BC";
}
.emoji.emoji-people_and_body-person_activity-man_in_motorized_wheelchair::before {
  content: "\1F468\200D\1F9BC";
}
.emoji.emoji-people_and_body-person_activity-woman_in_motorized_wheelchair::before {
  content: "\1F469\200D\1F9BC";
}
.emoji.emoji-people_and_body-person_activity-_person_in_manual_wheelchair::before {
  content: "\1F9D1\200D\1F9BD";
}
.emoji.emoji-people_and_body-person_activity-man_in_manual_wheelchair::before {
  content: "\1F468\200D\1F9BD";
}
.emoji.emoji-people_and_body-person_activity-woman_in_manual_wheelchair::before {
  content: "\1F469\200D\1F9BD";
}
.emoji.emoji-people_and_body-person_activity-person_running::before {
  content: "\1F3C3";
}
.emoji.emoji-people_and_body-person_activity-man_running::before {
  content: "\1F3C3\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_activity-woman_running::before {
  content: "\1F3C3\200D\2640\FE0F";
}
.emoji.emoji-people_and_body-person_activity-woman_dancing::before {
  content: "\1F483";
}
.emoji.emoji-people_and_body-person_activity-man_dancing::before {
  content: "\1F57A";
}
.emoji.emoji-people_and_body-person_activity-person_in_suit_levitating::before {
  content: "\1F574";
}
.emoji.emoji-people_and_body-person_activity-people_with_bunny_ears::before {
  content: "\1F46F";
}
.emoji.emoji-people_and_body-person_activity-men_with_bunny_ears::before {
  content: "\1F46F\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_activity-women_with_bunny_ears::before {
  content: "\1F46F\200D\2640\FE0F";
}
.emoji.emoji-people_and_body-person_activity-person_in_steamy_room::before {
  content: "\1F9D6";
}
.emoji.emoji-people_and_body-person_activity-man_in_steamy_room::before {
  content: "\1F9D6\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_activity-woman_in_steamy_room::before {
  content: "\1F9D6\200D\2640\FE0F";
}
.emoji.emoji-people_and_body-person_activity-person_climbing::before {
  content: "\1F9D7";
}
.emoji.emoji-people_and_body-person_activity-man_climbing::before {
  content: "\1F9D7\200D\2642\FE0F";
}
.emoji.emoji-people_and_body-person_activity-woman_climbing::before {
  content: "\1F9D7\200D\2640\FE0F";
}