.emoji.emoji-symbols-keycap-keycap_::before {
  content: "\0023\FE0F\20E3";
}
.emoji.emoji-symbols-keycap-keycap_::before {
  content: "\002A\FE0F\20E3";
}
.emoji.emoji-symbols-keycap-keycap_0::before {
  content: "\0030\FE0F\20E3";
}
.emoji.emoji-symbols-keycap-keycap_1::before {
  content: "\0031\FE0F\20E3";
}
.emoji.emoji-symbols-keycap-keycap_2::before {
  content: "\0032\FE0F\20E3";
}
.emoji.emoji-symbols-keycap-keycap_3::before {
  content: "\0033\FE0F\20E3";
}
.emoji.emoji-symbols-keycap-keycap_4::before {
  content: "\0034\FE0F\20E3";
}
.emoji.emoji-symbols-keycap-keycap_5::before {
  content: "\0035\FE0F\20E3";
}
.emoji.emoji-symbols-keycap-keycap_6::before {
  content: "\0036\FE0F\20E3";
}
.emoji.emoji-symbols-keycap-keycap_7::before {
  content: "\0037\FE0F\20E3";
}
.emoji.emoji-symbols-keycap-keycap_8::before {
  content: "\0038\FE0F\20E3";
}
.emoji.emoji-symbols-keycap-keycap_9::before {
  content: "\0039\FE0F\20E3";
}
.emoji.emoji-symbols-keycap-keycap_10::before {
  content: "\1F51F";
}