.emoji.emoji-smileys_and_emotion-emotion-kiss_mark::before {
  content: "\1F48B";
}
.emoji.emoji-smileys_and_emotion-emotion-love_letter::before {
  content: "\1F48C";
}
.emoji.emoji-smileys_and_emotion-emotion-heart_with_arrow::before {
  content: "\1F498";
}
.emoji.emoji-smileys_and_emotion-emotion-heart_with_ribbon::before {
  content: "\1F49D";
}
.emoji.emoji-smileys_and_emotion-emotion-sparkling_heart::before {
  content: "\1F496";
}
.emoji.emoji-smileys_and_emotion-emotion-growing_heart::before {
  content: "\1F497";
}
.emoji.emoji-smileys_and_emotion-emotion-beating_heart::before {
  content: "\1F493";
}
.emoji.emoji-smileys_and_emotion-emotion-revolving_hearts::before {
  content: "\1F49E";
}
.emoji.emoji-smileys_and_emotion-emotion-two_hearts::before {
  content: "\1F495";
}
.emoji.emoji-smileys_and_emotion-emotion-heart_decoration::before {
  content: "\1F49F";
}
.emoji.emoji-smileys_and_emotion-emotion-heart_exclamation::before {
  content: "\2763";
}
.emoji.emoji-smileys_and_emotion-emotion-broken_heart::before {
  content: "\1F494";
}
.emoji.emoji-smileys_and_emotion-emotion-red_heart::before {
  content: "\2764";
}
.emoji.emoji-smileys_and_emotion-emotion-orange_heart::before {
  content: "\1F9E1";
}
.emoji.emoji-smileys_and_emotion-emotion-yellow_heart::before {
  content: "\1F49B";
}
.emoji.emoji-smileys_and_emotion-emotion-green_heart::before {
  content: "\1F49A";
}
.emoji.emoji-smileys_and_emotion-emotion-blue_heart::before {
  content: "\1F499";
}
.emoji.emoji-smileys_and_emotion-emotion-purple_heart::before {
  content: "\1F49C";
}
.emoji.emoji-smileys_and_emotion-emotion-brown_heart::before {
  content: "\1F90E";
}
.emoji.emoji-smileys_and_emotion-emotion-black_heart::before {
  content: "\1F5A4";
}
.emoji.emoji-smileys_and_emotion-emotion-white_heart::before {
  content: "\1F90D";
}
.emoji.emoji-smileys_and_emotion-emotion-hundred_points::before {
  content: "\1F4AF";
}
.emoji.emoji-smileys_and_emotion-emotion-anger_symbol::before {
  content: "\1F4A2";
}
.emoji.emoji-smileys_and_emotion-emotion-collision::before {
  content: "\1F4A5";
}
.emoji.emoji-smileys_and_emotion-emotion-dizzy::before {
  content: "\1F4AB";
}
.emoji.emoji-smileys_and_emotion-emotion-sweat_droplets::before {
  content: "\1F4A6";
}
.emoji.emoji-smileys_and_emotion-emotion-dashing_away::before {
  content: "\1F4A8";
}
.emoji.emoji-smileys_and_emotion-emotion-hole::before {
  content: "\1F573";
}
.emoji.emoji-smileys_and_emotion-emotion-bomb::before {
  content: "\1F4A3";
}
.emoji.emoji-smileys_and_emotion-emotion-speech_balloon::before {
  content: "\1F4AC";
}
.emoji.emoji-smileys_and_emotion-emotion-eye_in_speech_bubble::before {
  content: "\1F441\FE0F\200D\1F5E8\FE0F";
}
.emoji.emoji-smileys_and_emotion-emotion-left_speech_bubble::before {
  content: "\1F5E8";
}
.emoji.emoji-smileys_and_emotion-emotion-right_anger_bubble::before {
  content: "\1F5EF";
}
.emoji.emoji-smileys_and_emotion-emotion-thought_balloon::before {
  content: "\1F4AD";
}
.emoji.emoji-smileys_and_emotion-emotion-zzz::before {
  content: "\1F4A4";
}