.emoji.emoji-travel_and_places-sky_and_weather-new_moon::before {
  content: "\1F311";
}
.emoji.emoji-travel_and_places-sky_and_weather-waxing_crescent_moon::before {
  content: "\1F312";
}
.emoji.emoji-travel_and_places-sky_and_weather-first_quarter_moon::before {
  content: "\1F313";
}
.emoji.emoji-travel_and_places-sky_and_weather-waxing_gibbous_moon::before {
  content: "\1F314";
}
.emoji.emoji-travel_and_places-sky_and_weather-full_moon::before {
  content: "\1F315";
}
.emoji.emoji-travel_and_places-sky_and_weather-waning_gibbous_moon::before {
  content: "\1F316";
}
.emoji.emoji-travel_and_places-sky_and_weather-last_quarter_moon::before {
  content: "\1F317";
}
.emoji.emoji-travel_and_places-sky_and_weather-waning_crescent_moon::before {
  content: "\1F318";
}
.emoji.emoji-travel_and_places-sky_and_weather-crescent_moon::before {
  content: "\1F319";
}
.emoji.emoji-travel_and_places-sky_and_weather-new_moon_face::before {
  content: "\1F31A";
}
.emoji.emoji-travel_and_places-sky_and_weather-first_quarter_moon_face::before {
  content: "\1F31B";
}
.emoji.emoji-travel_and_places-sky_and_weather-last_quarter_moon_face::before {
  content: "\1F31C";
}
.emoji.emoji-travel_and_places-sky_and_weather-thermometer::before {
  content: "\1F321";
}
.emoji.emoji-travel_and_places-sky_and_weather-sun::before {
  content: "\2600";
}
.emoji.emoji-travel_and_places-sky_and_weather-full_moon_face::before {
  content: "\1F31D";
}
.emoji.emoji-travel_and_places-sky_and_weather-sun_with_face::before {
  content: "\1F31E";
}
.emoji.emoji-travel_and_places-sky_and_weather-ringed_planet::before {
  content: "\1FA90";
}
.emoji.emoji-travel_and_places-sky_and_weather-star::before {
  content: "\2B50";
}
.emoji.emoji-travel_and_places-sky_and_weather-glowing_star::before {
  content: "\1F31F";
}
.emoji.emoji-travel_and_places-sky_and_weather-shooting_star::before {
  content: "\1F320";
}
.emoji.emoji-travel_and_places-sky_and_weather-milky_way::before {
  content: "\1F30C";
}
.emoji.emoji-travel_and_places-sky_and_weather-cloud::before {
  content: "\2601";
}
.emoji.emoji-travel_and_places-sky_and_weather-sun_behind_cloud::before {
  content: "\26C5";
}
.emoji.emoji-travel_and_places-sky_and_weather-cloud_with_lightning_and_rain::before {
  content: "\26C8";
}
.emoji.emoji-travel_and_places-sky_and_weather-sun_behind_small_cloud::before {
  content: "\1F324";
}
.emoji.emoji-travel_and_places-sky_and_weather-sun_behind_large_cloud::before {
  content: "\1F325";
}
.emoji.emoji-travel_and_places-sky_and_weather-sun_behind_rain_cloud::before {
  content: "\1F326";
}
.emoji.emoji-travel_and_places-sky_and_weather-cloud_with_rain::before {
  content: "\1F327";
}
.emoji.emoji-travel_and_places-sky_and_weather-cloud_with_snow::before {
  content: "\1F328";
}
.emoji.emoji-travel_and_places-sky_and_weather-cloud_with_lightning::before {
  content: "\1F329";
}
.emoji.emoji-travel_and_places-sky_and_weather-tornado::before {
  content: "\1F32A";
}
.emoji.emoji-travel_and_places-sky_and_weather-fog::before {
  content: "\1F32B";
}
.emoji.emoji-travel_and_places-sky_and_weather-wind_face::before {
  content: "\1F32C";
}
.emoji.emoji-travel_and_places-sky_and_weather-cyclone::before {
  content: "\1F300";
}
.emoji.emoji-travel_and_places-sky_and_weather-rainbow::before {
  content: "\1F308";
}
.emoji.emoji-travel_and_places-sky_and_weather-closed_umbrella::before {
  content: "\1F302";
}
.emoji.emoji-travel_and_places-sky_and_weather-umbrella::before {
  content: "\2602";
}
.emoji.emoji-travel_and_places-sky_and_weather-umbrella_with_rain_drops::before {
  content: "\2614";
}
.emoji.emoji-travel_and_places-sky_and_weather-umbrella_on_ground::before {
  content: "\26F1";
}
.emoji.emoji-travel_and_places-sky_and_weather-high_voltage::before {
  content: "\26A1";
}
.emoji.emoji-travel_and_places-sky_and_weather-snowflake::before {
  content: "\2744";
}
.emoji.emoji-travel_and_places-sky_and_weather-snowman::before {
  content: "\2603";
}
.emoji.emoji-travel_and_places-sky_and_weather-snowman_without_snow::before {
  content: "\26C4";
}
.emoji.emoji-travel_and_places-sky_and_weather-comet::before {
  content: "\2604";
}
.emoji.emoji-travel_and_places-sky_and_weather-fire::before {
  content: "\1F525";
}
.emoji.emoji-travel_and_places-sky_and_weather-droplet::before {
  content: "\1F4A7";
}
.emoji.emoji-travel_and_places-sky_and_weather-water_wave::before {
  content: "\1F30A";
}