.emoji.emoji-animals_and_nature-animal_marine-spouting_whale::before {
  content: "\1F433";
}
.emoji.emoji-animals_and_nature-animal_marine-whale::before {
  content: "\1F40B";
}
.emoji.emoji-animals_and_nature-animal_marine-dolphin::before {
  content: "\1F42C";
}
.emoji.emoji-animals_and_nature-animal_marine-fish::before {
  content: "\1F41F";
}
.emoji.emoji-animals_and_nature-animal_marine-tropical_fish::before {
  content: "\1F420";
}
.emoji.emoji-animals_and_nature-animal_marine-blowfish::before {
  content: "\1F421";
}
.emoji.emoji-animals_and_nature-animal_marine-shark::before {
  content: "\1F988";
}
.emoji.emoji-animals_and_nature-animal_marine-octopus::before {
  content: "\1F419";
}
.emoji.emoji-animals_and_nature-animal_marine-spiral_shell::before {
  content: "\1F41A";
}