.emoji.emoji-symbols-other_symbol-medical_symbol::before {
  content: "\2695";
}
.emoji.emoji-symbols-other_symbol-recycling_symbol::before {
  content: "\267B";
}
.emoji.emoji-symbols-other_symbol-fleur_de_lis::before {
  content: "\269C";
}
.emoji.emoji-symbols-other_symbol-trident_emblem::before {
  content: "\1F531";
}
.emoji.emoji-symbols-other_symbol-name_badge::before {
  content: "\1F4DB";
}
.emoji.emoji-symbols-other_symbol-japanese_symbol_for_beginner::before {
  content: "\1F530";
}
.emoji.emoji-symbols-other_symbol-hollow_red_circle::before {
  content: "\2B55";
}
.emoji.emoji-symbols-other_symbol-check_mark_button::before {
  content: "\2705";
}
.emoji.emoji-symbols-other_symbol-check_box_with_check::before {
  content: "\2611";
}
.emoji.emoji-symbols-other_symbol-check_mark::before {
  content: "\2714";
}
.emoji.emoji-symbols-other_symbol-cross_mark::before {
  content: "\274C";
}
.emoji.emoji-symbols-other_symbol-cross_mark_button::before {
  content: "\274E";
}
.emoji.emoji-symbols-other_symbol-curly_loop::before {
  content: "\27B0";
}
.emoji.emoji-symbols-other_symbol-double_curly_loop::before {
  content: "\27BF";
}
.emoji.emoji-symbols-other_symbol-part_alternation_mark::before {
  content: "\303D";
}
.emoji.emoji-symbols-other_symbol-eight_spoked_asterisk::before {
  content: "\2733";
}
.emoji.emoji-symbols-other_symbol-eight_pointed_star::before {
  content: "\2734";
}
.emoji.emoji-symbols-other_symbol-sparkle::before {
  content: "\2747";
}
.emoji.emoji-symbols-other_symbol-copyright::before {
  content: "\00A9";
}
.emoji.emoji-symbols-other_symbol-registered::before {
  content: "\00AE";
}
.emoji.emoji-symbols-other_symbol-trade_mark::before {
  content: "\2122";
}