.emoji.emoji-activities-sport-soccer_ball::before {
  content: "\26BD";
}
.emoji.emoji-activities-sport-baseball::before {
  content: "\26BE";
}
.emoji.emoji-activities-sport-softball::before {
  content: "\1F94E";
}
.emoji.emoji-activities-sport-basketball::before {
  content: "\1F3C0";
}
.emoji.emoji-activities-sport-volleyball::before {
  content: "\1F3D0";
}
.emoji.emoji-activities-sport-american_football::before {
  content: "\1F3C8";
}
.emoji.emoji-activities-sport-rugby_football::before {
  content: "\1F3C9";
}
.emoji.emoji-activities-sport-tennis::before {
  content: "\1F3BE";
}
.emoji.emoji-activities-sport-flying_disc::before {
  content: "\1F94F";
}
.emoji.emoji-activities-sport-bowling::before {
  content: "\1F3B3";
}
.emoji.emoji-activities-sport-cricket_game::before {
  content: "\1F3CF";
}
.emoji.emoji-activities-sport-field_hockey::before {
  content: "\1F3D1";
}
.emoji.emoji-activities-sport-ice_hockey::before {
  content: "\1F3D2";
}
.emoji.emoji-activities-sport-lacrosse::before {
  content: "\1F94D";
}
.emoji.emoji-activities-sport-ping_pong::before {
  content: "\1F3D3";
}
.emoji.emoji-activities-sport-badminton::before {
  content: "\1F3F8";
}
.emoji.emoji-activities-sport-boxing_glove::before {
  content: "\1F94A";
}
.emoji.emoji-activities-sport-martial_arts_uniform::before {
  content: "\1F94B";
}
.emoji.emoji-activities-sport-goal_net::before {
  content: "\1F945";
}
.emoji.emoji-activities-sport-flag_in_hole::before {
  content: "\26F3";
}
.emoji.emoji-activities-sport-ice_skate::before {
  content: "\26F8";
}
.emoji.emoji-activities-sport-fishing_pole::before {
  content: "\1F3A3";
}
.emoji.emoji-activities-sport-diving_mask::before {
  content: "\1F93F";
}
.emoji.emoji-activities-sport-running_shirt::before {
  content: "\1F3BD";
}
.emoji.emoji-activities-sport-skis::before {
  content: "\1F3BF";
}
.emoji.emoji-activities-sport-sled::before {
  content: "\1F6F7";
}
.emoji.emoji-activities-sport-curling_stone::before {
  content: "\1F94C";
}