.emoji.emoji-symbols-warning-warning::before {
  content: "\26A0";
}
.emoji.emoji-symbols-warning-children_crossing::before {
  content: "\1F6B8";
}
.emoji.emoji-symbols-warning-no_entry::before {
  content: "\26D4";
}
.emoji.emoji-symbols-warning-prohibited::before {
  content: "\1F6AB";
}
.emoji.emoji-symbols-warning-no_bicycles::before {
  content: "\1F6B3";
}
.emoji.emoji-symbols-warning-no_smoking::before {
  content: "\1F6AD";
}
.emoji.emoji-symbols-warning-no_littering::before {
  content: "\1F6AF";
}
.emoji.emoji-symbols-warning-non_potable_water::before {
  content: "\1F6B1";
}
.emoji.emoji-symbols-warning-no_pedestrians::before {
  content: "\1F6B7";
}
.emoji.emoji-symbols-warning-no_mobile_phones::before {
  content: "\1F4F5";
}
.emoji.emoji-symbols-warning-no_one_under_eighteen::before {
  content: "\1F51E";
}
.emoji.emoji-symbols-warning-radioactive::before {
  content: "\2622";
}
.emoji.emoji-symbols-warning-biohazard::before {
  content: "\2623";
}