.emoji.emoji-people_and_body-body_parts-flexed_biceps::before {
  content: "\1F4AA";
}
.emoji.emoji-people_and_body-body_parts-mechanical_arm::before {
  content: "\1F9BE";
}
.emoji.emoji-people_and_body-body_parts-mechanical_leg::before {
  content: "\1F9BF";
}
.emoji.emoji-people_and_body-body_parts-leg::before {
  content: "\1F9B5";
}
.emoji.emoji-people_and_body-body_parts-foot::before {
  content: "\1F9B6";
}
.emoji.emoji-people_and_body-body_parts-ear::before {
  content: "\1F442";
}
.emoji.emoji-people_and_body-body_parts-ear_with_hearing_aid::before {
  content: "\1F9BB";
}
.emoji.emoji-people_and_body-body_parts-nose::before {
  content: "\1F443";
}
.emoji.emoji-people_and_body-body_parts-brain::before {
  content: "\1F9E0";
}
.emoji.emoji-people_and_body-body_parts-tooth::before {
  content: "\1F9B7";
}
.emoji.emoji-people_and_body-body_parts-bone::before {
  content: "\1F9B4";
}
.emoji.emoji-people_and_body-body_parts-eyes::before {
  content: "\1F440";
}
.emoji.emoji-people_and_body-body_parts-eye::before {
  content: "\1F441";
}
.emoji.emoji-people_and_body-body_parts-tongue::before {
  content: "\1F445";
}
.emoji.emoji-people_and_body-body_parts-mouth::before {
  content: "\1F444";
}