.emoji.emoji-people_and_body-person_symbol-speaking_head::before {
  content: "\1F5E3";
}
.emoji.emoji-people_and_body-person_symbol-bust_in_silhouette::before {
  content: "\1F464";
}
.emoji.emoji-people_and_body-person_symbol-busts_in_silhouette::before {
  content: "\1F465";
}
.emoji.emoji-people_and_body-person_symbol-footprints::before {
  content: "\1F463";
}