.emoji.emoji-symbols-geometric-red_circle::before {
  content: "\1F534";
}
.emoji.emoji-symbols-geometric-orange_circle::before {
  content: "\1F7E0";
}
.emoji.emoji-symbols-geometric-yellow_circle::before {
  content: "\1F7E1";
}
.emoji.emoji-symbols-geometric-green_circle::before {
  content: "\1F7E2";
}
.emoji.emoji-symbols-geometric-blue_circle::before {
  content: "\1F535";
}
.emoji.emoji-symbols-geometric-purple_circle::before {
  content: "\1F7E3";
}
.emoji.emoji-symbols-geometric-brown_circle::before {
  content: "\1F7E4";
}
.emoji.emoji-symbols-geometric-black_circle::before {
  content: "\26AB";
}
.emoji.emoji-symbols-geometric-white_circle::before {
  content: "\26AA";
}
.emoji.emoji-symbols-geometric-red_square::before {
  content: "\1F7E5";
}
.emoji.emoji-symbols-geometric-orange_square::before {
  content: "\1F7E7";
}
.emoji.emoji-symbols-geometric-yellow_square::before {
  content: "\1F7E8";
}
.emoji.emoji-symbols-geometric-green_square::before {
  content: "\1F7E9";
}
.emoji.emoji-symbols-geometric-blue_square::before {
  content: "\1F7E6";
}
.emoji.emoji-symbols-geometric-purple_square::before {
  content: "\1F7EA";
}
.emoji.emoji-symbols-geometric-brown_square::before {
  content: "\1F7EB";
}
.emoji.emoji-symbols-geometric-black_large_square::before {
  content: "\2B1B";
}
.emoji.emoji-symbols-geometric-white_large_square::before {
  content: "\2B1C";
}
.emoji.emoji-symbols-geometric-black_medium_square::before {
  content: "\25FC";
}
.emoji.emoji-symbols-geometric-white_medium_square::before {
  content: "\25FB";
}
.emoji.emoji-symbols-geometric-black_medium_small_square::before {
  content: "\25FE";
}
.emoji.emoji-symbols-geometric-white_medium_small_square::before {
  content: "\25FD";
}
.emoji.emoji-symbols-geometric-black_small_square::before {
  content: "\25AA";
}
.emoji.emoji-symbols-geometric-white_small_square::before {
  content: "\25AB";
}
.emoji.emoji-symbols-geometric-large_orange_diamond::before {
  content: "\1F536";
}
.emoji.emoji-symbols-geometric-large_blue_diamond::before {
  content: "\1F537";
}
.emoji.emoji-symbols-geometric-small_orange_diamond::before {
  content: "\1F538";
}
.emoji.emoji-symbols-geometric-small_blue_diamond::before {
  content: "\1F539";
}
.emoji.emoji-symbols-geometric-red_triangle_pointed_up::before {
  content: "\1F53A";
}
.emoji.emoji-symbols-geometric-red_triangle_pointed_down::before {
  content: "\1F53B";
}
.emoji.emoji-symbols-geometric-diamond_with_a_dot::before {
  content: "\1F4A0";
}
.emoji.emoji-symbols-geometric-radio_button::before {
  content: "\1F518";
}
.emoji.emoji-symbols-geometric-white_square_button::before {
  content: "\1F533";
}
.emoji.emoji-symbols-geometric-black_square_button::before {
  content: "\1F532";
}