.emoji.emoji-symbols-religion-place_of_worship::before {
  content: "\1F6D0";
}
.emoji.emoji-symbols-religion-atom_symbol::before {
  content: "\269B";
}
.emoji.emoji-symbols-religion-om::before {
  content: "\1F549";
}
.emoji.emoji-symbols-religion-star_of_david::before {
  content: "\2721";
}
.emoji.emoji-symbols-religion-wheel_of_dharma::before {
  content: "\2638";
}
.emoji.emoji-symbols-religion-yin_yang::before {
  content: "\262F";
}
.emoji.emoji-symbols-religion-latin_cross::before {
  content: "\271D";
}
.emoji.emoji-symbols-religion-orthodox_cross::before {
  content: "\2626";
}
.emoji.emoji-symbols-religion-star_and_crescent::before {
  content: "\262A";
}
.emoji.emoji-symbols-religion-peace_symbol::before {
  content: "\262E";
}
.emoji.emoji-symbols-religion-menorah::before {
  content: "\1F54E";
}
.emoji.emoji-symbols-religion-dotted_six_pointed_star::before {
  content: "\1F52F";
}